@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head(messages(MessageKeys.DEVELOPMENT)){

		@libraries.standard.head()
		@libraries.materialicons.head()
	}

	@body("development","http"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Ajax", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"ajax"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="row">
						<div class="form-group col-sm-6 form-inline container">
							<label for="timeoutField" class="col-sm-5 pr-2">Timeout</label>
							<input type="number" class="form-control col-sm-7" id="timeoutField" placeholder="Timeout" value="10000">
						</div>
						<div class="form-group col-sm-6 form-inline container">
							<label for="waitTimeField" class="col-sm-5 pr-2">Wait time</label>
							<input type="number" class="form-control col-sm-7" id="waitTimeField" placeholder="WaitTime" value="3000">
						</div>
					</div>
					@components.modal(Map("id"->"ajaxDialog", "icon"->"fas fa-spinner fa-pulse", "title"->messages(MessageKeys.REQUEST), "closable"->"false", "data-backdrop"->"static"), List(
							Map("id"->"ajaxCancel", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.CANCEL), "enabled"->"false", "data-dismiss"->"modal")
						)){
						<div class="wordwrap">
							<div id="ajaxMessage" class="lead">@messages(MessageKeys.PLEASE__WAIT)</div>
							<div id="ajaxDescription">-</div>
						</div>
						@components.progress(Map("id"->"ajaxProgress", "value"->"100", "max"->"100", "striped"->"true", "animated"->"true"))
					}

					<div class="text-right">

						@components.button(Map("id"->"postButton", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.REQUEST), "data-toggle"->"modal","data-target"->"#ajaxDialog"))
					</div>

					<div class="mb-3">
					</div>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.PLEASE__WAIT":"@messages(MessageKeys.PLEASE__WAIT)",
			"@MessageKeys.FAILURE":"@messages(MessageKeys.FAILURE)",
			"@MessageKeys.STATUS":"@messages(MessageKeys.STATUS)",
			"@MessageKeys.ERROR":"@messages(MessageKeys.ERROR)"
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/development/http/ajax.js")'></script>
	}
}
