@import play.i18n.Lang
@import play.i18n.Messages

@import play.i18n.Lang
@import play.i18n.Messages

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="@controllers.development.http.routes.Http.index("ajax").toString()" class="list-group-item @("active".when(equalTask("ajax")))">Ajax</a>
	<a href="@controllers.development.http.routes.Http.index("serialajax").toString()" class="list-group-item @("active".when(equalTask("serialajax")))">Serial Ajax</a>
	<a href="@controllers.development.http.routes.Http.index("parallelajax").toString()" class="list-group-item @("active".when(equalTask("parallelajax")))">Parallel Ajax</a>
</div>
