@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@(method: String, uri: String)

@frame(){

	@head("Page not found"){

		@libraries.standard.head()
	}

	@body("error","notfound"){

		@components.modal(Map("id"->"notfoundModal", "title"->("404 " + Messages(MessageKeys.SYSTEM_ERROR_X_NOTEXIST, Messages(MessageKeys.PAGE)))), List(
				Map("id"->"notfoundModalOk", "type"->"primary", "text"->"OK", "default"->"true")
			)){

			<i class="fa fa-exclamation-triangle fa-3x fa-pull-left fa-border text-warning"></i>
			<p>@method</p>
			<p>@uri</p>
		}

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/error/notfound.js")'></script>
	}
}