@charset "utf-8";

#system_menu>.navbar-brand>img{
	height:1.8rem;
}

#system_menu .nav-item.active {

	border-radius: 4px;
	background-color: gainsboro;
	border: solid 1px lightgray;
}
@media (max-width: 34em) {

	.nav-item{
		float:none !important
	}
	.top::after{
		display: table;
		clear: both;
		content: "";
	}
}
