@import models.user.User._

@()

<link rel='stylesheet'
	href='@routes.Assets.versioned("lib/tether-shepherd/dist/css/shepherd-theme-default.css")'>

@style(){

	.shepherd-element.shepherd-theme-default.shepherd-element-attached-top.shepherd-element-attached-center.shepherd-has-title .shepherd-content:before, .shepherd-element.shepherd-theme-default.shepherd-element-attached-top.shepherd-element-attached-right.shepherd-target-attached-bottom.shepherd-has-title .shepherd-content:before, .shepherd-element.shepherd-theme-default.shepherd-element-attached-top.shepherd-element-attached-left.shepherd-target-attached-bottom.shepherd-has-title .shepherd-content:before {

		border-bottom-color: @models.user.User.Theme.valueOf(session.getOrElse(models.user.User.THEME, models.user.User.Theme.DEFAULT.name())).getPrimary().getDisabledBackgroundColor().toHex();
	}

	.shepherd-element.shepherd-theme-default.shepherd-has-title .shepherd-content header {

		background: @models.user.User.Theme.valueOf(session.getOrElse(models.user.User.THEME, models.user.User.Theme.DEFAULT.name())).getPrimary().getDisabledBackgroundColor().toHex();
	}

	.shepherd-element.shepherd-theme-default .shepherd-content footer .shepherd-buttons li .shepherd-button {

		background: @models.user.User.Theme.valueOf(session.getOrElse(models.user.User.THEME, models.user.User.Theme.DEFAULT.name())).getPrimary().getBackgroundColor().toHex();
	}
}