@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConverters._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components

@import common.system._

@(name: String)(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("section"){

		@libraries.standard.head()
	}

	@body("section","work"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->(messages(MessageKeys.TASK)+" 2"), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			@tasks(Map("id"->"", "task"->"task2"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class=" mt-3">

				@helper.form(helper.CSRF(controllers.section.work.routes.Work.task2Request())) {
					<label for="name" class="col-form-label">@messages(MessageKeys.FULL__NAME)</label>
					<input id="name" type="text" name="name" class="form-control" value="" autofocus>
					@components.button(Map("id"->"sendButton", "action"->"submit", "type"->"primary", "text"->messages(MessageKeys.SEND)))
				}
			</div>

			@if(!name.isEmpty){
			<div class=" mt-3">

				@messages(MessageKeys.WELCOME)&nbsp;@name
			</div>
			}
		}

		@libraries.standard.last()
	}
}
