@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._

@(prop:scala.collection.immutable.Map[String, String], elements:Seq[scala.collection.immutable.Map[String, String]])

<ol id="@prop.getOrElse("id", "")" class="breadcrumb @Attributes.classValue(prop)" style="@Attributes.styleValue(prop)" @Html(Attributes.datas(prop))>
	@for(i <- 0 to elements.size - 1){
	<li class="breadcrumb-item @("active".when(Boolean.valueOf(elements(i).getOrElse("selected", "false"))))">
		@if(elements(i).contains("link")){
		<a href="@elements(i).get("link")">
		}
			<i class="@elements(i).getOrElse("icon", "")"></i>
			@elements(i).getOrElse("name", "")
		@if(elements(i).contains("link")){
		</a>
		}
	</li>
	}
</ol>
