@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import views.html._
@import views.html.components

@(prop:scala.collection.immutable.Map[String, String], elements:Seq[scala.collection.immutable.Map[String, String]])

<div id="@prop.getOrElse("id", "")" class="btn-group@("-vertical".when("vertical".equals(prop.getOrElse("direction", "horizontal")))) btn-group-@prop.getOrElse("size", "") @Attributes.classValue(prop)" @Html(Attributes.datas(prop)) role="group">
	@for(i <- 0 to elements.size - 1){
		@components.button(elements(i))
	}
</div>
