@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import views.html._
@import views.html.components

@(prop:scala.collection.immutable.Map[String, String], elements:Seq[scala.collection.immutable.Map[String, String]])

<ul id="@prop.getOrElse("id", "")" class="nav @("nav-tabs".when(Boolean.valueOf(prop.getOrElse("tabs", "false")))) @("nav-pills".when(Boolean.valueOf(prop.getOrElse("pills", "false")))) @("flex-column".when(Boolean.valueOf(prop.getOrElse("vertical", "false")))) @Attributes.classValue(prop)" @Html(Attributes.datas(prop))>
	@for(i <- 0 to elements.size - 1){
	<li class="nav-item">
		<a href="@elements(i).getOrElse("link", "#")" class="nav-link @("active".when(Boolean.valueOf(elements(i).getOrElse("selected", "false")))) @("disabled".when(!Boolean.valueOf(elements(i).getOrElse("enabled", "true")))) @Attributes.classValue(elements(i))" @Html(Attributes.datas(elements(i)))>
			@components.icon(Map("type"->prop.getOrElse("iconType", ""), "icon"->elements(i).getOrElse("icon", "")))
			@elements(i).getOrElse("name", "")
			@components.badge(Map("type"->prop.getOrElse("badgeType", "secondary"), "pill"->"true", "text"->elements(i).getOrElse("badge", ""), "class"->("align-text-bottom" + " " + (if(Boolean.valueOf(prop.getOrElse("vertical", "false"))){"float-right"}else{""}))))
		</a>
	</li>
	}
</ul>
