@(prop:scala.collection.immutable.Map[String, String], elements:Seq[scala.collection.immutable.Map[String, String]])

<div id="@prop.getOrElse("id", "")" class="btn-group btn-group-toggle @Attributes.classValue(prop)" @Html(Attributes.datas(prop)) data-toggle="buttons">
	@for(i <- 0 to elements.size - 1){
	<label class="btn btn-@("outline-".when(Boolean.valueOf(elements(i).getOrElse("outline", "false"))))@elements(i).getOrElse("type", "primary") @("active".when(Boolean.valueOf(elements(i).getOrElse("selected", "false"))))">
		<i class="@elements(i).getOrElse("icon", "")"></i>
		<input type="radio" name="options" id=@("option"+i) autocomplete="off" @("checked".when(Boolean.valueOf(elements(i).getOrElse("selected", "false"))))>
		@elements(i).getOrElse("name", "")
	</label>
	}
</div>