@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import views.html._
@import views.html.components

@(prop:scala.collection.immutable.Map[String, String])

@components.card(Map("id"->prop.getOrElse("id", ""), "class"->("unlock" + " " + Attributes.classValue(prop)), "type"->"light")){

	<div class="position-absolute text-center w-100 h4 mt-1 text-muted">@prop.getOrElse("text", "")</div>
	<div class="d-flex justify-content-between">
		<div class="unlock-start">@components.linkbutton(Map("id"->"", "class"->"unlock-handle", "icon"->prop.getOrElse("icon", "fas fa-arrow-right fa-dir-flip-horizontal")))</div>
		<div class="unlock-end">@components.linkbutton(Map("id"->"", "class"->"invisible", "icon"->"fas fa-arrow-right"))</div>
	</div>
}
