@import play.i18n.Lang
@import play.i18n.Messages


@import play.i18n.Lang
@import play.i18n.Messages

@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

<!-- moment loaded. -->
<div id="frappegantt_messages" class="d-none" data-messages='{
	"@MessageKeys.FRAPPEGANTT_LANG":"@messages(MessageKeys.FRAPPEGANTT_LANG)"
}'></div>
<script @{CSPNonce.attr} src='@routes.Assets.versioned("lib/custom/frappegantt/last_before.js")'></script>

<script @{CSPNonce.attr} type='text/javascript' src='@routes.Assets.versioned("lib/gantt/dist/frappe-gantt.min.js")'></script>

<script @{CSPNonce.attr} src='@routes.Assets.versioned("lib/custom/frappegantt/head.css.js")'></script>
