@import play.api.i18n._

@import common.system._

@()

@style(){

	.gantt .bar-progress{

		fill: @models.user.User.Theme.valueOf(session.getOrElse(models.user.User.THEME, models.user.User.Theme.DEFAULT.name())).getPrimary().getDisabledBackgroundColor().toHex();
	}
}

<!-- moment loaded. -->
<script type='text/javascript'>moment.locale('@Messages(MessageKeys.FRAPPEGANTT_LANG)');</script>

<script type='text/javascript'
	src='@routes.Assets.versioned("lib/gantt/dist/frappe-gantt.min.js")'></script>
