@import play.api.i18n._

@import common.system._

@()

<script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/core.min.js")'></script>

<!-- moment loaded. -->
<div id="frappegantt_messages" class="d-none" data-messages='{
	"@MessageKeys.FRAPPEGANTT_LANG":"@Messages(MessageKeys.FRAPPEGANTT_LANG)"
}'></div>
<script src='@routes.Assets.versioned("lib/custom/frappegantt/last_before.js")'></script>

<script type='text/javascript' src='@routes.Assets.versioned("lib/gantt/dist/frappe-gantt.min.js")'></script>

<script src='@routes.Assets.versioned("lib/custom/frappegantt/head.css.js")'></script>
