@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import play.api.i18n._
@import views.html._
@import views.html.components

@import models.user._
@import models.registuser._

@import common.system._

@(form: play.data.Form[models.registuser.RegistFormContent])

@frame(){

	@top.head(Messages(MessageKeys.REGISTUSER)){

		@libraries.standard.head()
	}

	@top.body("top","registuser"){

		@components.adjust.spacetop()

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="row">
				<div class="col-md-1 col-lg-2 col-xl-3">
				</div>
				<div class="col-md-10 col-lg-8 col-xl-6 p-0">
					@components.card(Map("id"->"completePanel", "class"->"shadow-sm m-3")){
						<div class="card-header">
							@Messages(MessageKeys.REGISTUSER)
						</div>
						<div class="card-body">

							<h4 class="card-title">@Messages(MessageKeys.REGISTUSER_PROVISIONAL_COMPLETE)</h4>
							<p class="card-text">@Messages(MessageKeys.REGISTUSER_PROVISIONAL_COMPLETE_DESCRIPTION)</p>
							<div class="form-group row">
								<label for="@User.USER_ID" class="col-sm-3 col-form-label">@Messages(MessageKeys.USER_USERID)</label>
								<div class="col-sm-9">
									<input id="@User.USER_ID" type="email" name="@User.USER_ID" class="form-control" placeholder="Email" value="@form(User.USER_ID).getValue.orElse("")" required disabled>
								</div>
							</div>
							<div class="form-group row">
								<label for="@User.PASSWORD" class="col-sm-3 col-form-label">@Messages(MessageKeys.USER_PASSWORD)</label>
								<div class="col-sm-9">
									<input id="@User.PASSWORD" type="password" name="@User.PASSWORD" class="form-control" placeholder="Password" value="@form(User.PASSWORD).getValue.orElse("")" required disabled>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-12 text-right">
									@components.linkbutton(Map("id"->"topButton", "type"->"primary", "text"->Messages(MessageKeys.OK), "link"->controllers.user.routes.User.index().toString, "default"->"true", "class"->"float-right"))
								</div>
							</div>

						</div>
						<div class="card-footer text-muted">
						</div>
					}
				</div>
				<div class="col-md-1 col-lg-2 col-xl-3">
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
		<script src='@routes.Assets.versioned("javascripts/registuser/provisional/complete.js")'></script>
	}
}