@import play.i18n.Lang
@import play.i18n.Messages

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

<link rel='stylesheet' href='@routes.Assets.versioned("lib/pickadate/lib/compressed/themes/default.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("lib/pickadate/lib/compressed/themes/default.date.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("lib/pickadate/lib/compressed/themes/default.time.css")'>

@translation() = @{

	val isLTR = models.system.System.Direction.LTR == common.utils.Locales.toDirection(lang.locale);
	if(isLTR){

		Html("")
	}else{

		var path = "lib/pickadate/lib/themes/rtl.css"
		Html("<link rel='stylesheet' href='"+routes.Assets.versioned(path)+"'>")
	}
}
@translation()

<link rel='stylesheet' href='@routes.Assets.versioned("lib/custom/pickadate/head.css")'>
