@import play.i18n.Lang
@import play.i18n.Messages

@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

<script @{CSPNonce.attr} type='text/javascript'
	src='@routes.Assets.versioned("lib/custom/pickadate/head.css.js")'></script>

<script @{CSPNonce.attr} type='text/javascript' src='@routes.Assets.versioned("lib/pickadate/lib/compressed/picker.js")'></script>
<script @{CSPNonce.attr} type='text/javascript' src='@routes.Assets.versioned("lib/pickadate/lib/compressed/picker.date.js")'></script>
<script @{CSPNonce.attr} type='text/javascript' src='@routes.Assets.versioned("lib/pickadate/lib/compressed/picker.time.js")'></script>
@translation() = @{

	var lang = messages(MessageKeys.PICKADATE_LANG)
	if(lang.isEmpty){

		Html("")
	}else{

		var path = "lib/pickadate/lib/translations/"+lang+".js"
		Html("<script " + CSPNonce.attr + " type='text/javascript' src='"+routes.Assets.versioned(path)+"'></script>")
	}
}
@translation()