@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components

@import common.system._

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@elements() = @{

	val lastElement = prop - "id"
	val elements = scala.collection.mutable.ListBuffer[Map[String, String]](
		Map("name"->messages(MessageKeys.ENVIRONMENT), "icon"->"fas fa-thermometer-half", "link"->controllers.environment.openjdk.routes.OpenJDK.index("systemproperties").toString()),
		Map("name"->messages(MessageKeys.BROWSER), "icon"->"fab fa-safari", "link"->controllers.environment.browser.routes.Browser.index("navigator").toString())
	)
	elements += lastElement

	elements.toList
}

@components.adjust.breadcrumb(Map("id"->prop.getOrElse("id", ""), "foldSize"->"xs"), elements())
