@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.jdk.CollectionConverters._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._
@import views.html.development

@import common.system._

@(map: java.util.Map[String, Object])(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head(messages(MessageKeys.ENVIRONMENT)){

		@libraries.standard.head()
	}

	@body("environment","browser"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Navigator", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		<div class="container-fluid">

			@tasks(Map("id"->"", "task"->"navigator"))
		</div>

		<div class="container-fluid">

			@components.badge(Map("id"->"OnLine", "type"->"danger", "text"->"OnLine"))
			@components.badge(Map("id"->"Cookie", "type"->"danger", "text"->"Cookie"))
			@components.badge(Map("id"->"Geolocation", "type"->"danger", "text"->"Geolocation"))
			@components.badge(Map("id"->"MediaDevices", "type"->"danger", "text"->"MediaDevices"))
			@components.badge(Map("id"->"Share", "type"->"danger", "text"->"Share"))
			@components.badge(Map("id"->"Vibration", "type"->"danger", "text"->"Vibration"))

			@development.proptable("navigatorPropTable", map)

			<h2 class="headline">Mime Types</h2>
			<div class="table-responsive">
				@components.table(Map("id"->"mimeTypeTable", "bordered"->"true", "striped"->"true"),
					Map("id"->""),Tuple2(Map("id"->""),List(
						Map("id"->"", "head"->"true", "text"->"DESCRIPTION"),
						Map("id"->"", "head"->"true", "text"->"TYPE"),
						Map("id"->"", "head"->"true", "text"->"SUFFIXES"))),
					Map("id"->""),List(),
					Map("id"->""),Tuple2(Map("id"->""),List())
				)
			</div>
		</div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/environment/browser/navigator.js")'></script>
	}
}
