@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

@components.adjust.nav(Map("id"->prop.getOrElse("id", ""), "tabs"->"true", "foldSize"->"xs"), Seq(
	Map("name"->"Navigator", "icon"->"fas fa-pencil-alt", "link"->controllers.environment.browser.routes.Browser.index("navigator").toString, "selected"->equalTask("navigator").toString),
	Map("name"->"Window", "icon"->"fas fa-pencil-alt", "link"->controllers.environment.browser.routes.Browser.index("window").toString, "selected"->equalTask("window").toString),
	Map("name"->"Document", "icon"->"fas fa-pencil-alt", "link"->controllers.environment.browser.routes.Browser.index("document").toString, "selected"->equalTask("document").toString),
	Map("name"->"Box", "icon"->"fas fa-pencil-alt", "link"->controllers.environment.browser.routes.Browser.index("box").toString, "selected"->equalTask("box").toString),
	Map("name"->"Position", "icon"->"fas fa-pencil-alt", "link"->controllers.environment.browser.routes.Browser.index("position").toString, "selected"->equalTask("position").toString),
	Map("name"->"Event", "icon"->"fas fa-pencil-alt", "link"->controllers.environment.browser.routes.Browser.index("event").toString, "selected"->equalTask("event").toString)
))
