@import scala.collection.JavaConversions._
@import scala.collection.JavaConverters._

@import views.html._
@import views.html.components
@import views.html.helper._
@import views.html.development

@import common.system._

@(map: Map[String, Object])

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@frame(){

	@head(Messages(MessageKeys.ENVIRONMENT)){

		@libraries.standard.head()
	}

	@body("environment","browser"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Window", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		<div class="container-fluid">

			@tasks(Map("id"->"", "task"->"window"))
		</div>

		<div class="container-fluid">

			@components.badge(Map("id"->"jQuery", "type"->"danger", "text"->"jQuery"))
			@components.badge(Map("id"->"HTML5Audio", "type"->"danger", "text"->"HTML5Audio"))
			@components.badge(Map("id"->"HTML5Video", "type"->"danger", "text"->"HTML5Video"))
			@components.badge(Map("id"->"Canvas", "type"->"danger", "text"->"Canvas"))
			@components.badge(Map("id"->"SessionStorage", "type"->"danger", "text"->"SessionStorage"))
			@components.badge(Map("id"->"LocalStorage", "type"->"danger", "text"->"LocalStorage"))
			@components.badge(Map("id"->"File", "type"->"danger", "text"->"File"))
			@components.badge(Map("id"->"FileReader", "type"->"danger", "text"->"FileReader"))
			@components.badge(Map("id"->"URL", "type"->"danger", "text"->"URL"))
			@components.badge(Map("id"->"Blob", "type"->"danger", "text"->"Blob"))
			@components.badge(Map("id"->"WebSocket", "type"->"danger", "text"->"WebSocket"))
			@components.badge(Map("id"->"WebWorkers", "type"->"danger", "text"->"WebWorkers"))
			@components.badge(Map("id"->"WebAudio", "type"->"danger", "text"->"WebAudio"))
			@components.badge(Map("id"->"Notification", "type"->"danger", "text"->"Notification"))
			@components.badge(Map("id"->"CrossDocumentMessaging", "type"->"danger", "text"->"CrossDocumentMessaging"))
			@components.badge(Map("id"->"SpeechSynthesis", "type"->"danger", "text"->"SpeechSynthesis"))
			@components.badge(Map("id"->"SpeechRecognition", "type"->"danger", "text"->"SpeechRecognition"))
			@components.badge(Map("id"->"DeviceOrientationEvent", "type"->"danger", "text"->"DeviceOrientationEvent"))
			@components.badge(Map("id"->"DeviceMotionEvent", "type"->"danger", "text"->"DeviceMotionEvent"))
			@components.badge(Map("id"->"WebSQLDatabase", "type"->"danger", "text"->"WebSQLDatabase"))
			@components.badge(Map("id"->"IndexedDatabase", "type"->"danger", "text"->"IndexedDatabase"))
			@components.badge(Map("id"->"ActiveX", "type"->"danger", "text"->"ActiveX"))
			@components.badge(Map("id"->"XMLHttpRequestLevel2", "type"->"danger", "text"->"XMLHttpRequestLevel2"))

			@development.proptable("", map.asScala.toMap)
		</div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/environment/browser/window.js")'></script>
	}
}