@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import java.time.format._
@import play.i18n.Lang
@import play.i18n.Messages
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._
@import common.utils._
@import models.manage.company._
@import models.company._
@import models.company.Company._

@(form: play.data.Form[ReadFormContent], companies: java.util.List[Company])(implicit request:Http.Request, lang: Lang, messages: Messages)

@datetime(dateTime: LocalDateTime) = @{

	common.utils.DateTimes.toClientDateTime(request, dateTime)
}

@datetimeFormat(dateTime: LocalDateTime) = @{

	DateTimeFormatter.ofLocalizedDateTime(FormatStyle.MEDIUM).withLocale(lang.toLocale).format(dateTime)
}

@tbodyRowToColumnsList(companies: java.util.List[Company]) = @{

	val tbodyRowToColumnsList = scala.collection.mutable.ListBuffer[Tuple2[ /*tr*/ scala.collection.immutable.Map[String, String], /*tds*/ Seq[scala.collection.immutable.Map[String, String]]]]();
	for(company <- companies) {

		val tbodyRow = Map[String, String]("type"->"");

		val columnsList = List[scala.collection.immutable.Map[String, String]](
			Map("text"->String.valueOf(company.getId())),
			Map("text"->company.getNames().get(Locale.US).getName()),
			Map("text"->(if(company.getNames().containsKey(lang.toLocale)){company.getNames().get(lang.toLocale).getName()}else{""})),
			Map("text"->datetimeFormat(datetime(company.getUpdateDateTime()))),
			Map("text"->company.getVersion.toString),
			Map("text"->components.button(Map("id"->"", "class"->"nextButton", "type"->"link", "icon"->"fas fa-arrow-circle-right fa-dir-flip-horizontal", "text"->"")).toString())
		);

		tbodyRowToColumnsList += Tuple2(tbodyRow, columnsList);
	}

	tbodyRowToColumnsList.toList
}

@frame(){

	@head("manage"){

		@libraries.standard.head()
		@libraries.datatables.head()
		@libraries.pickadate.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/manage/company/index.css")'>
	}

	@body("manage","company"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.EDIT), "icon"->"fas fa-edit", "selected"->"true"))
		}

		<div class="container-fluid">

			@tasks(Map("id"->"", "task"->"list"))
		</div>

		@components.container(Map("id"->"masterContent", "fluid"->"true", "class"->"d-none")){

			<div class="mt-3 mb-3">
				@components.button(Map("id"->"searchButton", "type"->"primary", "outline"->"true", "icon"->"fas fa-search", "text"->(messages(MessageKeys.SEARCH)+"&nbsp;<i class=\"fas fa-caret-down\"></i>"), "data-toggle"->"collapse", "data-target"->"#readCollapse", "aria-controls"->"readCollapse"))
				@components.linkbutton(Map("id"->"downloadButton", "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->("CSV "+messages(MessageKeys.DOWNLOAD)), "link"->helper.CSRF(controllers.manage.company.routes.Read.download()).toString()))
				@components.button(Map("id"->"uploadButton", "type"->"warning", "outline"->"true", "icon"->"fas fa-upload", "text"->("CSV "+messages(MessageKeys.UPLOAD)), "data-toggle"->"modal", "data-target"->"#uploadDialog"))
				@components.button(Map("id"->"deleteButton", "type"->"danger", "outline"->"true", "icon"->"fas fa-trash-alt", "text"->messages(MessageKeys.DELETE), "data-toggle"->"modal", "data-target"->"#deleteDialog"))
				@components.button(Map("id"->"updateButton", "type"->"warning", "outline"->"true", "icon"->"fas fa-pencil-alt", "text"->messages(MessageKeys.EDIT), "data-toggle"->"modal", "data-target"->"#updateDialog"))
				@components.button(Map("id"->"createButton", "type"->"primary", "outline"->"true", "icon"->"fas fa-plus", "text"->messages(MessageKeys.CREATE), "data-toggle"->"modal", "data-target"->"#createDialog"))
				@components.button(Map("id"->"settingButton", "type"->"primary", "outline"->"true", "icon"->"fas fa-sliders-h", "text"->"&nbsp;<i class=\"fas fa-caret-down\"></i>", "data-toggle"->"collapse", "data-target"->"#settingCollapse", "aria-controls"->"settingCollapse"))
			</div>

			@settingPanel()
			@createdialog()
			@readform(form)
			@updatedialog()
			@deletedialog()
			@uploaddialog()

			<div class="mb-3 dataTable-responsive">
				@components.table(Map("id"->"companylist", "class"->"", "bordered"->"true"),
					Map("id"->""),Tuple2(Map("id"->""),List(
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.ID)),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.COMPANY_NAME)),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.LOCAL_NAME)),
						Map("id"->"", "head"->"true", "text"->(messages(MessageKeys.UPDATE) + " " + messages(MessageKeys.DATETIME))),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.VERSION)),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.DETAIL)))),
					Map("id"->""),
					tbodyRowToColumnsList(companies),
					Map("id"->""),Tuple2(Map("id"->""),List(
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.ID)),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.COMPANY_NAME)),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.LOCAL_NAME)),
						Map("id"->"", "head"->"true", "text"->(messages(MessageKeys.UPDATE) + " " + messages(MessageKeys.DATETIME))),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.VERSION)),
						Map("id"->"", "head"->"true", "text"->messages(MessageKeys.DETAIL))))
				)
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.X__CASE__SELECTED":"@messages(MessageKeys.X__CASE__SELECTED)",
			"@MessageKeys.PLEASE__WAIT":"@messages(MessageKeys.PLEASE__WAIT)",
			"@MessageKeys.FAILURE":"@messages(MessageKeys.FAILURE)",
			"@MessageKeys.STATUS":"@messages(MessageKeys.STATUS)",
			"@MessageKeys.ERROR":"@messages(MessageKeys.ERROR)"
		}'></div>

		@libraries.standard.last()
		@libraries.datatables.last()
		@libraries.pickadate.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/manage/company/index.js")'></script>
	}
}
