@import java.time._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import play.api.i18n._
@import views.html._
@import views.html.components

@import common.system._
@import models.manage.company._
@import models.company._

@(form: play.data.Form[ReadFormContent])

<div class="collapse" id="readCollapse">
	<div id="readPanel" class="card text-xs-center">
		<div class="card-body text-xs-left">
		@helper.form(helper.CSRF(controllers.manage.company.routes.Read.read()), 'name->"readForm", 'id->"readForm") {
			<h5 class="form-read-heading">@Messages(MessageKeys.CONDITION)</h5>
			@if(form.hasGlobalErrors) {
				<p class="text-danger">@form.getGlobalError.get.message</p>
			}
			<div class="row form-group">
				<label for="@Company.NAME" class="col-sm-3 col-form-label">@Messages(MessageKeys.COMPANY_NAME)</label>
				<div class="col-sm-9">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="far fa-building"></i>
							</span>
						</div>
						<input id="@Company.NAME" type="text" name="@Company.NAME" class="form-control" placeholder="Name" value="@form(Company.NAME).getValue.orElse("")" autofocus>
						@for(error <- form(Company.NAME).errors) {
							<div class="text-danger">@Messages(error.message)</div>
						}
					</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="@Company.MAXRESULT" class="col-sm-3 col-form-label">@Messages(MessageKeys.MAX__CASE)</label>
				<div class="col-sm-9">
					<select id="@Company.MAXRESULT" name="@Company.MAXRESULT" class="form-control custom-select" required>
						<option value="100" @("selected".when("100".equals(form(Company.MAXRESULT).getValue.orElse(""))))>100</option>
						<option value="500" @("selected".when("500".equals(form(Company.MAXRESULT).getValue.orElse(""))))>500</option>
						<option value="1000" @("selected".when("1000".equals(form(Company.MAXRESULT).getValue.orElse(""))))>1000</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					@components.button(Map("id"->"readButton", "action"->"submit", "type"->"primary", "icon"->"fas fa-sync", "text"->Messages(MessageKeys.UPDATE), "class"->"float-right"))
				</div>
			</div>
		}
		</div>
	</div>
</div>
