@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import play.i18n.Lang
@import play.i18n.Messages
@import views.html._
@import views.html.components

@import common.system._
@import models.manage.company._
@import models.company._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@components.modal(Map("id"->"updateDialog", "icon"->"fas fa-edit", "title"->messages(MessageKeys.UPDATE), "closable"->"false", "data-backdrop"->"static"), List(
		Map("id"->"updateCancel", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.CANCEL), "data-dismiss"->"modal"),
		Map("id"->"updateOk", "type"->"primary", "text"->messages(MessageKeys.OK), "default"->"true")
	)){

	@helper.form(helper.CSRF(controllers.manage.company.routes.Edit.update()), Symbol("name")->"updateForm", Symbol("id")->"updateForm") {
		<div>
			<p class="text-danger"></p>
		</div>
		<div class="row form-group">
			<div class="col-sm-9">
				<input id="update@Company.ID" type="hidden" name="@Company.ID" class="form-control" placeholder="id" value="" required>
			</div>
		</div>
		<div class="row form-group">
			<label for="update@Company.NAME" class="col-sm-3 col-form-label required">@messages(MessageKeys.COMPANY_NAME)</label>
			<div class="col-sm-9">
				<input id="update@Company.NAME" type="text" name="@Company.NAME" class="form-control" placeholder="NewName" value="" required autofocus>
				<small class="text-muted">@messages(MessageKeys.COMPANY_NAME_DESCRIPTION)</small>
				<div>
					<p class="text-danger"></p>
				</div>
			</div>
		</div>
		@if(!Locale.US.equals(lang.locale)){
		<div class="row form-group">
			<label for="update@Company.LOCALNAME" class="col-sm-3 col-form-label">@messages(MessageKeys.LOCAL_NAME)</label>
			<div class="col-sm-9">
				<input id="update@Company.LOCALNAME" type="text" name="@Company.LOCALNAME" class="form-control" placeholder="LocalName" value="">
				<small class="text-muted">@messages(MessageKeys.LOCAL_NAME_DESCRIPTION)</small>
				<div>
					<p class="text-danger"></p>
				</div>
			</div>
		</div>
		}
		<div class="row form-group">
			<div class="col-sm-9">
				<input id="update@Company.VERSION" type="hidden" name="@Company.VERSION" class="form-control" placeholder="Version" value="" required>
			</div>
		</div>
	}

	<div class="text-break">
		<div id="updateMessage" class="lead">@messages(MessageKeys.PLEASE__WAIT)</div>
		<div id="updateDescription">-</div>
	</div>
	@components.progress(Map("id"->"updateProgress", "value"->"0", "max"->"100", "striped"->"true", "animated"->"true"))
}
