@import java.time._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import play.api.i18n._
@import views.html._
@import views.html.components

@import common.system._
@import models.manage.company._
@import models.company._

@()

@components.modal(Map("id"->"updateDialog", "icon"->"fa fa-edit", "title"->Messages(MessageKeys.UPDATE), "closable"->"false", "data-backdrop"->"static"), List(
		Map("id"->"updateCancel", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.CANCEL), "data-dismiss"->"modal"),
		Map("id"->"updateOk", "type"->"primary", "text"->Messages(MessageKeys.OK), "default"->"true")
	)){

	@helper.form(helper.CSRF(controllers.manage.company.routes.Edit.update()), 'name->"updateForm", 'id->"updateForm") {
		<div>
			<p class="text-warning"></p>
		</div>
		<div class="row form-group">
			<div class="col-sm-9">
				<input id="update@Company.ID" type="hidden" name="@Company.ID" class="form-control" placeholder="id" value="" required>
			</div>
		</div>
		<div class="row form-group">
			<label for="update@Company.NAME" class="col-sm-3 col-form-label required">@Messages(MessageKeys.COMPANY_NAME)</label>
			<div class="col-sm-9">
				<input id="update@Company.NAME" type="text" name="@Company.NAME" class="form-control" placeholder="NewName" value="" required autofocus>
				<small class="text-muted">@Messages(MessageKeys.COMPANY_NAME_DESCRIPTION)</small>
				<div>
					<p class="text-warning"></p>
				</div>
			</div>
		</div>
		@if(!Locale.US.equals(lang.locale)){
		<div class="row form-group">
			<label for="update@Company.LOCALNAME" class="col-sm-3 col-form-label">@Messages(MessageKeys.LOCAL_NAME)</label>
			<div class="col-sm-9">
				<input id="update@Company.LOCALNAME" type="text" name="@Company.LOCALNAME" class="form-control" placeholder="LocalName" value="">
				<small class="text-muted">@Messages(MessageKeys.LOCAL_NAME_DESCRIPTION)</small>
				<div>
					<p class="text-warning"></p>
				</div>
			</div>
		</div>
		}
		<div class="row form-group">
			<div class="col-sm-9">
				<input id="update@Company.UPDATEDATETIME" type="hidden" name="@Company.UPDATEDATETIME" class="form-control" placeholder="UpdateDateTime" value="" required>
			</div>
		</div>
	}

	<div style="word-wrap:break-word;">
		<div id="updateMessage" class="lead">@Messages(MessageKeys.PLEASE__WAIT)</div>
		<div id="updateDescription">-</div>
	</div>
	@components.progress(Map("id"->"updateProgress", "value"->"0", "max"->"100", "striped"->"true", "animated"->"true"))
}
