@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import views.html._
@import views.html.components

@(prop:scala.collection.immutable.Map[String, String], elements:Seq[scala.collection.immutable.Map[String, String]])

@iconOnlySize(prop:scala.collection.immutable.Map[String, String]) = @{

	var foldSize = prop.getOrElse("foldSize", "");
	foldSize match {
		case "" => {
			""
		}
		case "xs" => {
			"d-none d-sm-inline"
		}
		case "sm" => {
			"d-none d-md-inline"
		}
		case "md" => {
			"d-none d-lg-inline"
		}
		case "lg" => {
			"d-none d-xl-inline"
		}
		case "xl" => {
			"d-none"
		}
		case _ => {
			throw new IllegalStateException(foldSize)
		}
	}
}

<ol id="@prop.getOrElse("id", "")" class="breadcrumb" >
	@for(i <- 0 to elements.size - 1){
	<li class="breadcrumb-item @("active".when(Boolean.valueOf(elements(i).getOrElse("selected", "false"))))">
		@if(elements(i).contains("link")){
		<a href="@elements(i).get("link")">
		}
			<i class="@elements(i).getOrElse("icon", "")"></i>
			<span class="@iconOnlySize(prop)">
				@elements(i).getOrElse("name", "")
			</span>
		@if(elements(i).contains("link")){
		</a>
		}
	</li>
	}
</ol>
