@import play.api.i18n._

@import common.system._

@()

<script type='text/javascript'
	src='@routes.Assets.versioned("lib/datatables/js/jquery.dataTables.min.js")'></script>
<script type='text/javascript'
	src='@routes.Assets.versioned("lib/datatables/js/dataTables.bootstrap4.min.js")'></script>
<script type='text/javascript'
	src='@routes.Assets.versioned("lib/datatables.net-select/js/dataTables.select.min.js")'></script>

@script(){

	$.fn.DataTable.defaults.oLanguage.sUrl = '@routes.Assets.versioned("lib/datatables-plugins/i18n/"+Messages(MessageKeys.DATATABLES_LANG)+".json")';

	ready('.dataTables_wrapper', function(){

		$('.dataTables_length>label>select').addClass('custom-select').css('width','100px');

		$('.dataTables_filter>label').each(function(){

			$(this)[0].firstChild.textContent="@Messages(MessageKeys.FILTER):";
		});

		$.each($.fn.dataTable.settings, function(i, setting){

			setting._select.className="selected bg-primary";
		});

		<!-- provisional coped for Bootstrap 4 (for new Bootstrap spec) -->
		$('.dataTables_wrapper .col-xs-12').removeClass('col-xs-12').addClass('col-12');
		$('.dataTables_wrapper').removeClass('form-inline');
		$('.dataTables_wrapper>.row:nth-child(1)').addClass('justify-content-center');
		$('.dataTables_wrapper>.row:nth-child(3)').addClass('justify-content-center');
	});
}
