@charset "utf-8";

table.dataTable {border-collapse: collapse !important;}

.dataTables_wrapper>.row:nth-child(3) .pagination{
	-webkit-box-pack: center !important;
	-webkit-justify-content: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important
}
@media (min-width:992px) {
	.dataTables_wrapper>.row:nth-child(3) .pagination{
		-webkit-box-pack: end !important;
		-webkit-justify-content: flex-end !important;
		-ms-flex-pack: end !important;
		justify-content: flex-end !important
	}
}