@charset "utf-8";

.i_back {
	background-color: gainsboro;
}
.i_space {
	margin-bottom: 2.2rem !important;
}
.i_master .list-group>.list-group-item{
	boader-left: 0px;
	boader-right: 0px;
	border-radius: 0px;
}
@media (min-width:576px) {

	.i_detail {
		border-left: 0.5px solid darkgray;
	}
}

#tasksbutton {
	padding-top: 0rem;
	font-size: 24px;
	line-height: 50px;
	width: 55px;
	height: 55px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 3000;
}