@charset "utf-8";

/* Basic frame */

body {
	background-color: #fffceb !important;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.02) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02)),
		linear-gradient(-45deg, rgba(0, 0, 0, 0.02) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02));
	background-size: 100px 100px
}











/* Top menu */
#system_menu{
	background-color: rgb(250, 250, 255) !important;
	border-bottom: 3px rgb(100, 143, 224) solid;
}






/* Side menu */

#system_work-menu {
	background-color: #5e6433;
}




#system_work-menu .system_work-name {
	color: #cbd6ef;
}
#system_work-menu .system_work-name.disabled {
	color: #7c8292;
}

#system_work-menu .worksbase{
	background-color: #434825;
}

#system_work-menu .works .work{
	border-left: transparent 6px solid;
}
#system_work-menu .works .work.selected{
	border-left: rgb(255, 48, 21) 6px solid;
	background-color: #32361b;
}















/* Table custom style */

.bg-primary, .bg-primary>th, .bg-primary>td {
	color: #fff;
	background-color: #234868;
}

/* Nav custom style */

.nav-tabs a.nav-link{
	border-top:transparent solid 3px;
}

.nav-tabs a.nav-link.active{
	border-top: #00346c solid 3px;
}

/* Breadcrumb custom style */

.breadcrumb{

}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">"
}


/* Jumbotron custom style */

.jumbotron{

}

/* Card custom style */

.card{
	background-color: rgb(255, 247, 236);
}

/* Modal custom style */

.modal-dialog>.modal-content{
	background-color: rgb(255, 247, 236);
}

/* Credit */
#system_footer{
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(135, 18, 41, 0.79) 5%, rgba(130, 17, 39, 0.86) 10%);
}

/* Project style */

h1.headline, h2.headline, h3.headline, h4.headline, h5.headline, h6.headline {
	background-color: rgb(203, 218, 227);
	padding-left: 8px;
	font-family: serif;
	font-weight: 600;
	border-radius: 6px;
	box-shadow: 0 0 5px 3px rgb(203, 218, 227);
	margin: 5px;
}

























hr.separator {
	border-top: 0px;
	height: 10px;
	background-image: linear-gradient(45deg, hsla(0, 0%, 5%, 0), hsla(0, 0%, 5%, 0) 33.33%, #5f3d20 33.33%, #5f3d20 66.67%, hsla(0, 0%, 5%, 0) 66.67%, hsla(0, 0%, 5%, 0) 100%);
	background-size: 10px 100%;
}






.matched {
	background-color: #d9c4fc;
}

/* Fakestrap */

.process-item.active{
	background-color: #234868;
}

.custom-switch>input:checked ~ .custom-switch-base {
	background: #234868 !important;
}
