@charset "utf-8";

#configTable {
}
#configTable tr>td:nth-child(1) {
	min-width: 300px;
}
#configTable tr>td:nth-child(2) {
	min-width: 400px;
}
@media (min-width: 992px) {
	#configTable {
		width: 100%;
		word-break: break-all;
	}
	#configTable tr>td:nth-child(1) {
		min-width: 400px;
	}
	#configTable tr>td:nth-child(2) {
		max-width: 1000px;
	}
}
