@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import play.api.i18n._
@import views.html._
@import views.html.components

@import models.user._
@import models.resetuser._

@import common.system._

@(form: play.data.Form[models.resetuser.ResetFormContent])

@frame(){

	@top.head(Messages(MessageKeys.RESETUSER)){

		@libraries.standard.head()
	}

	@top.body("top","resetuser"){

		@components.adjust.spacetop()

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="row">
				<div class="col-md-1 col-lg-2 col-xl-3">
				</div>
				<div class="col-md-10 col-lg-8 col-xl-6 p-0">
					@components.card(Map("id"->"changePanel", "class"->"shadow-sm m-3")){
						<div class="card-header">
							@Messages(MessageKeys.RESETUSER)
						</div>
						<div class="card-body">

							@helper.form(helper.CSRF(controllers.resetuser.routes.ResetUser.change()), args = 'class -> "form-change") {
								<h4 class="card-title">@Messages(MessageKeys.RESETUSER_PLEASE__CHANGE)</h4>
								<p class="card-text">@Messages(MessageKeys.RESETUSER_PLEASE__CHANGE_DESCRIPTION)</p>
								@if(form.hasGlobalErrors) {
									<p class="text-danger">@form.getGlobalError.get.message</p>
								}
								<div class="form-group row">
									<div class="col-sm-9">
										<input id="@User.USER_ID" type="hidden" name="@User.USER_ID" class="form-control" placeholder="Email" value="@form(User.USER_ID).getValue.orElse("")" required autofocus>
										<small class="text-muted"></small>
										@for(error <- form(User.USER_ID).errors) {
											<div class="text-danger">@Messages(error.message)</div>
										}
									</div>
								</div>
								<div class="form-group row">
									<label for="@User.PASSWORD" class="col-sm-3 col-form-label">@Messages(MessageKeys.USER_PASSWORD)</label>
									<div class="col-sm-9">
										<input id="@User.PASSWORD" type="password" name="@User.PASSWORD" class="form-control required" placeholder="Password" value="@form(User.PASSWORD).getValue.orElse("")" required>
										<small class="text-muted">@Messages(MessageKeys.USER_PASSWORD_DESCRIPTION)</small>
										@for(error <- form(User.PASSWORD).errors) {
											<div class="text-danger">@Messages(error.message)</div>
										}
									</div>
								</div>
								<div class="form-group row">
									<label for="@User.REPASSWORD" class="col-sm-3 col-form-label">@Messages(MessageKeys.USER_REPASSWORD)</label>
									<div class="col-sm-9">
										<input id="@User.REPASSWORD" type="password" name="@User.REPASSWORD" class="form-control required" placeholder="RePassword" value="@form(User.REPASSWORD).getValue.orElse("")" required>
										<small class="text-muted">@Messages(MessageKeys.USER_REPASSWORD_DESCRIPTION)</small>
										@for(error <- form(User.REPASSWORD).errors) {
											<div class="text-danger">@Messages(error.message)</div>
										}
									</div>
								</div>
								<div class="form-group row">
									<div class="col-12 text-right">
										@components.button(Map("id"->"changeButton", "action"->"submit", "type"->"primary", "icon"->"", "text"->Messages(MessageKeys.CHANGE), "default"->"true", "class"->"float-right"))
									</div>
								</div>
							}

						</div>
						<div class="card-footer text-muted">
						</div>
					}
				</div>
				<div class="col-md-1 col-lg-2 col-xl-3">
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"hasErrors":@(form.hasGlobalErrors || form.hasErrors)
		}'></div>

		@libraries.standard.last()
		@libraries.holder.last()
		<script src='@routes.Assets.versioned("javascripts/resetuser/change/change.js")'></script>
	}
}