@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="@controllers.development.document.routes.Document.index("overview").toString()" class="list-group-item @("active".when(equalTask("overview")))">@messages(MessageKeys.OVERVIEW)</a>
	<a href="@controllers.development.document.routes.Document.index("troubleshoot").toString()" class="list-group-item @("active".when(equalTask("troubleshoot")))">@messages(MessageKeys.TROUBLESHOOT)</a>
	<a href="@controllers.development.document.routes.Document.index("faq").toString()" class="list-group-item @("active".when(equalTask("faq")))">@messages(MessageKeys.FAQ)</a>
</div>
