@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.information

@import javax.json._
@import java.io._

@import common.system._

@(myImageUrl: String)(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("information"){

		@libraries.standard.head()
		@libraries.datatables.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/information/creator.css")'>
	}

	@body("information","creator"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.CREATOR), "icon"->"fas fa-address-card", "selected"->"true"))
		}

		@components.container(Map("id"->"")){

			<div class="jumbotron">
				@components.image(Map("id"->"myImage", "source"->myImageUrl, "rounded"->"true", "align"->"center", "alternate"->"My Picture of Gravatar"))
				<div class="display-4">hiro20v</div>
				<p class="lead">I am a hobbyist programmer.</p>
				<hr class="m-y-2">
				<p>If you have any offers, please feel free to contact us.</p>

				<h3 class="h3">@messages(MessageKeys.CONTACT)</h3>
				<p class="lead mt-3">
					@components.linkbutton(Map("id"->"myGitHubLink", "type"->"primary", "icon"->"fab fa-github-alt", "iconType"->"warning", "text"->"GitHub", "link"->"https://github.com/hiro20v"))
				</p>
				<p class="lead mt-3">
					@components.linkbutton(Map("id"->"myEMailLink", "type"->"primary", "icon"->"fas fa-paper-plane", "iconType"->"warning", "text"->messages(MessageKeys.EMAIL), "link"->"mailto:hiro20v++@icloud.com"))
				</p>

			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
	}
}
