@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._

@import play.api.i18n._

@import views.html._
@import views.html.components
@import views.html.information

@import javax.json._
@import java.io._

@import common.system._

@(myImageUrl: String)

@frame(){

	@head("information"){

		@libraries.standard.head()
		@libraries.datatables.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/information/license.css")'>
	}

	@body("information","license"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@information.breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.LICENSE), "icon"->"ii ii-fineplay", "selected"->"true"))
		}

		@components.container(Map("id"->"")){

			<div class="jumbotron">

				<div id="projectImage" class="img-thumbnail mb-3">
				</div>

				<div class="d-none d-sm-block">
					@components.image(Map("id"->"logoImage", "source"->routes.Assets.versioned("images/" + lang.code + "/logo.png").toString, "align"->"center", "alternate"->"This software logo.", "class"->"mb-3"))
				</div>
				<div class="d-sm-none">
					@components.image(Map("id"->"smLogoImage", "source"->routes.Assets.versioned("images/" + lang.code + "/logo.png").toString, "align"->"center", "alternate"->"This software logo.", "class"->"mb-3"))
				</div>
				<h3 class="headline">This system was built using a fine<span class="text-primary">✿</span>play.</h3>
				<blockquote class="blockquote text-right">
				  <footer class="blockquote-footer"><cite title="Let's insourcing!">Let's insourcing!</cite></footer>
				</blockquote>
				<hr class="m-y-2">
				<div>The software is licensed under the <a href="http://opensource.org/licenses/MIT" alt="MIT">MIT</a>.</div>
				<div>Try to get from the link below.</div>

				<p class="lead mt-3">
					@components.linkbutton(Map("id"->"myGitHubLink", "type"->"primary", "icon"->"ii ii-fineplay", "iconType"->"warning", "text"->"fine✿play", "link"->"https://github.com/hiro20v/fineplay"))
				</p>

			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"projectImage":"@routes.Assets.versioned("images/signins/IMG_2794.JPG").toString"
		}'></div>

		@libraries.standard.last()
		@libraries.holder.last()
		<script src='@routes.Assets.versioned("javascripts/information/license.js")'></script>
	}
}
