@charset "utf-8";

/* Project style */

.w-0 {width: 0% !important;}
.w-10 {width: 10% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-50 {width: 50% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}
.w-100 {width: 100% !important;}

.w-0p {width: 0px !important;}
.w-2p {width: 2px !important;}
.w-3p {width: 3px !important;}
.w-4p {width: 4px !important;}
.w-6p {width: 6px !important;}
.w-9p {width: 9px !important;}
.w-12p {width: 12px !important;}
.w-18p {width: 18px !important;}
.w-24p {width: 24px !important;}
.w-36p {width: 36px !important;}
.w-48p {width: 48px !important;}
.w-54p {width: 54px !important;}
.w-72p {width: 72px !important;}
.w-96p {width: 96px !important;}
.w-108p {width: 108px !important;}
.w-144p {width: 144px !important;}
.w-216p {width: 216px !important;}
.w-288p {width: 288px !important;}

.h-0p {height: 0px !important;}
.h-2p {height: 2px !important;}
.h-3p {height: 3px !important;}
.h-4p {height: 4px !important;}
.h-6p {height: 6px !important;}
.h-9p {height: 9px !important;}
.h-12p {height: 12px !important;}
.h-18p {height: 18px !important;}
.h-24p {height: 24px !important;}
.h-36p {height: 36px !important;}
.h-48p {height: 48px !important;}
.h-54p {height: 54px !important;}
.h-72p {height: 72px !important;}
.h-96p {height: 96px !important;}
.h-108p {height: 108px !important;}
.h-144p {height: 144px !important;}
.h-216p {height: 216px !important;}
.h-288p {height: 288px !important;}

/* Icon Filter */

.if-monochrome {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
}

.if-inverse {
	filter:invert(100%);
	-webkit-filter:invert(100%);
	-moz-filter:invert(100%);
	-o-filter:invert(100%);
	-ms-filter:invert(100%);
}

.if-monochrome.if-inverse {
	filter:grayscale(100%) invert(100%);
	-webkit-filter:grayscale(100%) invert(100%);
	-moz-filter:grayscale(100%) invert(100%);
	-o-filter:grayscale(100%) invert(100%);
	-ms-filter:grayscale(100%) invert(100%);
}

/* Icon Image */

.ii {
	display: inline-block;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 2.0ex;
}

.ii:before{
	content: "\1F178";
	color: transparent;
}

.ii-bootstrap{
	background-image: url(../images/icons/bootstrap.svg);
}

.ii-play{
	background-image: url(../images/icons/play.svg);
}

.ii-fineplay{
	background-image: url(../images/icons/fineplay.svg);
}

/* Native Font */

.nf {
	display: inline-block;
	font: normal normal normal 14px / 1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 2.4ex;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nf-gear:before {
	content: "\2699\FE0E";
}
.nf-success:before {
	content: "\2714\FE0E";
}
.nf-info:before {
	content: "\2757\FE0E";
}
.nf-warning:before {
	content: "\26A0\FE0E";
}
.nf-danger:before {
	content: "\00D7";
}

.nf-disclosure_triangle:before{
	content: "\25B6";
}
button:not(.collapsed)>.nf-disclosure_triangle:before{
	content: "\25BC" !important;
}

/* Emoji Font */

.ef {
	display: inline-block;
	font: normal normal normal 14px / 1 "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Symbola";
	font-size: 2.4ex;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: -0.08em;
}

.ef-gear:before {
	content: "\2699";
}
.ef-success:before {
	content: "\2714";
}
.ef-info:before {
	content: "\2757";
}
.ef-warning:before {
	content: "\26A0";
}
.ef-danger:before {
	content: "\1F6AB";
}

.ef-note:before{
	content: "\1F4D5";
}

.ef-musical_note:before{
	content: "\1F3B5";
}

.ef-calendar:before{
	content: "\1F4C5";
}

/* Web Font */

@font-face {
	font-family: 'WebFont';
	src: url('../fonts/webfont.otf');
	font-weight: normal;
	font-style: normal
}

.wf {
	display: inline-block;
	font: normal normal normal 14px / 1 WebFont;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wf-exclamation:before{
	content: "!";
}

/* Elastic */

.elastic-left{
	transform-origin: right center;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-name: elastic;
}

.elastic-right{
	transform-origin: left center;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-name: elastic;
}

@keyframes elastic {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.5, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* Undecided */

.undecided {
	transform-origin: center center;
	animation-name: undecided;
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes undecided {
	20% {
		transform: rotate(2deg)
	}

	50% {
		transform: rotate(-2deg)
	}

	60% {
		transform: rotate(2deg)
	}

	80% {
		transform: rotate(-2deg)
	}

	to {
		transform: rotate(0deg)
	}
}

/* Grow-width */

.grow-width{
	animation-duration: 7s;
	animation-name: grow-width;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes grow-width {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* Touch action */

.touch-none {
	-ms-touch-action: none;
	touch-action: none;
}

/* Draft */

.draft span {
	background: #c9c9c9;
	color:transparent ;
}

/* Secret */

.secret {
	display: none !important;
}
