@charset "utf-8";

/* Project style */

.w-10 {width: 10% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-50 {width: 50% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}
.w-100 {width: 100% !important;}

.w-2p {width: 2px !important;}
.w-3p {width: 3px !important;}
.w-4p {width: 4px !important;}
.w-6p {width: 6px !important;}
.w-9p {width: 9px !important;}
.w-12p {width: 12px !important;}
.w-18p {width: 18px !important;}
.w-24p {width: 24px !important;}
.w-36p {width: 36px !important;}
.w-48p {width: 48px !important;}
.w-54p {width: 54px !important;}
.w-72p {width: 72px !important;}
.w-96p {width: 96px !important;}
.w-108p {width: 108px !important;}
.w-144p {width: 144px !important;}
.w-216p {width: 216px !important;}
.w-288p {width: 288px !important;}

.h-2p {height: 2px !important;}
.h-3p {height: 3px !important;}
.h-4p {height: 4px !important;}
.h-6p {height: 6px !important;}
.h-9p {height: 9px !important;}
.h-12p {height: 12px !important;}
.h-18p {height: 18px !important;}
.h-24p {height: 24px !important;}
.h-36p {height: 36px !important;}
.h-48p {height: 48px !important;}
.h-54p {height: 54px !important;}
.h-72p {height: 72px !important;}
.h-96p {height: 96px !important;}
.h-108p {height: 108px !important;}
.h-144p {height: 144px !important;}
.h-216p {height: 216px !important;}
.h-288p {height: 288px !important;}

.text-red { color: #f44336 !important; }
.text-pink { color: #e91e63 !important; }
.text-purple { color: #9c27b0 !important; }
.text-deep-purple { color: #673ab7 !important; }
.text-indigo { color: #3f51b5 !important; }
.text-blue { color: #2196f3 !important; }
.text-light-blue { color: #03a9f4 !important; }
.text-cyan { color: #00bcd4 !important; }
.text-teal { color: #009688 !important; }
.text-green { color: #4caf50 !important; }
.text-light-green { color: #8bc34a !important; }
.text-lime { color: #cddc39 !important; }
.text-yellow { color: #ffeb3b !important; }
.text-amber { color: #ffc107 !important; }
.text-orange { color: #ff9800 !important; }
.text-deep-orange { color: #ff5722 !important; }
.text-brown { color: #795548 !important; }
.text-grey { color: #9e9e9e !important; }
.text-blue-grey { color: #607d8b !important; }
.text-white { color: #ffffff !important; }
.text-black { color: #000000 !important; }

.bg-red { background-color: #f44336 !important; }
.bg-pink { background-color: #e91e63 !important; }
.bg-purple { background-color: #9c27b0 !important; }
.bg-deep-purple { background-color: #673ab7 !important; }
.bg-indigo { background-color: #3f51b5 !important; }
.bg-blue { background-color: #2196f3 !important; }
.bg-light-blue { background-color: #03a9f4 !important; }
.bg-cyan { background-color: #00bcd4 !important; }
.bg-teal { background-color: #009688 !important; }
.bg-green { background-color: #4caf50 !important; }
.bg-light-green { background-color: #8bc34a !important; }
.bg-lime { background-color: #cddc39 !important; }
.bg-yellow { background-color: #ffeb3b !important; }
.bg-amber { background-color: #ffc107 !important; }
.bg-orange { background-color: #ff9800 !important; }
.bg-deep-orange { background-color: #ff5722 !important; }
.bg-brown { background-color: #795548 !important; }
.bg-grey { background-color: #9e9e9e !important; }
.bg-blue-grey { background-color: #607d8b !important; }
.bg-white { background-color: #ffffff !important; }
.bg-black { background-color: #000000 !important; }

/* Fakestrap */

.process{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify !important;
	-webkit-justify-content: space-between !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
	padding: 0rem 0rem;
	border-radius: 4rem;
	margin-bottom: 1rem;
	list-style: none;
	background-image: -webkit-linear-gradient(transparent 0%, transparent 37%, #eceeef 38%, #eceeef 62%, transparent 63%, transparent 100%);
	background-image: -o-linear-gradient(transparent 0%, transparent 37%, #eceeef 38%, #eceeef 62%, transparent 63%, transparent 100%);
	background-image: linear-gradient(transparent 0%, transparent 37%, #eceeef 38%, #eceeef 62%, transparent 63%, transparent 100%);
}

.process-item{
	float: left;
	padding: .2em .6em;
	border-radius: 4rem;
	background-color: #eceeef;
}

.process-item.active{
	background-color: #007bff;
	color: #fff;
}

.process-item.active>a{
	color: #fff;
}

/* Icon Filter */

.if-monochrome {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
}

.if-inverse {
	filter:invert(100%);
	-webkit-filter:invert(100%);
	-moz-filter:invert(100%);
	-o-filter:invert(100%);
	-ms-filter:invert(100%);
}

.if-monochrome.if-inverse {
	filter:grayscale(100%) invert(100%);
	-webkit-filter:grayscale(100%) invert(100%);
	-moz-filter:grayscale(100%) invert(100%);
	-o-filter:grayscale(100%) invert(100%);
	-ms-filter:grayscale(100%) invert(100%);
}

/* Icon Image */

.ii {
	display: inline-block;
	font: normal normal normal 14px / 1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.ii:before{
	content: "\3000";
}

.ii-bootstrap{
	background-image: url(../images/icons/bootstrap.svg);
}

.ii-play{
	background-image: url(../images/icons/play.svg);
}

.ii-fineplay{
	background-image: url(../images/icons/fineplay.svg);
}

/* Native Font */

.nf {
	display: inline-block;
	font: normal normal normal 14px / 1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nf-disclosure_triangle:before{
	content: "\25B6";
}
a:not(.collapsed)>.nf-disclosure_triangle:before{
	content: "\25BC" !important;
}

/* Emoji Font */

.ef {
	display: inline-block;
	font: normal normal normal 14px / 1 "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Symbola";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ef-note:before{
	content: "\1F4D5";
}

.ef-musical_note:before{
	content: "\1F3B5";
}

.ef-calendar:before{
	content: "\1F4C5";
}

/* Web Font */

@font-face {
	font-family: 'WebFont';
	src: url('../fonts/webfont.otf');
	font-weight: normal;
	font-style: normal
}

.wf {
	display: inline-block;
	font: normal normal normal 14px / 1 WebFont;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wf-exclamation:before{
	content: "!";
}

/* Elastic */

.elastic-left{
	transform-origin: right center;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-name: elastic;
}

.elastic-right{
	transform-origin: left center;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-name: elastic;
}

@keyframes elastic {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.5, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* Draft */

.draft span {
	background: #c9c9c9;
	color:transparent ;
}

/* Secret */

.secret {
  display: none !important;
}
