@charset "utf-8";

/* Project style */

.w-0 {width: 0% !important;}
.w-10 {width: 10% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-50 {width: 50% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}
.w-100 {width: 100% !important;}

.w-30p {width: 30px !important;}
.w-60p {width: 60px !important;}
.w-120p {width: 120px !important;}
.w-240p {width: 240px !important;}

.h-30p {height: 30px !important;}
.h-60p {height: 60px !important;}
.h-120p {height: 120px !important;}
.h-240p {height: 240px !important;}

.table-xl-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar
}

.table-xl-responsive.table-bordered {
	border: 0
}

/* Fakestrap */

.process{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify !important;
	-webkit-justify-content: space-between !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
	padding: 0rem 0rem;
	border-radius: 4rem;
	margin-bottom: 1rem;
	list-style: none;
	background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 37%, #eceeef 38%, #eceeef 62%, #ffffff 63%, #ffffff 100%);
	background-image: -o-linear-gradient(#ffffff 0%, #ffffff 37%, #eceeef 38%, #eceeef 62%, #ffffff 63%, #ffffff 100%);
	background-image: linear-gradient(#ffffff 0%, #ffffff 37%, #eceeef 38%, #eceeef 62%, #ffffff 63%, #ffffff 100%);
}

.process-item{
	float: left;
	padding: .2em .6em;
	border-radius: 4rem;
	background-color: #eceeef;
}

.process-item.active{
	background-color: #007bff;
	color: #fff;
}

.process-item.active>a{
	color: #fff;
}

/* Icon Filter */

.if-monochrome {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
}

.if-inverse {
	filter:invert(100%);
	-webkit-filter:invert(100%);
	-moz-filter:invert(100%);
	-o-filter:invert(100%);
	-ms-filter:invert(100%);
}

.if-monochrome.if-inverse {
	filter:grayscale(100%) invert(100%);
	-webkit-filter:grayscale(100%) invert(100%);
	-moz-filter:grayscale(100%) invert(100%);
	-o-filter:grayscale(100%) invert(100%);
	-ms-filter:grayscale(100%) invert(100%);
}

/* Icon Image */

.ii {
	display: inline-block;
	font: normal normal normal 14px / 1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.ii:before{
	content: "\3000";
}

.ii-bootstrap{
	background-image: url(../images/icons/bootstrap.svg);
}

.ii-play{
	background-image: url(../images/icons/play.svg);
}

.ii-fineplay{
	background-image: url(../images/icons/fineplay.svg);
}

/* Native Font */

.nf {
	display: inline-block;
	font: normal normal normal 14px / 1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nf-disclosure_triangle:before{
	content: "\25B6";
}
a:not(.collapsed)>.nf-disclosure_triangle:before{
	content: "\25BC" !important;
}

/* Emoji Font */

.ef {
	display: inline-block;
	font: normal normal normal 14px / 1 "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Symbola";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ef-note:before{
	content: "\1F4D5";
}

.ef-musical_note:before{
	content: "\1F3B5";
}

.ef-calendar:before{
	content: "\1F4C5";
}

/* Web Font */

@font-face {
	font-family: 'WebFont';
	src: url('../fonts/webfont.otf');
	font-weight: normal;
	font-style: normal
}

.wf {
	display: inline-block;
	font: normal normal normal 14px / 1 WebFont;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wf-exclamation:before{
	content: "!";
}

/* Elastic */

.elastic-left{
	transform-origin: right center;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-name: elastic;
}

.elastic-right{
	transform-origin: left center;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-name: elastic;
}

@keyframes elastic {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.5, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* Draft */

.draft span {
	background: #c9c9c9;
	color:transparent ;
}
