@charset "utf-8";

.dropdown-menu-left {
	left: 0;
	auto: auto
}

/* Process */

.process{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify !important;
	-webkit-justify-content: space-between !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
	padding: 0rem 0rem;
	border-radius: 4rem;
	margin-bottom: 1rem;
	list-style: none;
	background-image: -webkit-linear-gradient(transparent 0%, transparent 37%, #eceeef 38%, #eceeef 62%, transparent 63%, transparent 100%);
	background-image: -o-linear-gradient(transparent 0%, transparent 37%, #eceeef 38%, #eceeef 62%, transparent 63%, transparent 100%);
	background-image: linear-gradient(transparent 0%, transparent 37%, #eceeef 38%, #eceeef 62%, transparent 63%, transparent 100%);
}

.process-item{
	float: left;
	padding: .2em .6em;
	border-radius: 4rem;
	background-color: #eceeef;
}

.process-item.active{
	background-color: #007bff;
	color: #fff;
}

.process-item.active>a{
	color: #fff;
}
