@charset "utf-8";

.w-0 {width: 0% !important;}
.w-10 {width: 10% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-50 {width: 50% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}
.w-100 {width: 100% !important;}

.w-0p {width: 0px !important;}
.w-2p {width: 2px !important;}
.w-3p {width: 3px !important;}
.w-4p {width: 4px !important;}
.w-6p {width: 6px !important;}
.w-9p {width: 9px !important;}
.w-12p {width: 12px !important;}
.w-18p {width: 18px !important;}
.w-24p {width: 24px !important;}
.w-36p {width: 36px !important;}
.w-48p {width: 48px !important;}
.w-54p {width: 54px !important;}
.w-72p {width: 72px !important;}
.w-96p {width: 96px !important;}
.w-108p {width: 108px !important;}
.w-144p {width: 144px !important;}
.w-216p {width: 216px !important;}
.w-288p {width: 288px !important;}
.w-384p {width: 384px !important;}
.w-432p {width: 432px !important;}
.w-576p {width: 576px !important;}
.w-768p {width: 768px !important;}
.w-864p {width: 864px !important;}

.h-0p {height: 0px !important;}
.h-2p {height: 2px !important;}
.h-3p {height: 3px !important;}
.h-4p {height: 4px !important;}
.h-6p {height: 6px !important;}
.h-9p {height: 9px !important;}
.h-12p {height: 12px !important;}
.h-18p {height: 18px !important;}
.h-24p {height: 24px !important;}
.h-36p {height: 36px !important;}
.h-48p {height: 48px !important;}
.h-54p {height: 54px !important;}
.h-72p {height: 72px !important;}
.h-96p {height: 96px !important;}
.h-108p {height: 108px !important;}
.h-144p {height: 144px !important;}
.h-216p {height: 216px !important;}
.h-288p {height: 288px !important;}
.h-384p {height: 384px !important;}
.h-432p {height: 432px !important;}
.h-576p {height: 576px !important;}
.h-768p {height: 768px !important;}
.h-864p {height: 864px !important;}
