@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._

@import views.html._
@import views.html.components

@()

@frame(){

	@head("Framework"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/framework/defaultpage/index.css")'>
	}

	@body("framework","defaultpage"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->"Defaultpage", "icon"->"far fa-file-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"tasklist", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"tasklist", "task"->"notfound"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">

						@components.alert(Map("id"->"", "icon"->"fas fa-info-circle", "text"->"Default page uses inline styles.", "type"->"info"))
					</div>

					<div class="embed-responsive embed-responsive-a4 mb-3">
						<iframe id="taskframe" class="embed-responsive-item" src='@controllers.framework.defaultpage.routes.Defaultpage.page("notfound").toString()' allowfullscreen></iframe>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/framework/defaultpage/index.js")'></script>
	}
}
