@(prop:scala.collection.immutable.Map[String, String])

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="#" class="list-group-item @("active".when(equalTask("notfound")))">Notfound</a>
	<a href="#" class="list-group-item @("active".when(equalTask("badrequest")))">Badrequest</a>
	<a href="#" class="list-group-item @("active".when(equalTask("unauthorized")))">Unauthorized</a>
	<a href="#" class="list-group-item @("active".when(equalTask("deverror")))">Deverror</a>
	<a href="#" class="list-group-item @("active".when(equalTask("devnotfound")))">Devnotfound</a>
	<a href="#" class="list-group-item @("active".when(equalTask("error")))">Error</a>
	<a href="#" class="list-group-item @("active".when(equalTask("todo")))">Todo</a>
</div>
