@import play.api.i18n._

@import common.system._

@()

<script type='text/javascript' src='@routes.Assets.versioned("lib/custom/summernote/head.css.js")'></script>

<script type='text/javascript' src='@routes.Assets.versioned("lib/summernote/summernote-bs4.min.js")'></script>
@translation() = @{

	var lang = Messages(MessageKeys.SUMMERNOTE_LANG)
	if(lang.isEmpty){

		Html("")
	}else{

		var path = "lib/summernote/lang/summernote-"+lang+".js"
		Html("<script type='text/javascript' src='"+routes.Assets.versioned(path)+"'></script>")
	}
}
@translation()

<div id="summernote_messages" class="d-none" data-messages='{
	"@MessageKeys.SUMMERNOTE_LANG":"@Messages(MessageKeys.SUMMERNOTE_LANG)"
}'></div>
<script src='@routes.Assets.versioned("lib/custom/summernote/last.js")'></script>
