body {
	background-color: #eee;
	background-size: cover;
}

.form-signin {
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[name="userId"] {
	margin-bottom: -1px;
	border-top-left-radius: .32rem;
	border-top-right-radius: .32rem;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[name="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: .32rem;
	border-bottom-left-radius: .32rem;
}

.form-signin .forget-password {
	padding: 0rem;
	font-size: 0.8rem;
}

#signInPanel {
	background-color: rgba(255, 255, 255, 0.8);
}

#signInPanel.card-header {
	position: relative;
}

#signInPanel>.card-header>img {
	height:44px;
}
@media (min-width:375px) {
	#signInPanel>.card-header>img {
		height:54px;
	}
}

#stamp{
	animation: seal 1.0s;
	position: absolute;
	font-weight: 600;
	border: 3px solid;
	top:0px;
	right:-10px;
	transform: rotate(20deg);
}

@keyframes seal {
	0% {
		transform: rotate(18deg);
		opacity:0.0;
	}
	100% {
		transform: rotate(20deg);
		opacity:1.0;
	}
}

#usersDialog>.modal-dialog>.modal-content>.modal-body{
	background-color: rgba(29, 50, 86, 0.78);
}
.fixedUser>.fixedUser_info{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1rem;
}
.fixedUser{
	width: 120px;
	text-align: center;
	float: left;
	padding: 4px 4px;
}
.fixedUser>.fixedUser_caption{
	font-size: 1rem;
	word-wrap: break-word;
	color: white;
}

#selectFixedUser,
.fixedUserButton{
	padding: 8px 6px;
	width: 52px;
	height: 52px;
}

#selectFixedUser>i,
.fixedUserButton>i{
	font-size: 2em;
}

#storeAccount{
	width:auto;
}

#snsLinks>iframe {
	width: 100px !important;
}
