@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@(title: String)(implicit request:Http.Request, lang: Lang, messages: Messages)



<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="@messages(MessageKeys.SYSTEM_DESCRIPTION)">
<meta name="author" content="hiro20v">

<link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/favicons/apple-touch-icon.png")">
<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicons/favicon-32x32.png")">
<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicons/favicon-16x16.png")">
<link rel="manifest" href="@routes.Assets.versioned("images/favicons/site.webmanifest")">
<link rel="mask-icon" href="@routes.Assets.versioned("images/favicons/safari-pinned-tab.svg")" color="#5bbad5">
<meta name="msapplication-TileColor" content="#17a2b8">
<meta name="msapplication-square150x150logo" content="@routes.Assets.versioned("images/favicons/mstile-150x150.png")"/>
<meta name="theme-color" content="#ffffff">

<title>@messages(title) | @messages(MessageKeys.SYSTEM_NAME)</title>
