@charset "utf-8";

#campaigns-wrapper{
	overflow-x:scroll;
	background-color:gainsboro;
}
#campaigns{
	display:-webkit-box;
	display: box;
	width: 1390px;
}
#campaigns>.campaign{
	width: 260px;
	height: 280px;
}
