@charset "utf-8";

#campaigns-wrapper{
	overflow-x:scroll;
	background-color:gainsboro;
}
#campaigns{
	display:-ms-flexbox;
	display:-webkit-box;
	display: box;
}
#campaigns>.campaign>.card{
	width: 260px;
	height: 280px;
}
