@charset "utf-8";

#imageContainer {
	overflow: hidden;
	height: 320px;
}

@media ( min-width :768px) {
	#imageContainer {
		height: 576px;
	}
}

#image {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#imageDraggable {
	left: 0px;
	top: 0px;
}