@charset "utf-8";

.section{

	width:280px;
}
.seat{

	width:140px;
	height:48px;
}
.employee{

	text-align: center;
	z-index:1000;
}

#Usagi_Tsukino{color:#fff;background-color:#efd03f;}
#Ami_Mizuno{color:#fff;background-color:#0275d8;}
#Rei_Hino{color:#fff;background-color:#930f1c;}
#Makoto_Kino{color:#fff;background-color:#1b7830;}
#Minako_Aino{color:#fff;background-color:#e96414;}
#Chibiusa{color:#fff;background-color:#ec99bc;}
#Haruka_Tenoh{color:#fff;background-color:#0e257f;}
#Michiru_Kaioh{color:#fff;background-color:#267d68;}
#Setsuna_Meioh{color:#fff;background-color:#0e150a;}
#Hotaru_Tomoe{color:#fff;background-color:#62529e;}
