@charset "utf-8";

.section {
	width: 100%;
	table-layout: fixed;
}

.seat {
	height: 48px;
	text-align: center;
}

.employee {
	z-index: 1000;
	display: inline;
}

#Usagi_Tsukino{color:#fff;background-color:#efd03f;}
#Ami_Mizuno{color:#fff;background-color:#0275d8;}
#Rei_Hino{color:#fff;background-color:#930f1c;}
#Makoto_Kino{color:#fff;background-color:#1b7830;}
#Minako_Aino{color:#fff;background-color:#e96414;}
#Chibiusa{color:#fff;background-color:#ec99bc;}
#Haruka_Tenoh{color:#fff;background-color:#0e257f;}
#Michiru_Kaioh{color:#fff;background-color:#267d68;}
#Setsuna_Meioh{color:#fff;background-color:#0e150a;}
#Hotaru_Tomoe{color:#fff;background-color:#62529e;}
