@charset "utf-8";

.alert-rich {
	background-color: whitesmoke;
	border: gray 1px solid;
	color: dimgray;
}
.alert-rich button.close {
	position: initial;
}

#waitSlider{
	width: 100%;
}

#richAlertImg{
	width: 64px;
	height: 64px;
}

.alert-progress>.alert-progress-bar {
	left: 0;
	bottom: 0;
}
.alert-progress>.alert-progress-bar>div {
	width: 0;
	animation-duration: 5s;
}