@charset "utf-8";

.event-content-frame {
	position: relative;
}
@media (min-width:768px) {

	.event-date {
	}
	.event-content-frame {
		border-left: 5px #eceeef solid;
	}
	.event-content {
		margin-left: 1rem
	}
	.event-type {
		position: absolute;
		top: 10px;
		left: -24px;
	}
}

.Maya_Kitajima{
	color:Brown;
}
.Ayumi_Himekawa{
	color:Gold;
}
.Chigusa_Tsukikage{
	color:Indigo;
}
.Masumi_Hayami{
	color:Purple;
}
