@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.inject.Injector
@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import javax.json._
@import java.io._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@currentTimeZone() = @{

	common.utils.ZoneIds.getZoneIdToNameMap(lang.toLocale).get(request.session().get(models.user.User.ZONE_ID).get())
}

@currentLang() = @{

	common.utils.Locales.getLocaleIdToNameMap(lang.toLocale).get(lang.code())
}

@frame(){

	@head("home"){

		@libraries.standard.head()
		@libraries.shepherd.head()
	}

	@body("home","intro"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.INTRO), "icon"->"far fa-file-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="row">
				<div class="col-xl-6">

					@components.alert(Map("id"->"timezoneInfo", "icon"->"far fa-clock", "text"->messages(MessageKeys.YOUR__X__IS__X, "<strong>"+messages(MessageKeys.TIMEZONE)+"</strong>", "<a href=\""+controllers.setting.user.routes.User.index().toString()+"\" class=\"alert-link\">"+messages(MessageKeys.X__X, currentTimeZone, messages(MessageKeys.SETTING))+"</a>"), "type"->"info", "closable"->"true"))
				</div>
				<div class="col-xl-6">

					@components.alert(Map("id"->"languageInfo", "icon"->"fas fa-globe", "text"->messages(MessageKeys.YOUR__X__IS__X, "<strong>"+messages(MessageKeys.LANGUAGE)+"</strong>", "<a href=\""+controllers.setting.user.routes.User.index().toString()+"\" class=\"alert-link\">"+messages(MessageKeys.X__X, currentLang, messages(MessageKeys.SETTING))+"</a>"), "type"->"info", "closable"->"true"))
				</div>
			</div>
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="jumbotron">
				<h1 class="display-4">@messages(MessageKeys.WELCOME)</h1>
				<p class="lead draft">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				<hr class="m-y-2">
				<p class="draft">It uses utility classes for typography and spacing to space content out within the larger container.</p>

				<p class="lead mt-3">
					@components.button(Map("id"->"tourButton", "type"->"primary", "outline"->"true", "icon"->"fas fa-binoculars", "text"->"Tour"))
					<span class="ml-3"><span class="d-inline-block elastic-start">@components.icon(Map("id"->"", "icon"->"fas fa-long-arrow-alt-left fa-dir-flip-horizontal fa-1x", "class"->"text-info"))</span></span>
				</p>
				<p class="lead mt-3">
					@components.linkbutton(Map("id"->"", "type"->"primary", "outline"->"true", "icon"->"fas fa-graduation-cap", "text"->"Learn more", "link"->"#"))
				</p>
				<p class="lead mt-3">
					@components.linkbutton(Map("id"->"", "type"->"primary", "outline"->"true", "icon"->"fas fa-film", "text"->messages(MessageKeys.VIDEO), "link"->controllers.home.routes.Home.video().toString()))
				</p>
			</div>

			@components.container(Map("id"->"", "fluid"->"true", "class"->"mb-3 text-center")){

				@components.linkbutton(Map("id"->"", "link"->messages(MessageKeys.ADOBE_READER_LINK), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "iconType"->"danger", "text"->"Adobe Reader"))
			}
		}

		<div id="system_messages" class="d-none" data-messages='{
			"referrer":"@controllers.user.routes.User.index().toString()",
			"@MessageKeys.INFO":"@messages(MessageKeys.INFO)",
			"@MessageKeys.CANCEL":"@messages(MessageKeys.CANCEL)",
			"@MessageKeys.PREVIOUS":"@messages(MessageKeys.PREVIOUS)",
			"@MessageKeys.NEXT":"@messages(MessageKeys.NEXT)",
			"@MessageKeys.END":"@messages(MessageKeys.END)",
			"@MessageKeys.TIMEZONE":"@messages(MessageKeys.TIMEZONE)",
			"@MessageKeys.LANGUAGE":"@messages(MessageKeys.LANGUAGE)",
			"@MessageKeys.MENU":"@messages(MessageKeys.MENU)",
			"@MessageKeys.HELP":"@messages(MessageKeys.HELP)",
			"@MessageKeys.BUTTON":"@messages(MessageKeys.BUTTON)"
		}'></div>

		@libraries.standard.last()
		@libraries.shepherd.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/home/intro.js")'></script>
	}
}
