@import play.i18n.Lang
@import play.i18n.Messages

@import views.html.helper._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@isDev() = @{

	common.system.System.getInjector().instanceOf(classOf[play.api.Environment]).mode == play.api.Mode.Dev
}

@if(isDev()){

	<script @{CSPNonce.attr} type='text/javascript' src='@routes.Assets.versioned("lib/github-com-Tencent-vConsole/vconsole.min.js")'></script>
}

@dirSuffix() = @{

	val isLTR = models.system.System.Direction.LTR == common.utils.Locales.toDirection(lang.locale);
	if (isLTR){""} else {"-rtl"}
}

<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/implement.js")'></script>
<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/messages.js")'></script>

<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/common"+dirSuffix()+".css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/common-plus.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/experimental"+dirSuffix()+".css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/experimental-plus.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/font.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/size.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/color.css")'>

@libraries.bootstrap.head()
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/fakestrap"+dirSuffix()+".css")'>
@libraries.fontawesome.head()

<link rel='stylesheet' href='@routes.Assets.versioned("themes/base.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("themes/" + request.session().getOptional(models.user.User.THEME).orElse(models.user.User.Theme.DEFAULT.name()).toLowerCase + "/theme.css")'>
