@import views.html.helper._

@()

@dirSuffix() = @{

	val isLTR = models.system.System.Direction.LTR == common.utils.Locales.toDirection(lang.locale);
	if (isLTR){""} else {"-rtl"}
}

<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/implement.js")'></script>
<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/messages.js")'></script>

<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/common"+dirSuffix()+".css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/common-plus.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/experimental"+dirSuffix()+".css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/experimental-plus.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/font.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/size.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/color.css")'>

@libraries.bootstrap.head()
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/bootstrapfix.css")'>
@rtlfix() = @{

	val isLTR = models.system.System.Direction.LTR == common.utils.Locales.toDirection(lang.locale);
	if(isLTR){

		Html("")
	}else{

		var path = "stylesheets/bootstrap-rtlfix.css"
		Html("<link rel='stylesheet' href='"+routes.Assets.versioned(path)+"'>")
	}
}
@rtlfix()
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/fakestrap"+dirSuffix()+".css")'>
@libraries.fontawesome.head()

<link rel='stylesheet' href='@routes.Assets.versioned("themes/base.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("themes/" + session.getOrDefault(models.user.User.THEME, models.user.User.Theme.DEFAULT.name()).toLowerCase + "/theme.css")'>
