@()

<script src='@routes.Assets.versioned("javascripts/implement.js")'></script>
<script src='@routes.Assets.versioned("javascripts/messages.js")'></script>

<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/common.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/experimental.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/color.css")'>

@libraries.adjust.bootstrap.head()
@libraries.fontawesome.head()

<link rel='stylesheet' href='@routes.Assets.versioned("themes/base.css")'>
<link rel='stylesheet' href='@routes.Assets.versioned("themes/" + session.getOrDefault(models.user.User.THEME, models.user.User.Theme.DEFAULT.name()).toLowerCase + "/theme.css")'>
