@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._

@import views.html._
@import views.html.components

@import common.system._

@(elements:Seq[scala.collection.immutable.Map[String, String]])

@for(i <- 0 to elements.size - 1){

	@components.card(Map("id"->"", "type"->"", "outline"->"true", "class"->"mb-3")){

		<blockquote class="blockquote mb-0 card-body">
			<p class="mb-0">@components.icon(Map("icon"->elements(i).getOrElse("icon", "")))@if(!elements(i).getOrElse("icon", "").isEmpty()){&nbsp;}@elements(i).get("name")</p>
			<footer class="blockquote-footer">
				<small class="text-muted">@elements(i).getOrElse("info", "")</small>
			</footer>
			@components.linkbutton(Map("id"->"", "type"->"primary", "outline"->"true", "link"->elements(i).getOrElse("link","#"), "text"->Messages(MessageKeys.LICENSE), "target"->"_blank", "size"->"sm"))
		</blockquote>
	}
}