@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages
@import views.html._
@import views.html.components
@import views.html.helper._

@import models.inquiry._

@import common.system._

@(form: play.data.Form[models.inquiry.InquiryFormContent])(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@top.head(messages(MessageKeys.INQUIRY)){

		@libraries.standard.head()
	}

	@top.body("top","inquiry"){

		@components.adjust.spacetop()

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="row">
				<div class="col-md-1 col-lg-2 col-xl-3">
				</div>
				<div class="col-md-10 col-lg-8 col-xl-6 p-0">
					@components.card(Map("id"->"completePanel", "class"->"shadow-sm m-3")){
						<div class="card-header">
							@messages(MessageKeys.INQUIRY)
						</div>
						<div class="card-body">

							<h4 class="card-title">@messages(MessageKeys.INQUIRY_SEND_COMPLETE)</h4>
							<p class="card-text">@messages(MessageKeys.INQUIRY_SEND_COMPLETE_DESCRIPTION)</p>
							<div class="form-group row">
								<label for="@Inquiry.USERID" class="col-sm-3 col-form-label">@messages(MessageKeys.EMAIL)</label>
								<div class="col-sm-9">
									<input id="@Inquiry.USERID" type="email" name="@Inquiry.USERID" class="form-control" placeholder="Email" value="@form(Inquiry.USERID).value.orElse("")" required disabled>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-12 text-right">
									@components.linkbutton(Map("id"->"topButton", "type"->"primary", "text"->messages(MessageKeys.OK), "link"->controllers.user.routes.User.index().toString, "default"->"true", "class"->"float-right"))
								</div>
							</div>

						</div>
						<div class="card-footer text-muted">
						</div>
					}
				</div>
				<div class="col-md-1 col-lg-2 col-xl-3">
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/inquiry/send/complete.js")'></script>
	}
}
