@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import play.mvc._
@import play.i18n.Lang
@import play.i18n.Messages
@import views.html._
@import views.html.components

@import common.system._

@(id:String, map:scala.collection.Map[String, AnyRef])(implicit messages: Messages)

@tbodyRowToColumnsList(map:scala.collection.Map[String, AnyRef]) = @{

	val tbodyRowToColumnsList = scala.collection.mutable.ListBuffer[Tuple2[ /*tr*/ scala.collection.immutable.Map[String, String], /*tds*/ Seq[scala.collection.immutable.Map[String, String]]]]();
	for((key,value) <- map) {

		val tbodyRow = Map[String, String]();

		val columnsList = List(Map("text"->key), Map("text"->value.toString()));

		tbodyRowToColumnsList += Tuple2(tbodyRow, columnsList);
	}

	tbodyRowToColumnsList.toList
}

<div class="table-responsive">

	@components.table(Map("id"->id, "type"->"", "bordered"->"true", "striped"->"true"),
		Map("id"->""),Tuple2(Map("id"->"", "type"->"light"),List(
			Map("id"->"", "head"->"true", "text"->messages(MessageKeys.KEY)),
			Map("id"->"", "head"->"true", "text"->messages(MessageKeys.VALUE)))),
		Map("id"->"", "type"->"light"), tbodyRowToColumnsList(map),
		Map("id"->""),Tuple2(Map("id"->"", "type"->"light"),List(
		))
	)
</div>
