@charset "utf-8";

/* Basic frame */

body {
	background-color: white !important;
	background-image: linear-gradient(rgba(0, 255, 255, .05) 1.5px, transparent 1.5px),
						linear-gradient(90deg, rgba(0, 255, 255, .05) 1.5px, transparent 1.5px),
						linear-gradient(rgba(0, 255, 255, .05) 1px, transparent 1px),
						linear-gradient(90deg, rgba(0, 255, 255, .05) 1px, transparent 1.5px);
	background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
	background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px
}

/* Top menu */

#system_menu{
	border-bottom: 1px LightGray solid;
}

/* Side menu */

#system_work-menu {
	background-color: #585858;
}

#system_work-menu .system_work-name {
	color: #65c6ff;
}
#system_work-menu .system_work-name.disabled {
	color: #3d7cae;
}

#system_work-menu .worksbase{
	background-color: #424242;
}

#system_work-menu .works .work.selected{
	border-color: orange;
	background-color: #2e2e2e;
}

/* Table custom style */

.bg-primary, .bg-primary>th, .bg-primary>td {
	color: #fff;
	background-color: #0056b3;
}

/* Nav custom style */

.nav-tabs a.nav-link{
	border-top:transparent solid 3px;
}

.nav-tabs a.nav-link.active{
	border-top: #007bff solid 3px;
}

/* Project style */

h1.headline, h2.headline, h3.headline, h4.headline, h5.headline, h6.headline {
	font-weight: 400;
	border-style: solid;
	border-color: #007bff;
}

.dir-ltr h1.headline, .dir-ltr h2.headline, .dir-ltr h3.headline, .dir-ltr h4.headline, .dir-ltr h5.headline, .dir-ltr h6.headline {
	padding-left: 6px;
}
.dir-ltr h1.headline{
	border-width: 0px 0px 0px 7px;
}
.dir-ltr h2.headline{
	border-width: 0px 0px 0px 6px;
}
.dir-ltr h3.headline{
	border-width: 0px 0px 0px 5px;
}
.dir-ltr h4.headline{
	border-width: 0px 0px 0px 4px;
}
.dir-ltr h5.headline{
	border-width: 0px 0px 0px 3px;
}
.dir-ltr h6.headline{
	border-width: 0px 0px 0px 2px;
}

.dir-rtl h1.headline, .dir-rtl h2.headline, .dir-rtl h3.headline, .dir-rtl h4.headline, .dir-rtl h5.headline, .dir-rtl h6.headline {
	padding-right: 6px;
}
.dir-rtl h1.headline{
	border-width: 0px 7px 0px 0px;
}
.dir-rtl h2.headline{
	border-width: 0px 6px 0px 0px;
}
.dir-rtl h3.headline{
	border-width: 0px 5px 0px 0px;
}
.dir-rtl h4.headline{
	border-width: 0px 4px 0px 0px;
}
.dir-rtl h5.headline{
	border-width: 0px 3px 0px 0px;
}
.dir-rtl h6.headline{
	border-width: 0px 2px 0px 0px;
}

hr.separator{
	height: 1px;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), lightgray 50%, rgba(255, 255, 255, 0) 100%);
}

.matched {
	background-color: #e4fc2f;
}
