@import views.html._
@import views.html.components

@import common.system._

@(fontAwesomeIconNames: List[String], materialDesignIconNames: List[String], icoFontNames: List[String])

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@frame(){

	@head("Development"){

		@libraries.materialicons.head()
		@libraries.icofont.head()
		@libraries.standard.head()
		@style(){

			.icon_container{
				width: 100px;
				text-align: center;
				float: left;
			}
			.icon_container>.icon_body{
			}
			.icon_container>.icon_caption{
				font-size: 0.7rem;
				word-wrap: break-word;
			}
		}
	}

	@body("development","design"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.ICON), "icon"->"fa fa-pencil", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			@tasks(Map("id"->"", "task"->"icon"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row justify-content-end">

				<div>

					<div class="form-group">
						<input id="searchField" type="text" class="form-control" placeholder="@Messages(MessageKeys.SEARCH)" value="">
					</div>
				</div>
			</div>
			}

			<div id="fa" class="mb-3">
				<h4 class="headline">@Messages(MessageKeys.FONTAWESOME)</h4>
				<div class="row mt-3 icon_result_list">

				</div>
				<div class="row mt-3 icon_list">

					@for(fontAwesomeIconName <- fontAwesomeIconNames) {
					<div class="icon_container mb-3">
						@components.icon(Map("id"->"", "icon"->("fa fa-" + fontAwesomeIconName + " fa-2x"), "class"->"icon_body"))
						<div class="icon_caption">@fontAwesomeIconName</div>
					</div>
					}
				</div>
			</div>

			<div id="mi" class="mb-3">
				<h4 class="headline">Material Icons</h4>
				<div class="row mt-3 icon_result_list">

				</div>
				<div class="row mt-3 icon_list">

					@for(materialDesignIconName <- materialDesignIconNames) {
					<div class="icon_container mb-3">
						@components.icon(Map("id"->"", "icon"->("mi mi-" + materialDesignIconName + " fa-2x"), "class"->"icon_body"))
						<div class="icon_caption">@materialDesignIconName</div>
					</div>
					}
				</div>
			</div>

			<div id="icofont" class="mb-3">
				<h4 class="headline">IcoFont</h4>
				<div class="row mt-3 icon_result_list">

				</div>
				<div class="row mt-3 icon_list">

					@for(icoFontName <- icoFontNames) {
					<div class="icon_container mb-3">
						@components.icon(Map("id"->"", "icon"->("icofont icofont-" + icoFontName + " fa-2x"), "class"->"icon_body"))
						<div class="icon_caption">@icoFontName</div>
					</div>
					}
				</div>
			</div>
		}

		@libraries.standard.last()
		@script(){

			var colors = ["#ff6666", "#ffcc66", "#66ff66", "#66ccff", "#6666ff", "#cc66ff", "#ff66ff"];
			$('.icon_body').each(function(){

				$(this).css('color', colors[0|Math.random() * colors.length]);
			});

			var faIconList = $('#fa>.icon_list');
			var faIconResultList = $('#fa>.icon_result_list');
			var miIconList = $('#mi>.icon_list');
			var miIconResultList = $('#mi>.icon_result_list');
			var icoFontIconList = $('#icofont>.icon_list');
			var icoFontIconResultList = $('#icofont>.icon_result_list');

			var keyupEvents = [];
			$("#searchField").on('keyup', function () {

				keyupEvents.push('keyup');

				var searchText = $(this).val();
				setTimeout(function () {

					keyupEvents.pop();

					if (0 == keyupEvents.length) {

						faIconList.show();
						miIconList.show();
						icoFontIconList.show();

						if(0 == searchText.length){

							faIconResultList.hide();
							miIconResultList.hide();
							icoFontIconResultList.hide();
						}else{

							faIconList.hide();
							miIconList.hide();
							icoFontIconList.hide();

							faIconResultList.empty();
							miIconResultList.empty();
							icoFontIconResultList.empty();

							$("#fa .icon_caption:contains('" + searchText + "')").each(function(){faIconResultList.append($(this).parent().clone());});
							$("#mi .icon_caption:contains('" + searchText + "')").each(function(){miIconResultList.append($(this).parent().clone());});
							$("#icofont .icon_caption:contains('" + searchText + "')").each(function(){icoFontIconResultList.append($(this).parent().clone());});

							faIconResultList.show();
							miIconResultList.show();
							icoFontIconResultList.show();
						}
					}
				}, 500);
			});
		}
	}
}
