@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._
@import play.inject.Injector

@import common.system._

@this(injector: Injector)
@(error: play.api.UsefulException)

@isDev() = @{

	injector.instanceOf(classOf[play.api.Environment]).mode == play.api.Mode.Dev
}

@isPlayException(error: play.api.UsefulException) = @{

	error.cause.getCause().isInstanceOf[play.api.PlayException]
}

@title(isPlayException: Boolean) = @{

	if(isPlayException){

		error.title
	}else{

		Messages(MessageKeys.SYSTEM_ERROR_EXECUTION_EXCEPTION)
	}
}

@causes(error: play.api.UsefulException) = @{

	val buffer = scala.collection.mutable.ListBuffer[Throwable]()
	var throwable = error.getCause();
	while(throwable != null){

		buffer += throwable
		throwable = throwable.getCause()
	}

	buffer.toList
}

@frame(){

	@head(error.title){

		@libraries.standard.head()
	}

	@body("error","error"){

		@components.modal(Map("id"->"errorModal", "title"->title(isPlayException(error)), "size"->"lg"), List(
				Map("id"->"errorModalOk", "type"->"primary", "text"->"OK", "default"->"true")
			)){

			@if(isPlayException(error)){

				<i class="fas fa-exclamation-triangle fa-3x fa-pull-left fa-border text-warning"></i>
			}else{

				<i class="fas fa-ban fa-3x fa-pull-left fa-border text-danger"></i>
			}
			<p>@error.id</p>
			<p>@error.description</p>

			@for(cause <- causes(error)){

				@Html(cause.getLocalizedMessage())
			}

			@if(isDev()){
			<div class="mt-3">
				<input type="text" class="form-control" id="searchServerErrorMessage" placeholder="@Messages(MessageKeys.ERROR)" value="@error.getLocalizedMessage()">
				@components.button(Map("id"->"searchServerStackOverflowButton", "type"->"primary", "outline"->"true", "icon"->"fab fa-stack-overflow", "text"->"Stack Overflow"))
				@components.button(Map("id"->"searchServerStackOverflowJaButton", "type"->"primary", "outline"->"true", "icon"->"fab fa-stack-overflow", "text"->"スタック・オーバーフロー"))
				@components.button(Map("id"->"searchServerQiitaButton", "type"->"primary", "outline"->"true", "icon"->"", "text"->"Qiita"))
				@components.button(Map("id"->"searchServerTeratailButton", "type"->"primary", "outline"->"true", "icon"->"", "text"->"teratail"))
			</div>
			}
		}

		<div id="system_messages" class="d-none" data-messages='{
			"isPlayException":@isPlayException(error)
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/system/pages/error.js")'></script>
	}
}
