@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._

@import common.system._
@import views.html._
@import views.html.components

@(prop:scala.collection.immutable.Map[String, String])

@elements() = @{

	val lastElement = prop - "id"
	val elements = scala.collection.mutable.ListBuffer[Map[String, String]](
		Map("name"->Messages(MessageKeys.MANAGE), "icon"->"fa fa-wrench", "link"->controllers.manage.user.routes.Read.index().toString()),
		Map("name"->Messages(MessageKeys.USER), "icon"->"fa fa-user", "link"->controllers.manage.user.routes.Read.index().toString())
	)
	elements += lastElement

	elements.toList
}

@components.adjust.breadcrumb(Map("id"->prop.getOrElse("id", "")), elements())
