@import java.time._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import play.api.i18n._
@import views.html._
@import views.html.components

@import common.system._
@import models.manage.user._
@import models.user._

@()

@components.modal(Map("id"->"createDialog", "icon"->"fa fa-plus", "title"->Messages(MessageKeys.CREATE), "closable"->"false", "data-backdrop"->"static"), List(
		Map("id"->"createCancel", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.CANCEL), "data-dismiss"->"modal"),
		Map("id"->"createOk", "type"->"primary", "text"->Messages(MessageKeys.OK), "default"->"true")
	)){

	@helper.form(helper.CSRF(controllers.manage.user.routes.Edit.create()), 'name->"createForm", 'id->"createForm") {
		<div>
			<p class="text-warning"></p>
		</div>
		<div class="row form-group">
			<label for="inputUserId" class="col-sm-3 col-form-label required">@Messages(MessageKeys.USER_USERID)</label>
			<div class="col-sm-9">
				<input id="create@User.USERID" type="email" name="@User.USERID" class="form-control" placeholder="Email" value="" required autofocus>
				<small class="text-muted">@Messages(MessageKeys.USER_USERID_DESCRIPTION)</small>
				<div>
					<p class="text-warning"></p>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label for="create@User.PASSWORD" class="col-sm-3 col-form-label required">@Messages(MessageKeys.USER_PASSWORD)</label>
			<div class="col-sm-9">
				<input id="create@User.PASSWORD" type="password" name="@User.PASSWORD" class="form-control" placeholder="Password" value="" required>
				<small class="text-muted">@Messages(MessageKeys.USER_PASSWORD_DESCRIPTION)</small>
				<div>
					<p class="text-warning"></p>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label for="create@User.REPASSWORD" class="col-sm-3 col-form-label required">@Messages(MessageKeys.USER_REPASSWORD)</label>
			<div class="col-sm-9">
				<input id="create@User.REPASSWORD" type="password" name="@User.REPASSWORD" class="form-control" placeholder="RePassword" value="" required>
				<small class="text-muted">@Messages(MessageKeys.USER_REPASSWORD_DESCRIPTION)</small>
				<div>
					<p class="text-warning"></p>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label for="inputRoles" class="col-sm-3 col-form-label">@Messages(MessageKeys.USER_ROLE)</label>
			<div class="col-sm-9">
				<label class="custom-control custom-checkbox">
					<input class="custom-control-input create@User.ROLES" type="checkbox" name="@(User.ROLES+"[0]")" value="@User.Role.GUEST.toString()">
					<span class="custom-control-indicator"></span>
					@Messages(MessageKeys.USER_ROLE_GUEST)
				</label>
				<label class="custom-control custom-checkbox">
					<input class="custom-control-input create@User.ROLES" type="checkbox" name="@(User.ROLES+"[1]")" value="@User.Role.CUSTOMER.toString()" checked>
					<span class="custom-control-indicator"></span>
					@Messages(MessageKeys.USER_ROLE_CUSTOMER)
				</label>
				<label class="custom-control custom-checkbox">
					<input class="custom-control-input create@User.ROLES" type="checkbox" name="@(User.ROLES+"[2]")" value="@User.Role.ADMIN.toString()">
					<span class="custom-control-indicator"></span>
					@Messages(MessageKeys.USER_ROLE_ADMIN)
				</label>
			</div>
		</div>
		<div class="row form-group">
			<label for="create@User.COMPANYID" class="col-sm-3 col-form-label">@Messages(MessageKeys.COMPANY_NAME)</label>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-9">
						<select id="create@User.COMPANYID" name="@User.COMPANYID">
							<option value=""></option>
						</select>
						<small class="text-muted">@Messages(MessageKeys.COMPANY_NAME_DESCRIPTION)</small>
						<div>
							<p class="text-warning"></p>
						</div>
					</div>
					<div class="col-3">
						@components.button(Map("id"->("createDelete"+User.COMPANYID), "type"->"primary", "outline"->"true", "icon"->"fa fa-times-circle", "text"->"", "class"->"float-right"))
					</div>
				</div>
			</div>
		</div>
	}

	<div class="wordwrap">
		<div id="createMessage" class="lead">@Messages(MessageKeys.PLEASE__WAIT)</div>
		<div id="createDescription">-</div>
	</div>
	@components.progress(Map("id"->"createProgress", "value"->"0", "max"->"100", "striped"->"true", "animated"->"true"))
}
