@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import play.i18n.Lang
@import play.i18n.Messages
@import views.html._
@import views.html.components

@import common.system._
@import models.manage.user._
@import models.user._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@components.modal(Map("id"->"deleteDialog", "icon"->"fas fa-trash-alt", "title"->messages(MessageKeys.DELETE), "closable"->"false", "data-backdrop"->"static"), List(
		Map("id"->"deleteCancel", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.CANCEL), "data-dismiss"->"modal"),
		Map("id"->"deleteOk", "type"->"primary", "text"->messages(MessageKeys.OK), "default"->"true")
	)){

	@helper.form(helper.CSRF(controllers.manage.user.routes.Edit.delete()), 'name->"deleteForm", 'id->"deleteForm") {
		<div>
			<p class="text-danger"></p>
		</div>
		<div class="row form-group">
			<label for="inputUserId" class="col-sm-3 col-form-label">@messages(MessageKeys.USER_USERID)</label>
			<div class="col-sm-9">
				<input id="" type="email" name="" class="form-control" placeholder="Email" value="" required disabled>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-9">
				<input id="delete@User.USER_ID" type="hidden" name="@User.USER_ID" class="form-control" placeholder="Email" value="" required>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-9">
				<input id="delete@User.UPDATE_DATE_TIME" type="hidden" name="@User.UPDATE_DATE_TIME" class="form-control" placeholder="UpdateDateTime" value="" required>
			</div>
		</div>
	}

	<div class="wordwrap">
		<div id="deleteMessage" class="lead">@messages(MessageKeys.PLEASE__WAIT)</div>
		<div id="deleteDescription">-</div>
	</div>
	@components.progress(Map("id"->"deleteProgress", "value"->"0", "max"->"100", "striped"->"true", "animated"->"true"))
}
