@import java.time._
@import java.time.format._
@import play.api.i18n._
@import views.html._
@import views.html.components

@import common.system._
@import common.utils._
@import models.manage.user._
@import models.user._
@import models.user.User._

@(form: play.data.Form[models.manage.user.ReadFormContent], users: List[User])

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List



@datetime(dateTime: LocalDateTime) = @{

	common.utils.DateTimes.getClientDateTime(dateTime)
}

@datetimeFormat(dateTime: LocalDateTime) = @{

	DateTimeFormatter.ofLocalizedDateTime(FormatStyle.MEDIUM).withLocale(lang.toLocale).format(dateTime)
}

@datetime_now() = @{

	datetime(LocalDateTime.now())
}

@tbodyRowToColumnsList(users: java.util.List[User]) = @{

	val tbodyRowToColumnsList = scala.collection.mutable.ListBuffer[Tuple2[ /*tr*/ scala.collection.immutable.Map[String, String], /*tds*/ Seq[scala.collection.immutable.Map[String, String]]]]();
	for(user <- users) {

		val tbodyRow = Map[String, String]("type"->rowType(user.getRoles()));

		val columnsList = List[scala.collection.immutable.Map[String, String]](
			Map("text"->user.getUserId),
			Map("text"->user.getRoles().map(role=>Messages("user.role."+role.name().toLowerCase())).mkString(" / ")),
			Map("text"->JSONs.toJSON(user.getRoles())),
			Map("text"->(if(user.getCompany != null){user.getCompany.getId.toString}else{""})),
			Map("text"->(if(user.getCompany != null){user.getCompany.getNames.getOrElse(lang.locale, user.getCompany.getNames.get(Locale.US))}else{""})),
			Map("text"->datetimeFormat(datetime(user.getExpireDateTime))),
			Map("text"->(if(user.getSignInDateTime != null){datetimeFormat(datetime(user.getSignInDateTime))}else{""})),
			Map("text"->(if(user.getSignOutDateTime != null){datetimeFormat(datetime(user.getSignOutDateTime))}else{""})),
			Map("text"->datetimeFormat(datetime(user.getUpdateDateTime))),
			Map("text"->datetime(user.getUpdateDateTime).toString)
		);

		tbodyRowToColumnsList += Tuple2(tbodyRow, columnsList);
	}

	tbodyRowToColumnsList.toList
}

@rowType(roles: java.util.Set[User.Role]) = @{

	if(roles.contains(User.Role.ADMIN)){

		"danger";
	}else if(roles.contains(User.Role.CUSTOMER)){

		"success";
	}else if(roles.contains(User.Role.GUEST)){

		"";
	}else{

		throw new IllegalStateException(roles.toString())
	}
}

@frame(){

	@head("manage"){

		@libraries.standard.head()
		@libraries.datatables.head()
		@style(){span.custom-file-control:before{content: "@Messages(MessageKeys.SELECT__FILE)";}}
		<style id="uploadFileStyle">#uploadFile + span.custom-file-control:after{content: "" !important;}</style>
		@libraries.pickadate.head()
		@libraries.select2.head()
	}

	@body("manage","user"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.EDIT), "icon"->"fa fa-edit", "selected"->"true"))
		}

		<div class="container-fluid">

			@tasks(Map("id"->"", "task"->"list"))
		</div>

		<div class="container-fluid">

			<div class="mt-3 mb-3">
				@components.button(Map("id"->"searchButton", "type"->"primary", "outline"->"true", "icon"->"fa fa-search", "text"->(Messages(MessageKeys.SEARCH)+Html("&nbsp;<i class=\"fa fa-caret-down\"></i>")), "data-toggle"->"collapse", "data-target"->"#readCollapse", "aria-controls"->"readCollapse"))
				@components.linkbutton(Map("id"->"downloadButton", "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->("CSV "+Messages(MessageKeys.DOWNLOAD)), "link"->helper.CSRF(controllers.manage.user.routes.Read.download()).toString()))
				@components.button(Map("id"->"uploadButton", "type"->"warning", "outline"->"true", "icon"->"fa fa-upload", "text"->("CSV "+Messages(MessageKeys.UPLOAD)), "data-toggle"->"modal", "data-target"->"#uploadDialog"))
				@components.button(Map("id"->"deleteButton", "type"->"danger", "outline"->"true", "icon"->"fa fa-trash", "text"->Messages(MessageKeys.DELETE), "data-toggle"->"modal", "data-target"->"#deleteDialog"))
				@components.button(Map("id"->"updateButton", "type"->"warning", "outline"->"true", "icon"->"fa fa-pencil", "text"->Messages(MessageKeys.EDIT), "data-toggle"->"modal", "data-target"->"#updateDialog"))
				@components.button(Map("id"->"createButton", "type"->"primary", "outline"->"true", "icon"->"fa fa-plus", "text"->Messages(MessageKeys.CREATE), "data-toggle"->"modal", "data-target"->"#createDialog"))
				@components.button(Map("id"->"settingButton", "type"->"primary", "outline"->"true", "icon"->"fa fa-sliders", "text"->Html("&nbsp;<i class=\"fa fa-caret-down\"></i>").toString, "data-toggle"->"collapse", "data-target"->"#settingCollapse", "aria-controls"->"settingCollapse"))
			</div>

			@settingPanel()
			@createdialog()
			@readform(form)
			@updatedialog()
			@deletedialog()
			@uploaddialog()

			<div class="mb-3">
				@components.table(Map("id"->"userlist", "class"->"table-xl-responsive", "responsive"->"true", "bordered"->"true"),
					Map("id"->""),Tuple2(Map("id"->""),List(
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_USERID)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_ROLE)),
						Map("id"->"", "head"->"true", "text"->(User.ROLES+"_source")),
						Map("id"->"", "head"->"true", "text"->User.COMPANYID),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.COMPANY_NAME)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_EXPIRE)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_SIGNIN)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_SIGNOUT)),
						Map("id"->"", "head"->"true", "text"->(Messages(MessageKeys.UPDATE) + " " + Messages(MessageKeys.DATETIME))),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.VERSION)))),
					Map("id"->""),
					tbodyRowToColumnsList(users),
					Map("id"->""),Tuple2(Map("id"->""),List(
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_USERID)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_ROLE)),
						Map("id"->"", "head"->"true", "text"->(User.ROLES+"_source")),
						Map("id"->"", "head"->"true", "text"->User.COMPANYID),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.COMPANY_NAME)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_EXPIRE)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_SIGNIN)),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.USER_SIGNOUT)),
						Map("id"->"", "head"->"true", "text"->(Messages(MessageKeys.UPDATE) + " " + Messages(MessageKeys.DATETIME))),
						Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.VERSION)))),
				)
			</div>
		</div>

		@libraries.standard.last()
		@libraries.datatables.last()
		@libraries.pickadate.last()
		@libraries.select2.last()
		@script(){

			$(document).ready(function() {

				var dataTable=$('#userlist').DataTable({
					"language": {
						select: {
							rows: {
								_: " @Messages(MessageKeys.X__CASE__SELECTED).replace("{0}","%d")"
//								_: "You have selected %d rows",
//								0: "Click a row to select it",
//								1: "Only 1 row selected"
							}
						}
					},
					select: {
						style: 'single',
					},
					"lengthMenu": [ [10, 50, 100, 500, -1], [10, 50, 100, 500, 1000] ],
					"initComplete": function () {

						dataTable
							.on( 'select', function ( e, dt, type, indexes ) {

								var rowData = dataTable.rows( indexes ).data().toArray();
//								events.prepend( '<div><b>'+type+' selection</b> - '+JSON.stringify( rowData )+'</div>' );
							} )
							.on( 'deselect', function ( e, dt, type, indexes ) {

								var rowData = dataTable.rows( indexes ).data().toArray();
//								events.prepend( '<div><b>'+type+' <i>de</i>selection</b> - '+JSON.stringify( rowData )+'</div>' );
							} );

						$('#userlist'+'_wrapper').on( 'click', function () {

								updateSelection();
						});

					}
				});

				var updateSelection = function (){

					$('#deleteButton').attr("disabled", "disabled");
					$('#updateButton').attr("disabled", "disabled");
					$('#createButton').attr("disabled", "disabled");

					var rows = $('#userlist>tbody>tr');
					switch(rows.length){
						case 0:

							$('#createButton').prop('disabled', false);

							break;
						default:

							var selectedRows = $('#userlist>tbody>tr.selected');
							switch(selectedRows.length){
								case 0:

									$('#createButton').prop('disabled', false);
									break;
								case 1:

									$('#createButton').prop('disabled', false);
									$('#updateButton').prop('disabled', false);
									$('#deleteButton').prop('disabled', false);
									break;
								default:

									break;
							};

							break;
					};
				};

				updateSelection();

				// ////////// Read //////////

				var jsdate = new Date(@datetime_now().getYear(), @datetime_now().getMonthValue()-1, @datetime_now().getDayOfMonth(), @datetime_now().getHour(), @datetime_now().getMinute());

				$('#@User.EXPIREFROM').pickadate({
					format: 'yyyy-mm-dd',
					formatSubmit: 'yyyy-mm-dd',
					hiddenName: true
				});
				var datepicker = $('#@User.EXPIREFROM').pickadate( 'picker' );
				datepicker.set('highlight', jsdate);
				$('#@User.EXPIREFROM').siblings('span').on('click', function(e){

					$('#@User.EXPIREFROM').trigger("click");
					e.stopPropagation();
				});

				$('#@User.EXPIRETO').pickadate({
					format: 'yyyy-mm-dd',
					formatSubmit: 'yyyy-mm-dd',
					hiddenName: true
				});
				var datepicker = $('#@User.EXPIRETO').pickadate( 'picker' );
				datepicker.set('highlight', jsdate);
				$('#@User.EXPIRETO').siblings('span').on('click', function(e){

					$('#@User.EXPIRETO').trigger("click");
					e.stopPropagation();
				});

				Components.applyRangeToCheckboxs('.read@User.ROLES', 1);

				// ////////// Download //////////

				$('#downloadButton').on("click", function(e){

					var downloadQuery = $('#'+'read'+'Form').serialize();
					var currentLink = $('#downloadButton').attr('href');
					var currentLinkArray = currentLink.split(/\?.*(?=csrfToken)/);
					var downloadLink = currentLinkArray[0]+'?'+downloadQuery+'&'+currentLinkArray[1];
					$('#downloadButton').attr('href', downloadLink);
				});

				// ////////// Edit //////////

				var select2Options = {

					ajax: {
						url: function (params) {

							var currentLink = '@helper.CSRF(apis.company.routes.Company.companies("", 0, 0))';
							var currentLinkArray = currentLink.split(/\?.*(?=csrfToken)/);
							var companiesLink = currentLinkArray[0]+'?'+currentLinkArray[1];
							return companiesLink;
						},
						dataType: 'json',
						delay: 250,
						data: function (params) {
							return {
								name: params.term,
								page: params.page,
								size: 100
							};
						},
						processResults: function (data, params) {

							params.page = params.page || 0;

							return {
								results: data.companies,
								pagination: {
									more: ((params.page + 1) * 30) < data.totalCount
								}
							};
						},
						cache: true
					},
					escapeMarkup: function (markup) { return markup; },
					minimumInputLength: 1,
					templateResult: formatRepo,
					templateSelection: formatRepoSelection
				};
				$("#create@User.COMPANYID").select2(select2Options);
				$("#createDelete@User.COMPANYID").on("click", function () {

					$("#create@User.COMPANYID").val(null).trigger("change");
				});
				$("#update@User.COMPANYID").select2(select2Options);
				$("#updateDelete@User.COMPANYID").on("click", function () {

					$("#update@User.COMPANYID").val(null).trigger("change");
				});

				function formatRepo (company) {

					if (company.loading) return company.text;

					var companyName = resolveCompanyName(company);
					var markup = '<div class="select2-result-repository clearfix">' +
							'<div class="select2-result-repository__name ma-1">' +
								'<address>' +
									'<strong>' + companyName + '</strong><br>' +
									'address...<br>' +
								'</address>' +
							'</div>' +
						'</div>';

					return markup;
				}

				function formatRepoSelection (company) {

					var companyName = resolveCompanyName(company);
					return companyName;
				}

				function resolveCompanyName (company) {

					var companyName;
					if(company.names){

						companyName = company.names["@lang.code"] || company.names["en-US"];
					}else {

						companyName = company.text;
					}

					return companyName;
				}

				$('#deleteButton').on("click", function(){

					var selectedRows = $('#userlist>tbody>tr.selected');
					var user = createUsers(selectedRows)[0];
					for(property in user){

						$('#delete'+property).val(user[property]);
					}
					$('#delete'+'@User.USERID').parent().parent().prev().find('input').val(user.userId);

					initOperation('delete');
				});
				$('#updateButton').on("click", function(){

					var selectedRows = $('#userlist>tbody>tr.selected');
					var user = createUsers(selectedRows)[0];
					for(property in user){

						switch(property){
							case '@User.ROLES':

								$('.update'+property).each(function(){

									if(-1 != $.inArray($(this).val(), user[property])){

										$(this).prop('checked', true);
									}else{

										$(this).prop('checked', false);
									}
								});
								break;
							case '@User.COMPANYID':

								$('#update'+property+'>option').val(user[property]);
								break;
							case '@User.COMPANYNAME':

								$('#update'+'@User.COMPANYID>option').text(user[property]);
								break;
							default:

								$('#update'+property).val(user[property]);
								break;
						};
					}

					$("#update@User.COMPANYID").select2(select2Options);

					initOperation('update');
				});
				$('#createButton').on("click", function(){

					var user = {
						"@User.USERID":"",
						"@User.PASSWORD":"",
						"@User.REPASSWORD":"",
						"@User.ROLES":"@models.user.User.Role.CUSTOMER",
						"@User.COMPANYID":"",
						"@User.COMPANYNAME":""
					};
					for(property in user){

						switch(property){
							case '@User.ROLES':

								$('.create'+property).each(function(){

									if("@models.user.User.Role.CUSTOMER" == $(this).val()){

										$(this).prop('checked', true);
									}else{

										$(this).prop('checked', false);
									}
								});
								break;
							case '@User.COMPANYID':

								$('#create'+property+'>option').val(user[property]);
								break;
							case '@User.COMPANYNAME':

								$('#create'+'@User.COMPANYID>option').text(user[property]);
								break;
							default:

								$('#create'+property).val(user[property]);
								break;
						};
					}

					$("#create@User.COMPANYID").select2(select2Options);

					initOperation('create');
				});

				$('#deleteOk').on("click", function(){

					initOperation('delete');
					operation('delete');
				});
				$('#updateOk').on("click", function(){

					initOperation('update');
					operation('update');
				});
				$('#createOk').on("click", function(){

					initOperation('create');
					operation('create');
				});

				var initOperation = function(crud){

					var errorContainer = $('#'+crud+'Dialog form>div:first-child');
					errorContainer.empty();

					var properties = ['@User.COMPANYID', '@User.USERID', '@User.NEWUSERID', '@User.PASSWORD', '@User.REPASSWORD'];
					for(i in properties){

						var propertyErrorContainer = $('#'+crud+properties[i]).parent().find("div");
						propertyErrorContainer.empty();
					}

					$('#'+crud+'Message').text('');
					$('#'+crud+'Description').text('-');
					$('#'+crud+'Progress').removeClass('progress-danger').val(0);
					$('#'+crud+'Cancel').prop('disabled', false);
					$('#'+crud+'Ok').prop('disabled', false);
				}

				var operation = function(crud){

					$('#'+crud+'Message').text('@Messages(MessageKeys.PLEASE__WAIT)');
					$('#'+crud+'Progress').val(100);
					$('#'+crud+'Cancel').prop('disabled', true);
					$('#'+crud+'Ok').prop('disabled', true);

					var form = $('#'+crud+'Form');
					var url = form.attr('action');
					$.ajax({
						method:"POST",
						url:url,
						data:form.serialize(),
						processData: false,
						dataType: "json",
						timeout: 3 * 1000
					})
					.then(
						function (responseJson) {

							window.location.href = '@controllers.manage.user.routes.Read.index()';
						},
						function (jqXHR, textStatus, errorThrown) {

							var responseJson = jqXHR.responseJSON||{};
							if(responseJson['globalErrors']){

								var errorContainer = $('#'+crud+'Dialog form>div:first-child');
								var errors = responseJson.globalErrors;
								$.each(errors, function(i, error){

									errorContainer.append('<p class="text-warning">'+error+'</p>');
								});
							}
							if(responseJson['errors']){

								for(property in responseJson.errors){

									var propertyErrorContainer = $('#'+crud+property).parent().find('div')
									var propertyErrors = responseJson.errors[property];
									$.each(propertyErrors, function(i, error){

										propertyErrorContainer.append('<p class="text-warning">'+error+'</p>');
									});
								}

							}

							$('#'+crud+'Message').text('@Messages(MessageKeys.FAILURE)');
							$('#'+crud+'Description').html('@Messages(MessageKeys.STATUS)&nbsp;<strong>'+textStatus+'</strong>&nbsp;-&nbsp;@Messages(MessageKeys.ERROR)&nbsp;<strong>'+errorThrown+'</strong>');
							$('#'+crud+'Progress>.progress-bar').addClass('bg-danger');
							$('#'+crud+'Cancel').prop('disabled', false);
							$('#'+crud+'Ok').prop('disabled', false);

							if(responseJson['globalErrors'] || responseJson['errors']) {

								shake('#'+crud+'Dialog');
							}
						}
					);
					return false;
				}

				var createUsers = function(selectedRows){

					var users = [];
					selectedRows.each(function(){

						var tr = this;
						var index = $('#userlist>tbody>tr').index(tr);
						var columns = dataTable.rows().data()[ index ];
						var user = {
							"@User.USERID":columns[0],
							"@User.NEWUSERID":columns[0],
							"@User.ROLES":JSON.parse(columns[2]),
							"@User.COMPANYID":columns[3],
							"@User.COMPANYNAME":columns[4],
							"expireDateTime":columns[5],
							"signInDateTime":("" != columns[6] ? columns[6]:null),
							"signOutDateTime":("" != columns[7] ? columns[7]:null),
							"@User.UPDATEDATETIME":columns[9]
						};
						users.push(user);
					});

					return users;
				};

				Components.applyRangeToCheckboxs('.create@User.ROLES', 1);
				Components.applyRangeToCheckboxs('.update@User.ROLES', 1);

				// ////////// Upload //////////

				var template = '<style id="uploadFileStyle">#uploadFile + span.custom-file-control:after{content: "fileName" !important;}</style>';
				$('#uploadFile').on('change', function(e){

					var selectedFilePath = document.uploadForm.uploadFile.value;
					var selectedFilePaths = selectedFilePath.split(/\\|\\/);
					var selectedFileName = selectedFilePaths[selectedFilePaths.length - 1];

					var updatedStyle = template.replace('fileName',selectedFileName)
					$('#uploadFileStyle').replaceWith(updatedStyle);
				});

				$('#uploadButton').on("click", function(){

					initUploadOperation('upload');

					var updatedStyle = template.replace('fileName',"");
					$('#uploadFileStyle').replaceWith(updatedStyle);

					$('#uploadFile').val("");

					$('#updateRadio').prop('checked', true);
				});
				$('#uploadOk').on("click", function(){

					initUploadOperation('upload');
					uploadOperation('upload');
				});

				var initUploadOperation = function(crud){

					var errorContainer = $('#'+crud+'Dialog form>div:first-child');
					errorContainer.empty();

					var properties = ['@User.UPLOADFILE'];
					for(i in properties){

						var propertyErrorContainer = $('#'+crud+properties[i]).parent().find("div");
						propertyErrorContainer.empty();
					}

					$('#'+crud+'Message').text('');
					$('#'+crud+'Description').text('-');
					$('#'+crud+'Progress').removeClass('progress-danger').val(0);
					$('#'+crud+'Cancel').prop('disabled', false);
					$('#'+crud+'Ok').prop('disabled', false);
				}

				var uploadOperation = function(crud){

					$('#'+crud+'Message').text('@Messages(MessageKeys.PLEASE__WAIT)');
					$('#'+crud+'Progress').val(100);
					$('#'+crud+'Cancel').prop('disabled', true);
					$('#'+crud+'Ok').prop('disabled', true);

					var form = $('#'+crud+'Form');
					var url = form.attr('action');
					var formData = new FormData(form[0]);
					$.ajax({
						method:"POST",
						url:url,
						data:formData,
						processData: false,
						contentType: false,
						dataType: "json",
						timeout: 30 * 1000
					})
					.then(
						function (responseJson) {

							window.location.href = '@controllers.manage.user.routes.Read.index()';
						},
						function (jqXHR, textStatus, errorThrown) {

							var responseJson = jqXHR.responseJSON||{};
							if(responseJson['globalErrors']){

								var errorContainer = $('#'+crud+'Dialog form>div:first-child');
								var errors = responseJson.globalErrors;
								$.each(errors, function(i, error){

									errorContainer.append('<p class="text-warning">'+error+'</p>');
								});
							}
							if(responseJson['errors']){

								for(property in responseJson.errors){

									var propertyErrorContainer = $('#'+crud+property).parent().find('div')
									var propertyErrors = responseJson.errors[property];
									$.each(propertyErrors, function(i, error){

										propertyErrorContainer.append('<p class="text-warning">'+error+'</p>');
									});
								}

							}

							$('#'+crud+'Message').text('@Messages(MessageKeys.FAILURE)');
							$('#'+crud+'Description').html('@Messages(MessageKeys.STATUS)&nbsp;<strong>'+textStatus+'</strong>&nbsp;-&nbsp;@Messages(MessageKeys.ERROR)&nbsp;<strong>'+errorThrown+'</strong>');
							$('#'+crud+'Progress>.progress-bar').addClass('bg-danger');
							$('#'+crud+'Cancel').prop('disabled', false);
							$('#'+crud+'Ok').prop('disabled', false);

							if(responseJson['globalErrors'] || responseJson['errors']) {

								shake('#'+crud+'Dialog');
							}
						}
					);
					return false;
				}

				$('#'+'upload'+'Dialog').on('hide.bs.modal', function (e) {

					if($('#uploadFileInfo').attr('aria-describedby')){

						$('#uploadFileInfo').trigger('click');
					}
					$('#uploadFileInfo').popover('hide');
				})

				// ////////// Setting //////////

				var updateTableClolumn = function(checkboxInput){

					var index = $('.settingDisplayColumns').index(checkboxInput);
					var checkbox = $(checkboxInput);
					var isVisible = checkbox.prop('checked');

					dataTable.column( index ).visible( isVisible );
				}
				$('.settingDisplayColumns').each(function(){

					updateTableClolumn(this);
				});

				Components.applyRangeToCheckboxs('.settingDisplayColumns', 1, null, function(e){

					updateTableClolumn(e.currentTarget);
				});
			});

			// ////////// Common //////////

			$(window).on('keydown', function(e){

				var keyCode = e.which ? e.which : e.keyCode;
				if (13 == keyCode) {

					if($("#createDialog").is(".show")){

						$('#createOk').trigger("click");
					}else if($("#deleteDialog").is(".show")){

						$('#deleteOk').trigger("click");
					}else if($("#updateDialog").is(".show")){

						$('#updateOk').trigger("click");
					}else if($("#uploadDialog").is(".show")){

						$('#uploadOk').trigger("click");
					}else{

					}

					e.preventDefault();
				}
			})

			$('[data-toggle="tooltip"]').tooltip();
			$('[data-toggle="popover"]').popover();
		}
	}
}
