@import java.time._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import play.api.i18n._
@import views.html._
@import views.html.components

@import common.system._
@import models.manage.user._
@import models.user._

@(form: play.data.Form[models.manage.user.ReadFormContent])

<div class="collapse" id="readCollapse">
	<div id="readPanel" class="card text-xs-center">
		<div class="card-body text-xs-left">
		@helper.form(helper.CSRF(controllers.manage.user.routes.Read.read()), 'name->"readForm", 'id->"readForm") {
			<h5 class="form-read-heading">@Messages(MessageKeys.CONDITION)</h5>
			@if(form.hasGlobalErrors) {
				<p class="text-danger">@form.getGlobalError.get.message</p>
			}
			<div class="row form-group">
				<label for="@User.USERID" class="col-sm-3 col-form-label">@Messages(MessageKeys.USER_USERID)</label>
				<div class="col-sm-9">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="far fa-envelope"></i>
							</span>
						</div>
						<input id="@User.USERID" type="text" name="@User.USERID" class="form-control" placeholder="Email" value="@form(User.USERID).getValue.orElse("")" autofocus>
						@for(error <- form(User.USERID).errors) {
							<div class="text-danger">@Messages(error.message)</div>
						}
					</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="inputRole" class="col-sm-3 form-control-label">@Messages(MessageKeys.USER_ROLE)</label>
				<div class="col-sm-9">
					<div class="custom-control custom-checkbox custom-control-inline">
						<input id="readRoles@User.Role.GUEST.toString()" class="custom-control-input read@User.ROLES" type="checkbox" name="@(User.ROLES+"[0]")" value="@User.Role.GUEST.toString()" @("checked".when(form.get().getRoles().contains(User.Role.GUEST)))>
						<label class="custom-control-label" for="readRoles@User.Role.GUEST.toString()">@Messages(MessageKeys.USER_ROLE_GUEST)</label>
					</div>
					<div class="custom-control custom-checkbox custom-control-inline">
						<input id="readRoles@User.Role.CUSTOMER.toString()" class="custom-control-input read@User.ROLES" type="checkbox" name="@(User.ROLES+"[1]")" value="@User.Role.CUSTOMER.toString()" @("checked".when(form.get().getRoles().contains(User.Role.CUSTOMER)))>
						<label class="custom-control-label" for="readRoles@User.Role.CUSTOMER.toString()">@Messages(MessageKeys.USER_ROLE_CUSTOMER)</label>
					</div>
					<div class="custom-control custom-checkbox custom-control-inline">
						<input id="readRoles@User.Role.ADMIN.toString()" class="custom-control-input read@User.ROLES" type="checkbox" name="@(User.ROLES+"[2]")" value="@User.Role.ADMIN.toString()" @("checked".when(form.get().getRoles().contains(User.Role.ADMIN)))>
						<label class="custom-control-label" for="readRoles@User.Role.ADMIN.toString()">@Messages(MessageKeys.USER_ROLE_ADMIN)</label>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="@User.EXPIREFROM" class="col-12 col-sm-3 col-form-label">@Messages(MessageKeys.USER_EXPIRE)</label>
				<div class="col-10 col-sm-4">
					<div class="input-group">
						<input id='@User.EXPIREFROM' type='text' name="@User.EXPIREFROM" class="form-control" value="@form(User.EXPIREFROM).getValue.orElse("")"/>
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-calendar-alt"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="col-2 col-sm-1 text-center pt-2">
					&#x301c;
				</div>
				<div class="col-10 col-sm-4">
					<div class="input-group">
						<input id='@User.EXPIRETO' type='text' name="@User.EXPIRETO" class="form-control" value="@form(User.EXPIRETO).getValue.orElse("")"/>
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-calendar-alt"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="@User.MAXRESULT" class="col-sm-3 col-form-label">@Messages(MessageKeys.MAX__CASE)</label>
				<div class="col-sm-9">
					<select id="@User.MAXRESULT" name="@User.MAXRESULT" class="form-control custom-select" required>
						<option value="100" @("selected".when("100".equals(form(User.MAXRESULT).getValue.orElse(""))))>100</option>
						<option value="500" @("selected".when("500".equals(form(User.MAXRESULT).getValue.orElse(""))))>500</option>
						<option value="1000" @("selected".when("1000".equals(form(User.MAXRESULT).getValue.orElse(""))))>1000</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					@components.button(Map("id"->"readButton", "action"->"submit", "type"->"primary", "icon"->"fas fa-sync", "text"->Messages(MessageKeys.UPDATE), "class"->"float-right"))
				</div>
			</div>
		}
		</div>
	</div>
</div>
