@import play.api.i18n._
@import com.typesafe.config._
@import views.html.helper._

@import common.system._

@()

<script @{CSPNonce.attr} src='@routes.Assets.versioned("lib/plotly.js/dist/plotly.min.js")'></script>

@translation() = @{

	var lang = Messages(MessageKeys.PLOTLYJS_LANG)
	if(lang.isEmpty){

		Html("")
	}else{

		var path = "lib/plotly.js/dist/plotly-locale-"+lang+".js"
		Html("<script " + CSPNonce.attr + " type='text/javascript' src='"+routes.Assets.versioned(path)+"'></script>")
	}
}
@translation()

<div id="plotlyjs_messages" class="d-none" data-messages='{
	"@MessageKeys.PLOTLYJS_LANG":"@Messages(MessageKeys.PLOTLYJS_LANG)"
}'></div>
<script @{CSPNonce.attr} src='@routes.Assets.versioned("lib/custom/plotly.js/last.js")'></script>