@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->("Ajax " + Messages(MessageKeys.SELECT)), "icon"->"fa fa-pencil", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"ajaxselect"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<fieldset id="bigSelect" class="form-group">
						<label for="bigSelect">Big</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					<fieldset id="middleSelect" class="form-group">
						<label for="middleSelect">Middle</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					<fieldset id="smallSelect" class="form-group">
						<label for="smallSelect">Small</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					@components.modal(Map("id"->"ajaxDialog", "icon"->"fa fa-spinner fa-pulse", "title"->Messages(MessageKeys.REQUEST), "closable"->"false", "data-backdrop"->"static"), List(
							Map("id"->"ajaxCancel", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.CANCEL), "enabled"->"false", "data-dismiss"->"modal")
						)){
						<div class="wordwrap">
							<div id="ajaxMessage" class="lead">@Messages(MessageKeys.PLEASE__WAIT)</div>
							<div id="ajaxDescription">-</div>
						</div>
						@components.progress(Map("id"->"ajaxProgress", "value"->"100", "max"->"100", "striped"->"true", "animated"->"true"))
					}
				</div>
			</div>
		}

		@libraries.standard.last()
		@script(){

			$( "#bigSelect>select" ).on('change', function(e) {

				update($(this).val(), $(this).parent().next().find("select"));
			});

			$( "#middleSelect>select" ).on('change', function(e) {

				update($(this).val(), $(this).parent().next().find("select"));
			});

			$( "#smaleSelect>select" ).on('change', function(e) {

			});

			var update = function(parentValue, updateElement){

				$('#ajaxDialog').modal({backdrop:false});

				$('#ajaxProgress>.progress-bar').removeClass('bg-danger');
				$('#ajaxCancel').prop('disabled', true);
				$('#ajaxMessage').text('@Messages(MessageKeys.PLEASE__WAIT)');
				$('#ajaxDescription').text('-');

				updateElement.empty();

				$.ajax({
					method:"POST",
					url:"@helper.CSRF(apis.development.http.routes.Http.ajaxdata())",
					data:JSON.stringify({
						request: "dummyRequest",
						mock: {
							wait:0.5*1000,
							response:{
								values:[parentValue+' 0', parentValue+' 1', parentValue+' 2']
							}
						}
					}),
					contentType: 'application/json',
					dataType: "json",
					timeout: 10 * 1000
				})
				.then(
					function(responseJson) {

						$('#ajaxDialog').modal('hide');

						for(i in responseJson.values){

							var div = $('<option value="'+responseJson.values[i]+'">'+responseJson.values[i]+'</option>');
							updateElement.append(div);
						}

						updateElement.trigger("change");
					},
					function( jqXHR, textStatus, errorThrown) {

						$('#ajaxProgress>.progress-bar').addClass('bg-danger');
						$('#ajaxCancel').prop('disabled', false);
						$('#ajaxMessage').text('@Messages(MessageKeys.FAILURE)');
						$('#ajaxDescription').html('@Messages(MessageKeys.STATUS)&nbsp;<strong>'+textStatus+'</strong>&nbsp;-&nbsp;@Messages(MessageKeys.ERROR)&nbsp;<strong>'+errorThrown+'</strong>');
					}
				);
			}

			update("", $( "#bigSelect>select" ));
		}
	}
}
