@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->("Ajax " + Messages(MessageKeys.SELECT)), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"ajaxselect"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<fieldset id="bigSelect" class="form-group">
						<label for="bigSelect">Big</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					<fieldset id="middleSelect" class="form-group">
						<label for="middleSelect">Middle</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					<fieldset id="smallSelect" class="form-group">
						<label for="smallSelect">Small</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					@components.modal(Map("id"->"ajaxDialog", "icon"->"fas fa-spinner fa-pulse", "title"->Messages(MessageKeys.REQUEST), "closable"->"false", "data-backdrop"->"static"), List(
							Map("id"->"ajaxCancel", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.CANCEL), "enabled"->"false", "data-dismiss"->"modal")
						)){
						<div class="wordwrap">
							<div id="ajaxMessage" class="lead">@Messages(MessageKeys.PLEASE__WAIT)</div>
							<div id="ajaxDescription">-</div>
						</div>
						@components.progress(Map("id"->"ajaxProgress", "value"->"100", "max"->"100", "striped"->"true", "animated"->"true"))
					}
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.PLEASE__WAIT":"@Messages(MessageKeys.PLEASE__WAIT)",
			"@MessageKeys.FAILURE":"@Messages(MessageKeys.FAILURE)",
			"@MessageKeys.STATUS":"@Messages(MessageKeys.STATUS)",
			"@MessageKeys.ERROR":"@Messages(MessageKeys.ERROR)"
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/ajaxselect.js")'></script>
	}
}
