@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/autumnboard.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Autumn board", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"autumnboard"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div id="lockView" class="h-288p bg-cyan-300 rounded">

						<div class="h-144p"></div>
						@components.unlock(Map("id"->"unlockView", "class"->"mx-auto w-288p", "text"->Messages(MessageKeys.SLIDE)))

					</div>

					<div id="homeView" class="row mx-0 mb-3 icon-board px-4 pt-4 bg-dark rounded d-none">

						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-green-400 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-phone fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->"16"))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-blue-400 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-envelope fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->"4096"))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-green-400 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-comment fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->"256"))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-grey-400 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-dark", "icon"->"fas fa-camera fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-purple-300 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-star fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-white rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-pink-700", "icon"->"fas fa-music fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-white rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-orange", "icon"->"fas fa-home fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-grey-300 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-dark", "icon"->"fas fa-cog fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->"1"))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-white rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-blue-400", "icon"->"fas fa-folder fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-orange rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-graduation-cap fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-green-400 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-video fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->"2"))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-purple-400 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-podcast fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->"8"))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-grey-300 rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-dark", "icon"->"fas fa-calculator fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-orange rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-white", "icon"->"fas fa-lightbulb fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
						<div class="icon-frame-wrapper text-center float-left w-96p">
							<div class="icon-frame bg-white rounded mb-4 py-2">
								@components.icon(Map("id"->"", "class"->"icon-body text-blue-400", "icon"->"fab fa-safari fa-2x"))
								@components.badge(Map("id"->"", "class"->"icon-close", "pill"->"true", "text"->"×"))
								@components.badge(Map("id"->"", "class"->"icon-notification", "type"->"danger", "pill"->"true", "text"->""))
							</div>
						</div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.hammerjs.last()
		@libraries.jqueryuitouchpunch.last()
		<script src='@routes.Assets.versioned("javascripts/lab/ui/autumnboard.js")'></script>
	}
}
