@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/campaign.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.CAMPAIGN), "icon"->"far fa-handshake", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"campaign"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="">
						<h4 class="headline">@(messages(MessageKeys.UP) + ' ' + messages(MessageKeys.CONTENT))</h4>
						<div class="jumbotron jumbotron-fluid">
							<div class="container">
								<h1 class="display-4 draft">Fluid jumbotron</h1>
								<p class="lead draft">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
								@components.image(Map("id"->"", "source"->"holder.js/100px200?random=yes", "fluid"->"true", "alternate"->messages(MessageKeys.CONTENT)))
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div id="campaigns-wrapper" class="w-100 px-2 shadow-inset">
							<div id="campaigns">
								<div class="campaign">
									@components.card(Map("id"->"", "class"->"shadow my-3 mx-2", "align"->"right")){
										@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->messages(MessageKeys.CONTENT)))
										<div class="card-body">
											<p class="card-text draft"><span>Description.</span></p>
										</div>
										<div class="card-footer">
											@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
										</div>
									}
								</div>
								<div class="campaign">
									@components.card(Map("id"->"", "class"->"shadow my-3 mx-2", "align"->"right")){
										@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->messages(MessageKeys.CONTENT)))
										<div class="card-body">
											<p class="card-text draft"><span>Description.</span></p>
										</div>
										<div class="card-footer">
											@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
										</div>
									}
								</div>
								<div class="campaign">
									@components.card(Map("id"->"", "class"->"shadow my-3 mx-2", "align"->"right")){
										@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->messages(MessageKeys.CONTENT)))
										<div class="card-body">
											<p class="card-text draft"><span>Description.</span></p>
										</div>
										<div class="card-footer">
											@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
										</div>
									}
								</div>
								<div class="campaign">
									@components.card(Map("id"->"", "class"->"shadow my-3 mx-2", "align"->"right")){
										@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->messages(MessageKeys.CONTENT)))
										<div class="card-body">
											<p class="card-text draft"><span>Description.</span></p>
										</div>
										<div class="card-footer">
											@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
										</div>
									}
								</div>
								<div class="campaign">
									@components.card(Map("id"->"", "class"->"shadow my-3 mx-2", "align"->"right")){
										@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->messages(MessageKeys.CONTENT)))
										<div class="card-body">
											<p class="card-text draft"><span>Description.</span></p>
										</div>
										<div class="card-footer">
											@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
										</div>
									}
								</div>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<h4 class="headline">@(messages(MessageKeys.DOWN) + ' ' + messages(MessageKeys.CONTENT))</h4>
						<div class="jumbotron jumbotron-fluid">
							<div class="container">
								<h1 class="display-4 draft">Fluid jumbotron</h1>
								<p class="lead draft">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
								@components.image(Map("id"->"", "source"->"holder.js/100px200?random=yes", "fluid"->"true", "alternate"->"Contents"))
							</div>
						</div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/campaign.js")'></script>
	}
}
