@import models.components._
@import common.system._

@()

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/campaign.css")'>
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.CAMPAIGN), "icon"->"fa fa-handshake-o", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"campaign"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="">
						<h4 class="headline">@(Messages(MessageKeys.UP) + ' ' + Messages(MessageKeys.CONTENT))</h4>
						<div class="jumbotron jumbotron-fluid">
							<div class="container">
								<h1 class="display-4 draft">Fluid jumbotron</h1>
								<p class="lead draft">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
								@components.image(Map("id"->"", "source"->"holder.js/100px200?random=yes", "fluid"->"true", "alternate"->Messages(MessageKeys.CONTENT)))
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div id="campaigns-wrapper" class="w-100 shadow-inset">
							<div id="campaigns">
								@components.card(Map("id"->"", "class"->"campaign shadow my-3 ml-3 float-left", "align"->"right")){
									@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->Messages(MessageKeys.CONTENT)))
									<div class="card-body">
										<p class="card-text draft"><span>Description.</span></p>
									</div>
									<div class="card-footer">
										@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
									</div>
								}
								@components.card(Map("id"->"", "class"->"campaign shadow my-3 ml-3 float-left", "align"->"right")){
									@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->Messages(MessageKeys.CONTENT)))
									<div class="card-body">
										<p class="card-text draft"><span>Description.</span></p>
									</div>
									<div class="card-footer">
										@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
									</div>
								}
								@components.card(Map("id"->"", "class"->"campaign shadow my-3 ml-3 float-left", "align"->"right")){
									@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->Messages(MessageKeys.CONTENT)))
									<div class="card-body">
										<p class="card-text draft"><span>Description.</span></p>
									</div>
									<div class="card-footer">
										@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
									</div>
								}
								@components.card(Map("id"->"", "class"->"campaign shadow my-3 ml-3 float-left", "align"->"right")){
									@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->Messages(MessageKeys.CONTENT)))
									<div class="card-body">
										<p class="card-text draft"><span>Description.</span></p>
									</div>
									<div class="card-footer">
										@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
									</div>
								}
								@components.card(Map("id"->"", "class"->"campaign shadow my-3 ml-3 float-left", "align"->"right")){
									@components.image(Map("id"->"", "source"->"holder.js/100px150?random=yes", "fluid"->"true", "alternate"->Messages(MessageKeys.CONTENT)))
									<div class="card-body">
										<p class="card-text draft"><span>Description.</span></p>
									</div>
									<div class="card-footer">
										@components.linkbutton(Map("id"->"", "type"->"primary", "text"->"More", "size"->"sm"))
									</div>
								}
								<div class="pl-3"></div>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<h4 class="headline">@(Messages(MessageKeys.DOWN) + ' ' + Messages(MessageKeys.CONTENT))</h4>
						<div class="jumbotron jumbotron-fluid">
							<div class="container">
								<h1 class="display-4 draft">Fluid jumbotron</h1>
								<p class="lead draft">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
								@components.image(Map("id"->"", "source"->"holder.js/100px200?random=yes", "fluid"->"true", "alternate"->"Contents"))
							</div>
						</div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
	}
}
