@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.CHECKBOX), "icon"->"far fa-check-square", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"checkbox"))
				</div>
				<div class="mt-3 d-md-none">
				</div>

				<div class="col-md-9">

					<div class="row">

						<div class="col-md-9 mb-3">

							<label for="" class="col-form-label col-md-3">2~&nbsp</label>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2__1" class="custom-control-input 2_" type="checkbox" name="" value="1" checked>
								<label class="custom-control-label" for="2__1">1</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2__2" class="custom-control-input 2_" type="checkbox" name="" value="2" checked>
								<label class="custom-control-label" for="2__2">2</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2__3" class="custom-control-input 2_" type="checkbox" name="" value="3" >
								<label class="custom-control-label" for="2__3">3</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2__4" class="custom-control-input 2_" type="checkbox" name="" value="4" >
								<label class="custom-control-label" for="2__4">4</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2__5" class="custom-control-input 2_" type="checkbox" name="" value="5" >
								<label class="custom-control-label" for="2__5">5</label>
							</div>
						</div>
						<div class="col-md-9 mb-3">

							<label for="" class="col-form-label col-md-3">~4&nbsp</label>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="_4_1" class="custom-control-input _4" type="checkbox" name="" value="1" checked>
								<label class="custom-control-label" for="_4_1">1</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="_4_2" class="custom-control-input _4" type="checkbox" name="" value="2" checked>
								<label class="custom-control-label" for="_4_2">2</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="_4_3" class="custom-control-input _4" type="checkbox" name="" value="3" >
								<label class="custom-control-label" for="_4_3">3</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="_4_4" class="custom-control-input _4" type="checkbox" name="" value="4" >
								<label class="custom-control-label" for="_4_4">4</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="_4_5" class="custom-control-input _4" type="checkbox" name="" value="5" >
								<label class="custom-control-label" for="_4_5">5</label>
							</div>
						</div>
						<div class="col-md-9 mb-3">

							<label for="" class="col-form-label col-md-3">2~4&nbsp</label>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2_4_1" class="custom-control-input 2_4" type="checkbox" name="" value="1" checked>
								<label class="custom-control-label" for="2_4_1">1</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2_4_2" class="custom-control-input 2_4" type="checkbox" name="" value="2" checked>
								<label class="custom-control-label" for="2_4_2">2</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2_4_3" class="custom-control-input 2_4" type="checkbox" name="" value="3" >
								<label class="custom-control-label" for="2_4_3">3</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2_4_4" class="custom-control-input 2_4" type="checkbox" name="" value="4" >
								<label class="custom-control-label" for="2_4_4">4</label>
							</div>
							<div class="custom-control custom-checkbox custom-control-inline">
								<input id="2_4_5" class="custom-control-input 2_4" type="checkbox" name="" value="5" >
								<label class="custom-control-label" for="2_4_5">5</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/checkbox.js")'></script>
	}
}
