@import models.components._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/detailimage.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.X__X, Messages(MessageKeys.DETAIL), Messages(MessageKeys.IMAGE)), "icon"->"fas fa-hand-point-up", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"detailimage"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div id="imageContainer" class="mb-3">
						<div id="imageScalable" class="w-100 h-100 position-relative">
							@components.image(Map("id"->"image" , "source"->routes.Assets.versioned("images/signins/IMG_2972.JPG").toString, "fluid"->"true"))
							<div id="imageDraggable" class="w-100 h-100 position-absolute"></div>
						</div>
					</div>

					<div class="form-group row mb-3">
						<div class="d-none d-md-block col-md-3 col-xl-4">
						</div>
						<div class="col-6 col-md-3 col-xl-2">
							@components.button(Map("id"->"minusButton", "outline"->"true", "block"->"true", "icon"->"fas fa-minus", "text"->""))
						</div>
						<div class="col-6 col-md-3 col-xl-2">
							@components.button(Map("id"->"plusButton", "outline"->"true", "block"->"true", "icon"->"fas fa-plus", "text"->""))
						</div>
						<div class="d-none d-md-block col-md-3 col-xl-4">
						</div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.hammerjs.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/detailimage.js")'></script>
	}
}
