@import java.time._
@import java.time.format._
@import models.components._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import play.api.i18n._

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/draganddrop.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->(Messages(MessageKeys.DRAG)+" & "+Messages(MessageKeys.DROP)), "icon"->"fa fa-mouse-pointer", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"draganddrop"))
				</div>
				<div class="mt-3 d-md-none">
				</div>

				<div class="col-md-9 room">

					<div class="row">
						<div class="col-md-6">
							<table class="table table-bordered section">
								<tbody>
									<tr>
										<td class="seat" colspan="2">
											<div class="employee">
												@components.badge(Map("id"->"Usagi_Tsukino", "icon"->"fa fa-user", "text"->"Usagi Tsukino"))
											</div>
										</td>
									</tr>
									<tr>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Ami_Mizuno", "icon"->"fa fa-user", "text"->"Ami Mizuno"))
											</div>
										</td>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Rei_Hino", "icon"->"fa fa-user", "text"->"Rei Hino"))
											</div>
										</td>
									</tr>
									<tr>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Makoto_Kino", "icon"->"fa fa-user", "text"->"Makoto Kino"))
											</div>
										</td>
										<td class="seat">
											<div class="employee">

											</div>
										</td>
									</tr>
									<tr>
										<td class="seat">
											<div class="employee">

											</div>
										</td>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Minako_Aino", "icon"->"fa fa-user", "text"->"Minako Aino"))
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-md-6">
							<table class="table table-bordered section">
								<tbody>
									<tr>
										<td class="seat" colspan="2">
											<div class="employee">
												@components.badge(Map("id"->"Chibiusa", "icon"->"fa fa-user", "text"->"Chibiusa"))
											</div>
										</td>
									</tr>
									<tr>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Haruka_Tenoh", "icon"->"fa fa-user", "text"->"Haruka Ten'oh"))
											</div>
										</td>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Michiru_Kaioh", "icon"->"fa fa-user", "text"->"Michiru Kaioh"))
											</div>
										</td>
									</tr>
									<tr>
										<td class="seat">
											<div class="employee">

											</div>
										</td>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Setsuna_Meioh", "icon"->"fa fa-user", "text"->"Setsuna Meioh"))
											</div>
										</td>
									</tr>
									<tr>
										<td class="seat">
											<div class="employee">
												@components.badge(Map("id"->"Hotaru_Tomoe", "icon"->"fa fa-user", "text"->"Hotaru Tomoe"))
											</div>
										</td>
										<td class="seat">
											<div class="employee">

											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.jqueryuitouchpunch.last()
		<script src='@routes.Assets.versioned("javascripts/lab/ui/draganddrop.js")'></script>
	}
}
