@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.FIELD), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"field"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="input-group eraceable mb-3">

						<input type="text" class="form-control" placeholder="Placeholder" value="@Messages(MessageKeys.VALUE)">
						<div class="input-group-append"><span class="input-group-text">@components.icon(Map("id"->"", "icon"->"fas fa-times-circle"))</span></div>
					</div>
					<div class="input-group eraceable mb-3">

						<input type="text" class="form-control" placeholder="Placeholder">
						<div class="input-group-append"><span class="input-group-text">@components.icon(Map("id"->"", "icon"->"fas fa-times-circle"))</span></div>
					</div>
					<div class="input-group eraceable mb-3">

						<input type="text" class="form-control" placeholder="Placeholder" value="@Messages(MessageKeys.VALUE)">
						<div class="input-group-append"><span class="input-group-text">@components.icon(Map("id"->"", "icon"->"fas fa-times-circle"))</span></div>
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/field.js")'></script>
	}
}
