@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._
@import common.utils._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/infinity.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"breadcrumbContainer", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Infinity", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"contentsContainer", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"infinity"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<ul id="infinityItems" class="list-unstyled px-0">
					</ul>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"img":"@routes.Assets.versioned("images/favicon.png").toString"
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/infinity.js")'></script>
	}
}
