@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._
@import common.utils._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		@style(){

			.contentFrame{

				position: relative;
				width: 100%;
				height: 600px;
				overflow: hidden;
			}
			.textContent{

				position: absolute;
				color: white;
				background-color: rgba(255, 255, 255, 0.33);
				padding: 7px 20px 7px 20px;
				margin: 130px 160px 130px 160px;
				font-size: 3rem;
				border-radius: 8px;
				white-space: nowrap;
			}
			@@media (min-width:576px) {

				.textContent{

					padding: 10px 30px 10px 30px;
					margin: 130px 220px 130px 220px;
					font-size: 5rem;
				}
			}
			.imageContent{

				position: absolute;
				width: 100%;
				height: 100%;
				background-position: center center;
				background-size: cover;
				transform: scale3d(1.5, 1.5, 1.5);
			}
			.contentFrame:nth-child(1)>.imageContent{

				background-image: url(@routes.Assets.versioned("images/signins/IMG_2680.JPG").toString);
			}
			.contentFrame:nth-child(2)>.imageContent{

				background-image: url(@routes.Assets.versioned("images/signins/IMG_2715.JPG").toString);
			}
			.contentFrame:nth-child(3)>.imageContent{

				background-image: url(@routes.Assets.versioned("images/signins/IMG_2726.JPG").toString);
			}
			.contentFrame:nth-child(4)>.imageContent{

				background-image: url(@routes.Assets.versioned("images/signins/IMG_2757.JPG").toString);
			}
			.contentFrame:nth-child(5)>.imageContent{

				background-image: url(@routes.Assets.versioned("images/signins/IMG_2758.JPG").toString);
			}
		}
	}

	@body("lab","ui"){

		@components.container(Map("id"->"breadcrumbContainer", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->"Parallax", "icon"->"fa fa-pencil", "selected"->"true"))
		}

		@components.container(Map("id"->"contentsContainer", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"parallax"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9 px-0">

					<div class="contentFrame"><div class="imageContent"></div><span class="textContent">@Messages(MessageKeys.CONTENT) 1</span></div>
					<div class="contentFrame"><div class="imageContent"></div><span class="textContent">@Messages(MessageKeys.CONTENT) 2</span></div>
					<div class="contentFrame"><div class="imageContent"></div><span class="textContent">@Messages(MessageKeys.CONTENT) 3</span></div>
					<div class="contentFrame"><div class="imageContent"></div><span class="textContent">@Messages(MessageKeys.CONTENT) 4</span></div>
					<div class="contentFrame"><div class="imageContent"></div><span class="textContent">@Messages(MessageKeys.CONTENT) 5</span></div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
		@script(){

			$(document).ready(function () {

				var breadcrumbHeight = 15 + $('.breadcrumb').outerHeight(true); //79

				var redraw = function(){

					var contentFrames = $('.contentFrame');
					contentFrames.each(function(frameIndex){

						var image = $(this).find('.imageContent');
						var imageTop = image.offset().top;
						var imageHeight = image.outerHeight();

						var framePosition = $('.contentFrame').eq(frameIndex).offset().top;
						var reviseFramePosition = framePosition - menuHeight() - breadcrumbHeight; //0 〜 -600

						image.css('background-position-y', reviseFramePosition / 10);

						var text = $(this).find('.textContent');
						text.css('left', reviseFramePosition + 'px');
					});
				}

				getContent().scroll(function(e){

					redraw();
				});

				var timer = false;
				$(window).resize(function() {

					if (timer !== false) {

						clearTimeout(timer);
						return;
					}
					timer = setTimeout(function() {

						redraw();
					}, 100);
				});

				redraw();
			});
		}
	}
}
