@import java.time._
@import java.time.format._
@import models.components._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._
@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/pay.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.PAY), "icon"->"far fa-credit-card", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"pay"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">

						@components.button(Map("id"->"windowButton", "type"->"dark", "outline"->"false", "icon"->"far fa-credit-card", "text"->messages(MessageKeys.PAY), "data-toggle"->"modal","data-target"->"#window"))
					</div>

					@components.modal(Map("id"->"window", "icon"->"far fa-credit-card", "title"->messages(MessageKeys.PAY), "closable"->"true", "center"->"true", "data-backdrop"->"false"), List(
							Map("id"->"start", "type"->"primary", "text"->messages(MessageKeys.OK), "data-dismiss"->"modal", "default"->"true")
						)){

						<div class="payd bg-success rounded-circle mx-auto position-relative w-72p h-72p mb-3"></div>
						<div class="text-center"><h5>@messages(MessageKeys.THANK__YOU__VERY__MUCH)</h5></div>
					}
				</div>
			</div>
		}

		@libraries.standard.last()
	}
}
