@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import java.time.format._
@import models.components._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._
@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages, clientStartZonedDateTime: ZonedDateTime, clientLimitZonedDateTime: ZonedDateTime)

@isTargetLocale() = @{

	Arrays.asList(Locale.JAPAN).contains(lang.locale)
}

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ui/pay.css")'>
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.PAY), "icon"->"far fa-credit-card", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"pay"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">

						<span id="time" class=""></span>
					</div>

					<div class="mb-3 @("d-none".when(!isTargetLocale))">

						<p class="h1 text-danger">急いで、入金して下さい。</p>

						<span id="years" class="p-2 rounded h1 text-white bg-dark d-none"></span>
						<span id="months" class="p-2 rounded h1 text-white bg-dark d-none"></span>
						<span id="days" class="p-2 rounded h1 text-white bg-dark"></span>
						<span id="hours" class="p-2 rounded h1 text-white bg-dark"></span>
						<span id="minutes" class="p-2 rounded h1 text-white bg-dark"></span>
						<span id="seconds" class="p-2 rounded h1 text-white bg-dark"></span>
						<span id="milliseconds" class="p-2 rounded h1 text-white bg-dark d-none d-sm-inline"></span>
					</div>

					<div class="mb-3">

						@components.button(Map("id"->"windowButton", "type"->"dark", "outline"->"false", "icon"->"far fa-credit-card", "text"->messages(MessageKeys.PAY), "data-toggle"->"modal","data-target"->"#window"))
					</div>

					@components.modal(Map("id"->"window", "icon"->"far fa-credit-card", "title"->messages(MessageKeys.PAY), "closable"->"true", "center"->"true", "data-backdrop"->"false"), List(
							Map("id"->"start", "type"->"primary", "text"->messages(MessageKeys.OK), "data-dismiss"->"modal", "default"->"true")
						)){

						<div class="payd bg-success rounded-circle mx-auto position-relative w-72p h-72p mb-3"></div>
						<div class="text-center"><h5>@messages(MessageKeys.THANK__YOU__VERY__MUCH)</h5></div>
					}
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"clientZoneId":"@clientStartZonedDateTime.getZone().getId()",
			"clientStartOffsetDateTime":"@clientStartZonedDateTime.format(DateTimeFormatter.ISO_OFFSET_DATE_TIME)",
			"clientLimitOffsetDateTime":"@clientLimitZonedDateTime.format(DateTimeFormatter.ISO_OFFSET_DATE_TIME)"
		}'></div>

		@libraries.standard.last()
		@libraries.moment.last()
		@libraries.momenttimezone.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/pay.js")'></script>
	}
}
