@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","ui"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.SELECT), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"select"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<fieldset id="bigSelect" class="form-group">
						<label for="bigSelect">Big</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					<fieldset id="middleSelect" class="form-group">
						<label for="middleSelect">Middle</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>

					<fieldset id="smallSelect" class="form-group">
						<label for="smallSelect">Small</label>
						<select class="form-control custom-select">
						</select>
					</fieldset>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ui/select.js")'></script>
	}
}
