@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="@controllers.lab.ui.routes.UI.index("drawer").toString()" class="list-group-item @("active".when(equalTask("drawer")))">@messages(MessageKeys.DRAWER)</a>
	<a href="@controllers.lab.ui.routes.UI.index("field").toString()" class="list-group-item @("active".when(equalTask("field")))">@messages(MessageKeys.FIELD)</a>
	<a href="@controllers.lab.ui.routes.UI.index("checkbox").toString()" class="list-group-item @("active".when(equalTask("checkbox")))">@messages(MessageKeys.CHECKBOX)</a>
	<a href="@controllers.lab.ui.routes.UI.index("ajaxselect").toString()" class="list-group-item @("active".when(equalTask("ajaxselect")))">@("Ajax " + messages(MessageKeys.SELECT))</a>
	<a href="@controllers.lab.ui.routes.UI.index("select").toString()" class="list-group-item @("active".when(equalTask("select")))">@messages(MessageKeys.SELECT)</a>
	<a href="@controllers.lab.ui.routes.UI.index("unlimited").toString()" class="list-group-item @("active".when(equalTask("unlimited")))">Unlimited</a>
	<a href="@controllers.lab.ui.routes.UI.index("draganddrop").toString()" class="list-group-item @("active".when(equalTask("draganddrop")))">@(messages(MessageKeys.DRAG)+" & "+messages(MessageKeys.DROP))</a>
	<a href="@controllers.lab.ui.routes.UI.index("timeline").toString()" class="list-group-item @("active".when(equalTask("timeline")))">@messages(MessageKeys.TIMELINE)</a>
	<a href="@controllers.lab.ui.routes.UI.index("balloon").toString()" class="list-group-item @("active".when(equalTask("balloon")))">Balloon</a>
	<a href="@controllers.lab.ui.routes.UI.index("disclaim").toString()" class="list-group-item @("active".when(equalTask("disclaim")))">Disclaim</a>
	<a href="@controllers.lab.ui.routes.UI.index("alert").toString()" class="list-group-item @("active".when(equalTask("alert")))">@messages(MessageKeys.ALERT)</a>
	<a href="@controllers.lab.ui.routes.UI.index("notification").toString()" class="list-group-item @("active".when(equalTask("notification")))">@messages(MessageKeys.NOTIFICATION)</a>
	<a href="@controllers.lab.ui.routes.UI.index("nav").toString()" class="list-group-item @("active".when(equalTask("nav")))">Nav</a>
	<a href="@controllers.lab.ui.routes.UI.index("process").toString()" class="list-group-item @("active".when(equalTask("process")))">@messages(MessageKeys.PROCESS)</a>
	<a href="@controllers.lab.ui.routes.UI.index("arrow").toString()" class="list-group-item @("active".when(equalTask("arrow")))">@messages(MessageKeys.ARROW)</a>
	<a href="@controllers.lab.ui.routes.UI.index("summary").toString()" class="list-group-item @("active".when(equalTask("summary")))">@messages(MessageKeys.SUMMARY)</a>
	<a href="@controllers.lab.ui.routes.UI.index("campaign").toString()" class="list-group-item @("active".when(equalTask("campaign")))">@messages(MessageKeys.CAMPAIGN)</a>
	<a href="@controllers.lab.ui.routes.UI.index("detailimage").toString()" class="list-group-item @("active".when(equalTask("detailimage")))">@messages(MessageKeys.X__X, messages(MessageKeys.DETAIL), messages(MessageKeys.IMAGE))</a>
	<a href="@controllers.lab.ui.routes.UI.index("group").toString()" class="list-group-item @("active".when(equalTask("group")))">@messages(MessageKeys.GROUP)</a>
	<a href="@controllers.lab.ui.routes.UI.index("infinity").toString()" class="list-group-item @("active".when(equalTask("infinity")))">Infinity</a>
	<a href="@controllers.lab.ui.routes.UI.index("parallax").toString()" class="list-group-item @("active".when(equalTask("parallax")))">Parallax</a>
	<a href="@controllers.lab.ui.routes.UI.index("fixedbar").toString()" class="list-group-item @("active".when(equalTask("fixedbar")))">Fixed bar</a>
	<a href="@controllers.lab.ui.routes.UI.index("bigtypo").toString()" class="list-group-item @("active".when(equalTask("bigtypo")))">Big typo</a>
	<a href="@controllers.lab.ui.routes.UI.index("pay").toString()" class="list-group-item @("active".when(equalTask("pay"))) secret">@messages(MessageKeys.PAY)</a>
	<a href="@controllers.lab.ui.routes.UI.index("securekeyboard").toString()" class="list-group-item @("active".when(equalTask("securekeyboard"))) secret">@messages(MessageKeys.X__X, messages(MessageKeys.SECURE), messages(MessageKeys.KEYBOARD))</a>
	<a href="@controllers.lab.ui.routes.UI.index("loadbutton").toString()" class="list-group-item @("active".when(equalTask("loadbutton"))) secret">@messages(MessageKeys.X__X, messages(MessageKeys.LOAD), messages(MessageKeys.BUTTON))</a>
	<a href="@controllers.lab.ui.routes.UI.index("glance").toString()" class="list-group-item @("active".when(equalTask("glance"))) secret">Glance</a>
	<a href="@controllers.lab.ui.routes.UI.index("reverse").toString()" class="list-group-item @("active".when(equalTask("reverse"))) secret">Reverse</a>
	<a href="@controllers.lab.ui.routes.UI.index("block").toString()" class="list-group-item @("active".when(equalTask("block")))">Block</a>
</div>
