@import play.api.i18n._

@import common.system._
@import common.utils._

@()

@messages() = @{

	common.system.System.getInjector().instanceOf(classOf[play.i18n.MessagesApi])
}

@errorMessage(lang:Lang, messageKey:String) = @{

	messages.get(lang, messageKey)
}

<div id="parsleyvalidators_messages" class="d-none" data-messages='{
	"en_@MessageKeys.SYSTEM_ERROR_HIRAGANA":"@errorMessage(Locales.toLang(Locale.US), MessageKeys.SYSTEM_ERROR_HIRAGANA)",
	"ja_@MessageKeys.SYSTEM_ERROR_HIRAGANA":"@errorMessage(Locales.toLang(Locale.JAPAN), MessageKeys.SYSTEM_ERROR_HIRAGANA)",
	"en_@MessageKeys.SYSTEM_ERROR_KATAKANA":"@errorMessage(Locales.toLang(Locale.US), MessageKeys.SYSTEM_ERROR_KATAKANA)",
	"ja_@MessageKeys.SYSTEM_ERROR_KATAKANA":"@errorMessage(Locales.toLang(Locale.JAPAN), MessageKeys.SYSTEM_ERROR_KATAKANA)"
}'></div>
<script src='@routes.Assets.versioned("lib_custom/parsleyvalidators/last.js")'></script>
