@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import views.html._
@import views.html.components

@(prop:scala.collection.immutable.Map[String, String])

<div id="@prop.getOrElse("id", "")" class="custom-control custom-switch @("custom-control-inline".when(Boolean.valueOf(prop.getOrElse("inline", "false")))) @("disabled".when(!Boolean.valueOf(prop.getOrElse("enabled", "true")))) @Attributes.classValue(prop)" @Html(Attributes.datas(prop))>
	<input type="checkbox" class="custom-control-input" name="@prop.getOrElse("name", "")" id="custom-@prop.getOrElse("id", "")" @("disabled".when(!Boolean.valueOf(prop.getOrElse("enabled", "true")))) @("checked".when(Boolean.valueOf(prop.getOrElse("selected", "")))) tabindex="@prop.getOrElse("tabindex", "")">
	<label class="custom-control-label" for="custom-@prop.getOrElse("id", "")">@if(!prop.getOrElse("text", "").isEmpty()){&nbsp;}@Html(prop.getOrElse("text", ""))</label>
</div>