@charset "utf-8";

@media print {
	.d-print-none {
		display: none !important
	}
}

#btn-prev {
	position: absolute;
	top: 16px;
	left: 16px;
	opacity: 0.5;
}
.dir-rtl #btn-prev {
	position: absolute;
	top: 16px;
	left: initial;
	right: 16px;
	opacity: 0.5;
}

#btn-prev:hover {
	opacity: 1
}

#gamepad {
	position: absolute;
	top: 16px;
	right: 16px;
	opacity: 0.5;
	color: white;
}

.dir-rtl #gamepad {
	position: absolute;
	top: 16px;
	right: initial;
	left: 16px;
	opacity: 0.5;
	color: white;
}

.btn-primary:hover {
	color: #fff;
	background-color: #025aa5;
	border-color: #01549b
}

.btn:focus {
	text-decoration: none
}

a:focus {
	color: #014c8c;
	text-decoration: underline
}

a:hover {
	outline: 0
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn {
	display: inline-block;
	padding: .375rem 1rem;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem
}

/* Direction */

.dir-rtl .dir-flip-horizontal,
.dir-rtl .fa-dir-flip-horizontal {
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
