@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@frame(){

	@head("Lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/page/tasks.css")'>
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/page/ilike.css")'>
	}

	@body("lab","page"){

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="row">
				<div class="col-md-3 px-0 i_back i_master">
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "iconType"->"warning", "icon"->"fas fa-plane fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"primary", "icon"->"fas fa-wifi fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"primary", "icon"->"fab fa-bluetooth-b fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"success", "icon"->"fas fa-square fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"success", "icon"->"fas fa-square fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"success", "icon"->"fas fa-phone-square fa-fw", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						<div class="list-group">
							<a href="#" class="list-group-item list-group-item-action">
								@components.icon(Map("type"->"danger", "icon"->"fas fa-square fa-fw"))
								Cras justo odio
								<div class="float-right">
									@components.forms.customswitch(Map("id"->"", "name"->"default", "class"->"mb-0"))
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								@components.icon(Map("type"->"secondary", "icon"->"fas fa-square fa-fw"))
								Dapibus ac facilisis in
								<div class="float-right">
									@components.forms.customswitch(Map("id"->"", "name"->"unchecked", "class"->"mb-0", "selected"->"false"))
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								@components.icon(Map("type"->"primary", "icon"->"fas fa-square fa-fw"))
								Morbi leo risus
								<div class="float-right">
									@components.forms.customswitch(Map("id"->"", "name"->"checked", "class"->"mb-0", "selected"->"true"))
								</div>
							</a>
						</div>
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "iconType"->"secondary", "icon"->"fas fa-cog fa-fw", "text"->"Cras justo odio", "selected"->"true"),
							Map("id"->"", "type"->"", "iconType"->"primary", "icon"->"fas fa-font fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"info", "icon"->"fas fa-square fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"danger", "icon"->"fas fa-volume-up fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"dark", "icon"->"fas fa-square fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"danger", "icon"->"fas fa-square fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"success", "icon"->"fas fa-battery-full fa-fw", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "iconType"->"secondary", "icon"->"fas fa-hand-paper fa-fw", "text"->"Cras justo odio")
						))
					</div>
				</div>
				<div class="col-md-9 i_back i_detail">
					<div class="i_space">
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						<div class="list-group">
							<a href="#" class="list-group-item list-group-item-action">
								@components.icon(Map("icon"->"fas fa-square"))
								Cras justo odio
								<div class="float-right">
									@components.forms.customswitch(Map("id"->"", "name"->"default", "class"->"mb-0"))
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								@components.icon(Map("icon"->"fas fa-square"))
								Dapibus ac facilisis in
								<div class="float-right">
									@components.forms.customswitch(Map("id"->"", "name"->"unchecked", "class"->"mb-0", "selected"->"false"))
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								@components.icon(Map("icon"->"fas fa-square"))
								Morbi leo risus
								<div class="float-right">
									@components.forms.customswitch(Map("id"->"", "name"->"checked", "class"->"mb-0", "selected"->"true"))
								</div>
							</a>
						</div>
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fas fa-square", "text"->"Cras justo odio")
						))
					</div>
				</div>
			</div>
		}

		@tasks(Map("id"->"", "task"->"ilike"))

		@libraries.standard.last()
	}
}
