@charset "utf-8";

.icon-frame {
	position: relative;
	width: 54px;
	margin-right: auto !important;
	margin-left: auto !important;
	text-align: center;
}

.icon-body {
	position: relative;
}

.icon-close {
	display: none;
	position: absolute;
	top: -7px;
	left: -7px;
}

.undecided.icon-frame > .icon-close {
	display: block;
}

.icon-notification {
	position: absolute;
	top: -7px;
	right: -7px;
}