@charset "utf-8";

.i_space {
	margin-bottom: 2.2rem !important;
}

.detail #i_master {
	display: none;
}

@media ( min-width :768px) {
	.detail #i_master {
		display: block;
	}
}

#i_detail {
	display: none;
	border-left: 0.5px solid darkgray;
}

.dir-rtl #i_detail {
	border-right: 0.5px solid darkgray;
}

@media ( min-width :768px) {
	#i_detail {
		display: block;
	}
}

.detail #i_detail {
	display: block;
}

#i_detail>#i_detail-header {
	margin-left: -1rem !important;
	margin-right: -1rem !important
}
