@import scala.collection.JavaConversions._
@import scala.collection.JavaConverters._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@(slideInfo: Map[String, String])(implicit request:Http.Request, lang: Lang, messages: Messages)

@import scala.collection.immutable.Map

@dir() = @{

	val isLTR = models.system.System.Direction.LTR == common.utils.Locales.toDirection(lang.locale);
	if (isLTR){"ltr"} else {"rtl"}
}

@rtl() = @{

	val isRTL = models.system.System.Direction.RTL == common.utils.Locales.toDirection(lang.locale);
	isRTL
}

<!doctype html>
<html
	lang="@lang.code"
	dir="@dir()"
	class="dir-@dir()"
>

	<head>
		<meta charset="utf-8">

		<title>@messages(MessageKeys.X__X, messages(MessageKeys.SLIDE), messages(MessageKeys.VIEWER)) | @messages(MessageKeys.SYSTEM_NAME)</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		@libraries.fontawesome.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/system/slide.css")'>

		<meta id="slidejs_messages" class="d-none" data-messages='{
			"publicPath":"@routes.Assets.versioned("")",
			"defaultUrl":"@slideInfo.get(models.system.SlideInfoFormContent.URL)",
			"rtl":@Boolean.valueOf(rtl())
		}'></meta>

		<link rel="stylesheet" href="@routes.Assets.versioned("lib/custom/reveal.js/reveal.css")">
		@request.session().getOptional(models.user.User.THEME).orElse(null) match {
			case "PRETTY" => {

				<link rel="stylesheet" href="@routes.Assets.versioned("lib/custom/reveal.js/theme/sky.css")">
			}
			case "JAPAN" => {

				<link rel="stylesheet" href="@routes.Assets.versioned("lib/custom/reveal.js/theme/serif.css")">
			}
			case "BUSINESS" => {

				<link rel="stylesheet" href="@routes.Assets.versioned("lib/custom/reveal.js/theme/simple.css")">
			}
			case "NATURAL" => {

				<link rel="stylesheet" href="@routes.Assets.versioned("lib/custom/reveal.js/theme/beige.css")">
			}
			case "DEFAULT" | _ => {

				<link rel="stylesheet" href="@routes.Assets.versioned("lib/custom/reveal.js/theme/black.css")">
			}
		}

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="@routes.Assets.versioned("lib/reveal.js/css/zenburn.css")">

		<!-- Printing and PDF exports -->
		@script(args = 'type -> "text/javascript") {

			'use strict';

			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '@routes.Assets.versioned("lib/reveal.js/print/pdf.css")' : '@routes.Assets.versioned("lib/reveal.js/print/paper.css")';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		}
	</head>

	<body>

		@components.linkbutton(Map("id"->"btn-prev", "type"->"primary", "icon"->"fas fa-arrow-circle-left fa-dir-flip-horizontal", "text"->messages(MessageKeys.BACK), "link"->slideInfo.get(models.system.SlideInfoFormContent.RETURNURL), "class"->"d-print-none"))
		@components.badge(Map("id"->"gamepad", "type"->"danger", "text"->"", "class"->"d-print-none"))

		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/messages.js")'></script>

		@libraries.jquery.last()

		<script @{CSPNonce.attr} src="@routes.Assets.versioned("lib/reveal.js/js/head.min.js")"></script>
		<script @{CSPNonce.attr} src="@routes.Assets.versioned("lib/reveal.js/reveal.js")"></script>

		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/system/slide.js")'></script>
	</body>
</html>
