@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import play.api.i18n._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._
@import models.user._

@(form: play.data.Form[models.setting.user.EditFormContent])

@frame(){

	@head("setting"){

		@libraries.standard.head()
		@libraries.select2.head()
	}

	@body("setting","user"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.GENERAL), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			@tasks(Map("id"->"", "task"->"general"))
		}

		@updateform(form)

		@libraries.standard.last()
		@libraries.select2.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/setting/user/general.js")'></script>
	}
}
