@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import common.system._

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

@components.adjust.nav(Map("id"->prop.getOrElse("id", ""), "tabs"->"true"), Seq(
	Map("name"->messages(MessageKeys.GENERAL), "icon"->"fas fa-pencil-alt", "link"->controllers.setting.user.routes.User.index().toString, "selected"->equalTask("general").toString),
	Map("name"->messages(MessageKeys.CHANGEUSER), "icon"->"fas fa-pencil-alt", "link"->controllers.setting.user.routes.ChangeUser.index().toString, "selected"->equalTask("changeuser").toString)
))
