@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import play.i18n.Lang
@import play.i18n.Messages
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._
@import models.setting.user._
@import models.user._

@(form: play.data.Form[models.setting.user.EditFormContent])(implicit request:Http.Request, lang: Lang, messages: Messages)

@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

	@helper.form(helper.CSRF(controllers.setting.user.routes.User.update()), Symbol("name")->"updateForm", Symbol("id")->"updateForm") {
		@if(form.hasGlobalErrors) {
			<p class="text-danger">@form.globalError.get.message</p>
		}
		<div class="row form-group">
			<label for="update@User.LOCALE" class="col-sm-3 col-form-label"><i class="fas fa-globe"></i> @messages(MessageKeys.LANGUAGE)</label>
			<div class="col-sm-9">
				<select id="update@User.LOCALE" name="@User.LOCALE" class="form-control custom-select">
					@for((localeId,localeName) <- common.utils.Locales.getLocaleIdToNameMap(lang.toLocale)) {
					<option value="@localeId" @("selected".when(localeId.equals(form(User.LOCALE).value.orElse(""))))>@localeName</option>
					}
				</select>
				<small class="text-muted"></small>
				<div>
					<p class="text-danger"></p>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label for="update@User.ZONE_ID" class="col-sm-3 col-form-label"><i class="far fa-clock"></i> @messages(MessageKeys.TIMEZONE)</label>
			<div class="col-sm-9">
				<select id="update@User.ZONE_ID" name="@User.ZONE_ID" class="form-control custom-select">
					@for((zoneId,zoneName) <- common.utils.ZoneIds.getZoneIdToNameMap(lang.toLocale)) {
					<option value="@zoneId" @("selected".when(zoneId.equals(form(User.ZONE_ID).value.orElse(""))))>@zoneName</option>
					}
				</select>
				<small class="text-muted"></small>
				<div>
					<p class="text-danger"></p>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<label for="update@User.THEME" class="col-sm-3 col-form-label"><i class="fas fa-paint-brush"></i> @messages(MessageKeys.THEME)</label>
			<div class="col-sm-9">
				<select id="update@User.THEME" name="@User.THEME" class="form-control custom-select">
					@for((themeId,themeName) <- common.utils.Themes.getThemeIdToNameMap(lang.toLocale)) {
					<option value="@themeId" @("selected".when(themeId.equals(form(User.THEME).value.orElse(""))))>@themeName</option>
					}
				</select>
				<small class="text-muted"></small>
				<div>
					<p class="text-danger"></p>
				</div>
			</div>
		</div>
		<div class="row form-group secret">
			<label for="update@User.APPEARANCE" class="col-sm-3 col-form-label"><i class="fas fa-moon"></i> @messages(MessageKeys.APPEARANCE)</label>
			<div class="col-sm-9">
				@for((appearanceId,appearanceName) <- common.utils.Appearances.getAppearanceIdToNameMap(lang.toLocale)) {
				<div class="custom-control custom-radio custom-control-inline">
					<input id="update@User.APPEARANCE@appearanceId" class="update@User.APPEARANCE custom-control-input" name="@User.APPEARANCE" type="radio" value="@appearanceId" @("checked".when(appearanceId.equals(form(User.APPEARANCE).value.orElse(""))))>
					<label class="custom-control-label" for="update@User.APPEARANCE@appearanceId">@appearanceName</label>
				</div>
				}
				<small class="text-muted"></small>
				<div>
					<p class="text-danger"></p>
				</div>
			</div>
		</div>
	}
}
