@import java.lang.invoke.MethodHandles

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConverters._

@import play.i18n.Lang
@import play.i18n.Messages
@import play.api.inject._
@import play.filters.csrf._

@import org.slf4j.LoggerFactory

@import models.system._
@import models.system.System._
@import models.user._
@import models.user.User._

@import views.html._
@import views.html.helper._

@import common.system._
@import common.utils._

@(currentSection:String, currentWork:String)(content: Html)(implicit request:Http.Request, lang: Lang, messages: Messages)

@isDev() = @{

	common.system.System.getInjector().instanceOf(classOf[play.api.Environment]).mode == play.api.Mode.Dev
}

@isShow(permissions:Permission*) = @{

	LoggerFactory.getLogger(MethodHandles.lookup().lookupClass()).info("Menu");
	val roleValues = request.session().getOptional(User.ROLES).orElse(/* Direct access of not signin */"");
	models.system.System.isPermissionAllowed(EnumSet.copyOf(permissions.asJava), User.getPermissions(Sessions.toRoles(roleValues)))
}

@equalSection(section:String) = @{

	if(section.equals(currentSection)){
		"true"
	}else{
		"false"
	}
}

@equalWork(section:String, work:String) = @{

	if(section.equals(currentSection) && work.equals(currentWork)){
		"true"
	}else{
		"false"
	}
}

<body>

	@mode()

	@token()

	@theme()

	<div id="system_base">

		<div id="system_work-menu" class="shadow-sm-inset">

			@workmenu(Map("id"->"system_sections"), List(
				(Map("name"->messages(MessageKeys.HOME), "icon"->"fas fa-home", "selected"->equalSection("home")),List(
					Map("name"->messages(MessageKeys.INTRO), "icon"->"far fa-file-alt", "link"->controllers.home.routes.Home.index().toString(), "selected"->equalWork("home","intro")),
					Map("name"->messages(MessageKeys.VIDEO), "icon"->"fas fa-film", "link"->controllers.home.routes.Home.video().toString(), "selected"->equalWork("home","video"))
				)),
				(Map("name"->messages(MessageKeys.SETTING), "icon"->"fas fa-cog", "selected"->equalSection("setting")),List(
					Map("name"->messages(MessageKeys.SYSTEM), "icon"->"fas fa-desktop", "link"->controllers.setting.system.routes.System.index("general").toString(), "selected"->equalWork("setting","system")),
					Map("name"->messages(MessageKeys.USER), "icon"->"fas fa-user", "link"->controllers.setting.user.routes.User.index().toString(), "selected"->equalWork("setting","user"))
				)),
				(Map("name"->messages(MessageKeys.INFORMATION), "icon"->"fas fa-info-circle", "selected"->equalSection("information")),List(
					Map("name"->messages(MessageKeys.CREATOR), "icon"->"fas fa-address-card", "link"->controllers.information.routes.Information.creator().toString(), "selected"->equalWork("information","creator")),
					Map("name"->messages(MessageKeys.LICENSE), "icon"->"ii ii-fineplay", "link"->controllers.information.routes.Information.license().toString(), "selected"->equalWork("information","license"))
				)),
				(Map("show"->isShow(Permission.MANAGE).toString(), "name"->messages(MessageKeys.MANAGE), "icon"->"fas fa-wrench", "selected"->equalSection("manage")),List(
					Map("name"->messages(MessageKeys.COMPANY), "icon"->"far fa-building", "link"->controllers.manage.company.routes.Read.index().toString(), "selected"->equalWork("manage","company")),
					Map("name"->messages(MessageKeys.USER), "icon"->"fas fa-user", "link"->controllers.manage.user.routes.Read.index().toString(), "selected"->equalWork("manage","user")),
					Map("class"->"secret", "name"->messages(MessageKeys.BATCH), "icon"->"fas fa-tasks", "link"->controllers.manage.batch.routes.Batch.index().toString(), "selected"->equalWork("manage","batch"))
				)),
				(Map("show"->isDev().toString(), "key"->"development", "name"->messages(MessageKeys.DEVELOPMENT), "icon"->"fas fa-play fa-dir-flip-horizontal", "selected"->equalSection("development"), "class"->"disclosure-90"),List(
					Map("key"->"http", "name"->messages(MessageKeys.HTTP), "icon"->"far fa-file-alt", "link"->controllers.development.http.routes.Http.index("ajax").toString(), "selected"->equalWork("development","http")),
					Map("key"->"javascript", "name"->messages(MessageKeys.JAVASCRIPT), "icon"->"fab fa-js", "link"->controllers.development.javascript.routes.JavaScript.index("test").toString(), "selected"->equalWork("development","javascript")),
					Map("key"->"design", "name"->messages(MessageKeys.DESIGN), "icon"->"fas fa-object-group", "link"->controllers.development.design.routes.Design.index("theme").toString(), "selected"->equalWork("development","design")),
					Map("key"->"document", "name"->messages(MessageKeys.DOCUMENT), "icon"->"far fa-file-alt", "link"->controllers.development.document.routes.Document.index("overview").toString(), "selected"->equalWork("development","document")),
					Map("key"->"help", "name"->messages(MessageKeys.HELP), "icon"->"far fa-question-circle", "link"->controllers.development.help.routes.Help.typography().toString(), "selected"->equalWork("development","help"))
				)),
				(Map("show"->isDev().toString(), "name"->messages(MessageKeys.ENVIRONMENT), "icon"->"fas fa-thermometer-half", "selected"->equalSection("environment")),List(
					Map("name"->messages(MessageKeys.OPENJDK), "icon"->"fas fa-coffee", "link"->controllers.environment.openjdk.routes.OpenJDK.index("systemproperties").toString(), "selected"->equalWork("environment","openjdk")),
					Map("name"->messages(MessageKeys.BROWSER), "icon"->"fab fa-safari", "link"->controllers.environment.browser.routes.Browser.index("navigator").toString(), "selected"->equalWork("environment","browser"))
				)),
				(Map("show"->isDev().toString(), "name"->messages(MessageKeys.FRAMEWORK), "icon"->"ii ii-play if-monochrome", "selected"->equalSection("framework")),List(
					Map("name"->messages(MessageKeys.WELCOME), "icon"->"ii ii-play", "link"->controllers.framework.welcome.routes.Welcome.index().toString(), "selected"->equalWork("framework","welcome")),
					Map("name"->(messages(MessageKeys.DEFAULT)+" "+messages(MessageKeys.PAGE)), "icon"->"ef ef-note", "link"->controllers.framework.defaultpage.routes.Defaultpage.index().toString(), "selected"->equalWork("framework","defaultpage")),
					Map("name"->messages(MessageKeys.APPLICATION), "icon"->"ef ef-musical_note if-monochrome if-inverse", "link"->controllers.framework.application.routes.Application.index("config").toString(), "selected"->equalWork("framework","application")),
					Map("name"->messages(MessageKeys.DATETIME), "icon"->"ef ef-calendar if-monochrome", "link"->controllers.framework.datetime.routes.DateTime.index().toString(), "selected"->equalWork("framework","datetime")),
					Map("name"->(messages(MessageKeys.DATETIME)+"("+messages(MessageKeys.STRICT)+")"), "icon"->"ef ef-calendar if-monochrome", "link"->controllers.framework.strictdatetime.routes.DateTime.index().toString(), "selected"->equalWork("framework","strictdatetime"), "show"->"false")
				)),
				(Map("show"->isDev().toString(), "name"->messages(MessageKeys.BOOTSTRAP), "icon"->"ii ii-bootstrap if-monochrome if-inverse", "selected"->equalSection("bootstrap")),List(
					Map("name"->messages(MessageKeys.COMPONENT), "icon"->"far fa-file-alt", "link"->controllers.bootstrap.component.routes.Component.index("button").toString(), "selected"->equalWork("bootstrap","component")),
					Map("name"->messages(MessageKeys.LAYOUT), "icon"->"far fa-file-alt", "link"->controllers.bootstrap.layout.routes.Layout.index("responsive").toString(), "selected"->equalWork("bootstrap","layout"))
				)),
				(Map("show"->isDev().toString(), "name"->messages(MessageKeys.FONTAWESOME), "icon"->"fab fa-font-awesome", "selected"->equalSection("fontawesome")),List(
					Map("name"->messages(MessageKeys.STYLE), "icon"->"far fa-file-alt", "link"->controllers.fontawesome.style.routes.Style.index("squareicon").toString(), "selected"->equalWork("fontawesome","style"))
				)),
				(Map("show"->isDev().toString(), "name"->messages(MessageKeys.LAB), "icon"->"fas fa-flask", "selected"->equalSection("lab")),List(
					Map("name"->messages(MessageKeys.LIBRARY), "icon"->"far fa-file-alt", "link"->controllers.lab.library.routes.Library.index("bootbox").toString(), "selected"->equalWork("lab","library")),
					Map("name"->messages(MessageKeys.APPLICATION), "icon"->"far fa-file-alt", "link"->controllers.lab.application.routes.Download.index().toString(), "selected"->equalWork("lab","application")),
					Map("name"->messages(MessageKeys.UI), "icon"->"far fa-file-alt", "link"->controllers.lab.ui.routes.UI.index("drawer").toString(), "selected"->equalWork("lab","ui")),
					Map("name"->"I Like", "icon"->"fab fa-apple fa-flip-horizontal", "link"->controllers.lab.ilike.routes.ILike.index("list", false).toString(), "selected"->equalWork("lab","ilike")),
					Map("name"->messages(MessageKeys.PAGE), "icon"->"far fa-file-alt", "link"->controllers.lab.page.routes.Page.index("landing").toString(), "selected"->equalWork("lab","page")),
					Map("name"->messages(MessageKeys.MAINTENANCE), "icon"->"far fa-file-alt", "link"->controllers.lab.maintenance.routes.Maintenance.master().toString(), "selected"->equalWork("lab","maintenance"))
				)),
				(Map("show"->isDev().toString(), "name"->messages(MessageKeys.SECTION), "icon"->"far fa-folder", "selected"->equalSection("section"), "class"->"disclosure-show"),List(
					Map("name"->messages(MessageKeys.WORK), "icon"->"far fa-file-alt", "link"->controllers.section.work.routes.Work.task().toString, "selected"->equalWork("section","work")),
					Map("name"->(messages(MessageKeys.WORK)+" 2"), "icon"->"far fa-file-alt", "link"->"", "selected"->equalWork("section","work2")),
					Map("name"->(messages(MessageKeys.WORK)+" 3"), "icon"->"far fa-file-alt", "link"->"", "selected"->equalWork("section","work3"), "enabled"->"false")
				))
			))
		</div>

		<div id="system_content">

			<button id="system_content-left-corner">
			</button>

			<nav id="system_menu" class="navbar navbar-expand-xs navbar-light bg-light md-3 shadow-sm sticky-top w-100">

				<div>
					@components.button(Map("id"->"system_work-menu-button", "type"->"link", "icon"->"navbar-toggler-icon", "text"->"", "class"->"navbar-toggler", "aria-expanded"->"false", "aria-label"->"Toggle navigation"))
					<a class="navbar-brand d-none d-md-inline-block ml-1 py-0" href="@controllers.home.routes.Home.index()">
						@components.image(Map("id"->"system_logo", "source"->routes.Assets.versioned("images/" + lang.code + "/logo.png").toString, "alternate"->"System logo."))
					</a>
				</div>
				<div>
					<ul class="navbar-nav mr-auto">
					</ul>
					<form class="form-inline float-right align-items-center">
						@views.html.debug()
						@components.button(Map("id"->"printButton", "type"->"link", "icon"->"fas fa-print", "text"->"", "class"->"ml-1 d-none"))
						@components.button(Map("id"->"scrollTopButton", "type"->"link", "icon"->"fas fa-angle-double-up", "text"->"", "class"->"ml-1"))
						<div class="btn-group">
							<button id="system_user-menu" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-user"></i><span class="d-none d-sm-inline">&nbsp;@request.session().getOptional(User.USER_ID).orElse(/* Direct access of not signin */"")</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right text-left">
								<a class="dropdown-item" href="@controllers.setting.user.routes.User.index()"><i class="fas fa-cog"></i> @messages(MessageKeys.SETTING)...</a>
								<a id="signOutLink" class="dropdown-item" href="@controllers.user.routes.User.signOut()"><i class="fas fa-sign-out-alt"></i> @messages(MessageKeys.USER_SIGNOUT)</a>
							</div>
						</div>
						@components.button(Map("id"->"helpButton", "type"->"info", "icon"->"fas fa-question", "text"->"", "class"->"ml-1 d-none"))
					</form>
				</div>
			</nav>

			<div id="system_extension-menu" class="shadow-sm sticky-top">
			</div>

			@content

			<footer id="system_footer" class="container-fluid d-print-none">

				@footer()
			</footer>
		</div>

		<div id="system_notifications">
		</div>

		@components.modal(Map("id"->"reportErrorDialog", "icon"->"fas fa-bug", "title"->(messages(MessageKeys.REPORT)+" "+messages(MessageKeys.ERROR)), "data-backdrop"->"static", "size"->"lg"), List(
				Map("id"->"reportErrorCancel", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.CANCEL), "data-dismiss"->"modal"),
				Map("id"->"reportErrorButton", "type"->"primary", "text"->messages(MessageKeys.REPORT), "default"->"true")
			)){
			<textarea id="reportErrorContent" class="form-control" placeholder="Content" rows="16" required maxlength="1000"></textarea>
			<div class="text-break">
				<div id="reportErrorMessage" class="lead"></div>
				<div id="reportErrorDescription">-</div>
			</div>
			@components.progress(Map("id"->"reportErrorProgress", "value"->"0", "max"->"100", "striped"->"true", "animated"->"true"))
			@if(isDev()){
			<div class="mt-3">
				<input type="text" class="form-control" id="searchErrorMessage" placeholder="@messages(MessageKeys.ERROR)">
				@components.button(Map("id"->"searchStackOverflowButton", "type"->"primary", "outline"->"true", "icon"->"fab fa-stack-overflow", "text"->"Stack Overflow"))
				@components.button(Map("id"->"searchStackOverflowJaButton", "type"->"primary", "outline"->"true", "icon"->"fab fa-stack-overflow", "text"->"スタック・オーバーフロー"))
				@components.button(Map("id"->"searchQiitaButton", "type"->"primary", "outline"->"true", "icon"->"", "text"->"Qiita"))
				@components.button(Map("id"->"searchTeratailButton", "type"->"primary", "outline"->"true", "icon"->"", "text"->"teratail"))
			</div>
			}
		}

		<div id="system_help-base">

			<div id="system_help-header">

				<nav id="system_help-menu" class="navbar bg-primary d-flex justify-content-center">
					<div class="row align-items-center">
						@components.button(Map("type"->"link", "icon"->"navbar-toggler-icon", "text"->"", "class"->"navbar-toggler", "tabindex"->"-1"))
						<div class="h4 mb-0">@messages(MessageKeys.HELP)</div>
						@components.button(Map("type"->"link", "icon"->"navbar-toggler-icon", "text"->"", "class"->"navbar-toggler", "tabindex"->"-1"))
					</div>
				</nav>

				@components.container(Map("id"->"", "fluid"->"true", "class"->"bg-light py-2")){
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								@components.icon(Map("id"->"", "icon"->"fas fa-search"))
							</span>
						</div>
						<input id="help-search-text" type="text" class="form-control" aria-label="">
						<div class="input-group-append">
							<span id="help-search-clear" class="input-group-text">
								@components.icon(Map("id"->"", "icon"->"fas fa-times-circle"))
							</span>
						</div>
					</div>
				}

				<nav id="system_help-navbar" class="navbar navbar-light bg-light">

					@components.nav(Map("id"->"","pills"->"true"), List(
						/* Pair with help-top */
						Map("icon"->"fas fa-angle-double-up", "link"->"#help-top", "selected"->"true")
					))
				</nav>
			</div>

			<div id="system_help-content" class="help-notready">

				<div id="system_help-main" data-spy="scroll" data-target="#system_help-navbar" data-offset="0" class="shadow-sm-inset">

					<!-- Pair with nav-link -->
					<h1 class="bd-title" id="help-top">
					</h1>

					<div class="d-flex h-100">
						<div class="align-self-center w-100">
							<div class="d-flex justify-content-center">
								<span class="fa-stack fa-2x rounded bg-secondary opacity-25">
									@components.icon(Map("id"->"system_help-content-loading", "icon"->"fas fa-spinner fa-pulse fa-stack-1x", "class"->"text-white"))
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="system_surface">
	</div>

	<div id="system_cover">
		<div class="row h-100 mx-3">
			<div class="m-auto align-self-center">
				<div class="row justify-content-center">
					<div class="d-md-block rounded p-5 bg-secondary opacity-25">
						<i class="fas fa-circle-notch fa-5x fa-spin text-white"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="system_magnify-text">
		<div class="row h-100 mx-3">
			<div class="col-12 align-self-center">
				<div class="row d-inline">
					<div class="d-md-block rounded px-3 m-3 bg-secondary opacity-75 text-center">
						<span id="system_magnify-text-content" class="d-inline-block"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="system_responsive-bar" class="w-100 d-none">

		<div class="progress">
			<div class="progress-bar text-left">&nbsp;XS 0px〜</div>
			<div class="progress-bar text-left bg-success">&nbsp;SM 576px〜</div>
			<div class="progress-bar text-left bg-info">&nbsp;MD 768px〜</div>
			<div class="progress-bar text-left bg-warning">&nbsp;LG 992px〜</div>
			<div class="progress-bar text-left bg-danger">&nbsp;XL 1200px〜</div>
		</div>
	</div>

	<div id="body_messages" class="d-none" data-messages='{
		"@MessageKeys.PLEASE__WAIT":"@messages(MessageKeys.PLEASE__WAIT)",
		"@MessageKeys.FAILURE":"@messages(MessageKeys.FAILURE)",
		"@MessageKeys.STATUS":"@messages(MessageKeys.STATUS)",
		"@MessageKeys.ERROR":"@messages(MessageKeys.ERROR)",
		"currentSection":"@currentSection",
		"currentWork":"@currentWork",
		"userId":"@request.session().getOptional(User.USER_ID).orElse(/* Direct access of not signin */"")",
		"getHelpError":"@messages(MessageKeys.SYSTEM_ERROR_X_NOTEXIST, messages(MessageKeys.HELP))"
	}'></div>

@if(isDev()){

	<script @{CSPNonce.attr} type='text/javascript' src='@routes.Assets.versioned("lib/github-com-Tencent-vConsole/vconsole.min.js")'></script>
}

	<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/body.js")'></script>
</body>
