@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConverters._
@import scala.collection.JavaConversions._

@()

@views.html.components.button(Map("id"->"debugButton", "type"->"danger", "icon"->"fa fa-bug", "text"->"", "title"->"Debug", "data-content"->("""

	<button id="applyBorderButton" type="button" class="btn btn-outline-primary"><i id="" class="fa fa-square-o" style=""></i></button>
	<script>$("#applyBorderButton").on("click", function(){$("*").css("border", "solid 1px lavender");});</script>

	<button id="showResponsiveButton" type="button" class="btn btn-outline-primary"><i id="" class="fa fa-desktop" style=""></i></button>
	<script>$("#showResponsiveButton").on("click", function(){$("#system_responsive-bar").show();});</script>

	<div><strong>Play</strong>&nbsp;<span id="Play_ver"></span></div>
	<div><strong>jQuery</strong>&nbsp;<span id="jQuery_ver"></span></div>
	<script>$("#Play_ver").text($("#debugButton").data("playver"));</script>
	<script>$("#jQuery_ver").text($.fn.jquery);</script>

"""), "data-placement"->"bottom", "style"->"display:none;", "data-playver"->play.core.PlayVersion.current))
