@import models.components._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._

@import common.system._

@()

@components.container(Map("id"->"", "class"->"py-5")){

	<div class="row">
		<div class="col-12 col-md">
			@components.image(Map("id"->"", "class"->"w-36p h-36p if-monochrome if-inverse", "source"->routes.Assets.versioned("images/brand.png").toString, "alternate"->"brand"))
			<small class="d-block mb-3">@components.credit()</small>

			<ul class="list-unstyled m-0 p-0 mb-3">
				<li class="d-inline-block ml-3"><a href="#" class="text-white">@components.icon(Map("id"->"", "icon"->"fab fa-twitter", "class"->"h4"))</a></li>
				<li class="d-inline-block ml-3"><a href="#" class="text-white">@components.icon(Map("id"->"", "icon"->"fab fa-facebook-f", "class"->"h4"))</a></li>
				<li class="d-inline-block ml-3"><a href="#" class="text-white">@components.icon(Map("id"->"", "icon"->"fab fa-instagram", "class"->"h4"))</a></li>
				<li class="d-inline-block ml-3"><a href="#" class="text-white">@components.icon(Map("id"->"", "icon"->"fab fa-pinterest-p", "class"->"h4"))</a></li>
			</ul>
		</div>
		<div class="col-6 col-md draft">
			<h5><span>Features</span></h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#"><span>Cool stuff</span></a></li>
				<li><a class="text-muted" href="#"><span>Random feature</span></a></li>
				<li><a class="text-muted" href="#"><span>Team feature</span></a></li>
				<li><a class="text-muted" href="#"><span>Stuff for developers</span></a></li>
				<li><a class="text-muted" href="#"><span>Another one</span></a></li>
				<li><a class="text-muted" href="#"><span>Last time</span></a></li>
			</ul>
		</div>
		<div class="col-6 col-md draft">
			<h5><span>Resources</span></h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#"><span>Resource</span></a></li>
				<li><a class="text-muted" href="#"><span>Resource name</span></a></li>
				<li><a class="text-muted" href="#"><span>Another resource</span></a></li>
				<li><a class="text-muted" href="#"><span>Final resource</span></a></li>
			</ul>
		</div>
		<div class="col-6 col-md draft">
			<h5><span>Resources</span></h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#"><span>Business</span></a></li>
				<li><a class="text-muted" href="#"><span>Education</span></a></li>
				<li><a class="text-muted" href="#"><span>Government</span></a></li>
				<li><a class="text-muted" href="#"><span>Gaming</span></a></li>
			</ul>
		</div>
		<div class="col-6 col-md draft">
			<h5><span>About</span></h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#"><span>Team</span></a></li>
				<li><a class="text-muted" href="#"><span>Locations</span></a></li>
				<li><a class="text-muted" href="#"><span>Privacy</span></a></li>
				<li><a class="text-muted" href="#"><span>Terms</span></a></li>
			</ul>
		</div>
	</div>
}
