@import play.i18n.Lang
@import play.i18n.Messages

@()(content: Html)(implicit request:Http.Request, lang: Lang, messages: Messages)

@mode() = @{

	common.system.System.getInjector().instanceOf(classOf[play.api.Environment]).mode.toString.toLowerCase
}

@theme() = @{

	request.session().get(models.user.User.THEME).orElse(models.user.User.Theme.DEFAULT.name()).toLowerCase
}

@dir() = @{

	val isLTR = models.system.System.Direction.LTR == common.utils.Locales.toDirection(lang.locale);
	if (isLTR){"ltr"} else {"rtl"}
}

<!DOCTYPE html>

<html
	lang="@lang.code"
	dir="@dir()"
	class="mode-@mode() dir-@dir() theme-@theme()"
>
	@content
</html>
