@()

<div id="system_theme" class="d-none">

	<div id="system_theme-normal" class="card">
	</div>

	<div id="system_theme-primary">

		<button type="button" class="btn btn-primary system_theme-primary-normal"></button>
		<button type="button" class="btn btn-primary system_theme-primary-active active"></button>
		<button type="button" class="btn btn-primary system_theme-primary-disabled" disabled></button>

		<button type="button" class="btn btn-primary btn-sm system_theme-primary-normal-sm"></button>

		<button type="button" class="btn btn-primary btn-lg system_theme-primary-normal-lg"></button>
	</div>
</div>
