@(prop:scala.collection.immutable.Map[String, String], groupToElementsList:Seq[Tuple2[ /*section*/ scala.collection.immutable.Map[String, String], /*work*/ Seq[scala.collection.immutable.Map[String, String]]]])

<div id="@prop.getOrElse("id", "workmenu")">
	@for(i <- 0 to groupToElementsList.size() - 1){
		@defining(groupToElementsList.get(i)) { groupToElements =>
			@defining(groupToElements._1) { group =>
				@if(Boolean.valueOf(group.getOrElse("show", "true"))){
	<div class="system_section">

		<div class="px-3" id="heading@i">
			<h4 class="d-flex justify-content-between">
				<button class="pl-0 system_work-name @("collapsed".when(!Boolean.valueOf(group.getOrElse("selected", "false")))) @Attributes.classValue(group)" data-toggle="collapse" data-target="#collapse@i" aria-expanded="@group.getOrElse("selected", "false")" aria-controls="collapse@i">
					<i class="@group.getOrElse("icon", "")"></i>
					&nbsp;<span class="d-inline-block text-truncate system_section-name-text text-left">@group.get("name")</span>
				</button>
				<small class="pt-1"><span id="" class="badge badge-pill badge-success">@flash.get("system_section-" + group.getOrElse("key", ""))</span></small>
			</h4>
		</div>

		<div id="collapse@i" class="worksbase collapse @("show".when(Boolean.valueOf(group.getOrElse("selected", "false"))))" aria-labelledby="heading@i" data-parent="#@prop.getOrElse("id", "workmenu")">
			<ul class="works nav flex-column">
				@defining(groupToElements._2) { elements =>
					@for(j <- 0 to elements.size - 1){
						@if(Boolean.valueOf(elements.get(j).getOrElse("show", "true"))){
				<li class="work nav-item @elements.get(j).getOrElse("class", "") @("selected".when(Boolean.valueOf(elements.get(j).getOrElse("selected", "false")))) d-flex justify-content-between px-3">
					<a href="@(elements.get(j).getOrElse("link","#"))" class="system_work-name nav-link @("disabled".when(!Boolean.valueOf(elements.get(j).getOrElse("enabled", "true")))) px-0">
						<i class="@elements.get(j).getOrElse("icon", "") align-self-center"></i>
						&nbsp;<span class="d-inline-block text-truncate system_work-name-text">@elements.get(j).get("name")</span>
					</a>
					<span class="pt-2"><span id="" class="badge badge-pill badge-success">@flash.get("system_section-work-" + elements.get(j).getOrElse("key", ""))</span></span>
				</li>
						}
					}
				}
			</ul>
		</div>

	</div>
				}
			}
		}
	}
</div>
