@charset "utf-8";

/* Hide initialize */
.slick-container>div>img{
	visibility: hidden;
}
#firstDialog .modal-body{
	height:400px;
	padding: 0;
}
.slick-prev{
	left: 25px;
	z-index: 1;
}
.slick-next{
	right: 25px;
	z-index: 1;
}
.slick-dots{
	bottom: 25px;
	z-index: 1;
}
