@charset "utf-8";

.matrix {
	font-size: 4rem;
	line-height: 1;
}

.led.red {
	text-shadow: 0 0 5px #f00;
}

.led.green {
	text-shadow: 0 0 5px #0a0;
}

.led.yellow {
	text-shadow: 0 0 5px #ff0;
}

.led.blue {
	text-shadow: 0 0 5px #80deea;
}

.lcd.type-a {
	text-shadow: 2px 2px 2px #777;
}

.lcd.type-b {
	text-shadow: 2px 2px 2px #777;
}
