@import java.time._
@import java.time.format._
@import models.components._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._
@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@(detail:Boolean)(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ilike/ilike.css")'>
	}

	@body("lab","ilike"){

		@components.container(Map("id"->"i_content", "fluid"->"true", "class"->("" + "detail".when(detail)))){

			<div class="row">

				<div id="i_master" class="col-md-3 px-0 bg-grey-100">

					@tasks(Map("id"->"", "task"->"arrange"))
				</div>
				<div id="i_detail" class="col-md-9 bg-grey-100">

					<nav id="i_detail-header" class="border navbar navbar-light bg-light justify-content-between">

						<div class="">@components.button(Map("id"->"backButton", "type"->"link", "icon"->"fas fa-chevron-left", "text"->messages(MessageKeys.BACK), "class"->"d-md-none"))</div>
						<div class="h5 text-center">@messages(MessageKeys.ARRANGE)</div>
						<div class="">@components.button(Map("id"->"", "type"->"link", "icon"->"fas fa-chevron-left", "text"->messages(MessageKeys.BACK), "class"->"d-md-none text-transparent"))</div>
					</nav>

					<div class="mt-3 mb-3 text-right">

						@components.button(Map("id"->"editButton", "type"->"primary", "outline"->"true", "icon"->"", "text"->messages(MessageKeys.EDIT), "data-toggle"->"button", "aria-pressed"->"false"))
					</div>

					@components.table(Map("id"->"", "striped"->"true"),
						Map("id"->""),Tuple2(Map("id"->""),List(
							Map("id"->"", "head"->"true", "text"->"", "class"->"removeButtonColumn"),
							Map("id"->"", "head"->"true", "text"->messages(MessageKeys.FULL__NAME)),
							Map("id"->"", "head"->"true", "text"->messages(MessageKeys.ORDER)),
							Map("id"->"", "head"->"true", "text"->"", "class"->"sortHandleColumn"))),
						Map("id"->"sortable"),List(
							Tuple2(Map("id"->""),List(
								Map("id"->"", "icon"->"fas fa-minus-circle text-danger", "class"->"removeButtonColumn", "scope"->"row"),
								Map("id"->"", "text"->"Yui Hirasawa"),
								Map("id"->"", "text"->"0"),
								Map("id"->"", "icon"->"fas fa-bars", "class"->"sortHandleColumn"))),
							Tuple2(Map("id"->""),List(
								Map("id"->"", "icon"->"fas fa-minus-circle text-danger", "class"->"removeButtonColumn", "scope"->"row"),
								Map("id"->"", "text"->"Mio Akiyama"),
								Map("id"->"", "text"->"1"),
								Map("id"->"", "icon"->"fas fa-bars", "class"->"sortHandleColumn"))),
							Tuple2(Map("id"->""),List(
								Map("id"->"", "icon"->"fas fa-minus-circle text-danger", "class"->"removeButtonColumn", "scope"->"row"),
								Map("id"->"", "text"->"Ritsu Tainaka"),
								Map("id"->"", "text"->"2"),
								Map("id"->"", "icon"->"fas fa-bars", "class"->"sortHandleColumn"))),
							Tuple2(Map("id"->""),List(
								Map("id"->"", "icon"->"fas fa-minus-circle text-danger", "class"->"removeButtonColumn", "scope"->"row"),
								Map("id"->"", "text"->"Tsumugi Kotobuki"),
								Map("id"->"", "text"->"3"),
								Map("id"->"", "icon"->"fas fa-bars", "class"->"sortHandleColumn"))),
							Tuple2(Map("id"->""),List(
								Map("id"->"", "icon"->"fas fa-minus-circle text-danger", "class"->"removeButtonColumn", "scope"->"row"),
								Map("id"->"", "text"->"Azusa Nakano"),
								Map("id"->"", "text"->"4"),
								Map("id"->"", "icon"->"fas fa-bars", "class"->"sortHandleColumn")))),
						Map("id"->""),Tuple2(Map("id"->""),List(
							Map("id"->"", "head"->"true", "text"->"", "class"->"removeButtonColumn"),
							Map("id"->"", "head"->"true", "text"->messages(MessageKeys.FULL__NAME)),
							Map("id"->"", "head"->"true", "text"->messages(MessageKeys.ORDER)),
							Map("id"->"", "head"->"true", "text"->"", "class"->"sortHandleColumn")))
					)
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.COMPLETE":"@messages(MessageKeys.COMPLETE)",
			"@MessageKeys.EDIT":"@messages(MessageKeys.EDIT)"
		}'></div>

		@libraries.standard.last()
		@libraries.jqueryuitouchpunch.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ilike/ilike.js")'></script>
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/ilike/arrange.js")'></script>
	}
}
