@import scala.collection.JavaConversions._
@import scala.collection.JavaConverters._

@import views.html._
@import views.html.components

@()

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@frame(){

	@head("Lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/ilike/index.css")'>
	}

	@body("lab","ilike"){

		@components.container(Map("id"->"", "fluid"->"true")){

			<div class="row">
				<div class="col-md-3 px-0 i_back i_master">
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio", "selected"->"true"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
				</div>
				<div class="col-md-9 i_back i_detail">
					<div class="i_space">
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
					<div class="i_space">

						@components.listgroup(Map("id"->""), List(
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio"),
							Map("id"->"", "type"->"", "icon"->"fa fa-spinner fa-pulse", "text"->"Cras justo odio")
						))
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
	}
}