@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html.components
@import common.system._

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<nav id="i_detail-header" class="border navbar navbar-light bg-light i_space">

	<div class="h3">I Like</div>
</nav>
<div class="i_space">

	@components.listgroup(Map("id"->"", "flush"->"true"), List(
		Map("id"->"", "class"->"i_task", "type"->"", "iconType"->"secondary", "icon"->"fas fa-cog fa-fw", "text"->messages(MessageKeys.LIST), "link"->controllers.lab.ilike.routes.ILike.index("list", true).toString, "selected"->equalTask("list").toString),
		Map("id"->"", "class"->"i_task", "type"->"", "iconType"->"success", "icon"->"fas fa-sort-amount-down fa-fw", "text"->messages(MessageKeys.ARRANGE), "link"->controllers.lab.ilike.routes.ILike.index("arrange", true).toString, "selected"->equalTask("arrange").toString)
	))
</div>
<div class="i_space">

	@components.listgroup(Map("id"->"", "flush"->"true"), List(
		Map("id"->"", "class"->"i_task", "type"->"", "iconType"->"info", "icon"->"far fa-window-maximize fa-fw", "text"->messages(MessageKeys.COMPONENT), "link"->controllers.lab.ilike.routes.ILike.index("component", true).toString, "selected"->equalTask("component").toString),
		Map("id"->"", "class"->"i_task", "type"->"", "iconType"->"primary", "icon"->"fas fa-home fa-fw", "text"->"Autumn board", "link"->controllers.lab.ilike.routes.ILike.index("autumnboard", true).toString, "selected"->equalTask("autumnboard").toString)
	))
</div>
