@import play.i18n.Lang
@import play.i18n.Messages

@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

<!-- npm -->
<script @{CSPNonce.attr} src="@routes.Assets.versioned("lib/handsontable/dist/handsontable.full.min.js")"></script>
@translation() = @{

	var lang = messages(MessageKeys.HANDSONTABLE_LANG)
	if(lang.isEmpty){

		Html("")
	}else{

		var path = "lib/handsontable/dist/languages/"+lang+".js"
		Html("<script " + CSPNonce.attr + " type='text/javascript' src='"+routes.Assets.versioned(path)+"'></script>")
	}
}
@translation()
