@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import java.time.format._
@import views.html._
@import views.html.components
@import views.html.helper._
@import views.html.development
@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@(map: java.util.Map[String, Object])(implicit request:Http.Request, lang: Lang, messages: Messages)

@datetime() = @{

	common.utils.DateTimes.toClientDateTime(request, LocalDateTime.now())
}

@frame(){

	@head("Application"){

		@libraries.standard.head()
	}

	@body("framework","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.DATETIME), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"datetime"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					@development.proptable("", map)
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"clientDateTime":"@datetime().format(DateTimeFormatter.ISO_LOCAL_DATE_TIME)"
		}'></div>

		@libraries.standard.last()
		@libraries.moment.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/framework/application/datetime.js")'></script>
	}
}
