@import java.time._
@import java.time.format._
@import views.html._
@import views.html.components
@import views.html.helper._
@import views.html.development
@import play.api.i18n._

@import common.system._
@import common.utils._

@(startDayInfo: List[List[String]], endDayInfo: List[List[String]], dateTimeList: List[List[LocalDateTime]])

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@datetimeFormat(date: LocalDate) = @{

	DateTimeFormatter.ofLocalizedDate(FormatStyle.MEDIUM).withLocale(lang.toLocale).format(date)
}

@tbodyRowToColumnsList(dateTimes: java.util.List[java.util.List[LocalDateTime]]) = @{

	val tbodyRowToColumnsList = scala.collection.mutable.ListBuffer[Tuple2[ /*tr*/ scala.collection.immutable.Map[String, String], /*tds*/ Seq[scala.collection.immutable.Map[String, String]]]]();
	for(dateTimesOfDay <- dateTimes) {

		val tbodyRow = Map[String, String]();

		val columnsList = scala.collection.mutable.ListBuffer[scala.collection.immutable.Map[String, String]]();
		columnsList += Map("text"->datetimeFormat(dateTimesOfDay.get(0).toLocalDate));
		for(dateTimeOfDay <- dateTimesOfDay) {

			columnsList += Map("type"->(if(DateTimes.isServerDateTimeConvertible(dateTimeOfDay)){""}else{"danger"}));
		}

		tbodyRowToColumnsList += Tuple2(tbodyRow, columnsList.toList);
	}

	tbodyRowToColumnsList.toList
}

@frame(){

	@head("Application"){

		@libraries.standard.head()
	}

	@body("framework","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.DAYLIGHT__SAVING__TIME), "icon"->"fas fa-sun", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"daylightsavingtime"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<h4 class="headline">@(Messages(MessageKeys.START) + " " + Messages(MessageKeys.DAY))</h4>
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.SERVER) (UTC)</th>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.CLIENT) (US/Pacific)</th>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.CLIENT) (US/Pacific)</th>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.SERVER) (UTC)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">3/12 9:00</td>
									<td>@startDayInfo.get(0).get(0)</td>
									<td>→</td>
									<td>@startDayInfo.get(0).get(1)</td>
									<td></td>
									<td>@startDayInfo.get(0).get(2)</td>
									<td>→</td>
									<td>@startDayInfo.get(0).get(3)</td>
								</tr>
								<tr>
									<td>@startDayInfo.get(1).get(0)</td>
									<td>→</td>
									<td>@startDayInfo.get(1).get(1)</td>
									<td></td>
									<td>@startDayInfo.get(1).get(2)</td>
									<td>→</td>
									<td>@startDayInfo.get(1).get(3)</td>
								</tr>
								<tr>
									<td rowspan="2"></td>
									<td class="bg-dark">@startDayInfo.get(2).get(0)</td>
									<td class="bg-dark">→</td>
									<td class="bg-dark">@startDayInfo.get(2).get(1)</td>
									<td></td>
									<td class="bg-warning">@startDayInfo.get(2).get(2)</td>
									<td class="bg-warning">→</td>
									<td class="bg-warning">@startDayInfo.get(2).get(3)</td>
								</tr>
								<tr>
									<td class="bg-dark">@startDayInfo.get(3).get(0)</td>
									<td class="bg-dark">→</td>
									<td class="bg-dark">@startDayInfo.get(3).get(1)</td>
									<td></td>
									<td class="bg-warning">@startDayInfo.get(3).get(2)</td>
									<td class="bg-warning">→</td>
									<td class="bg-warning">@startDayInfo.get(3).get(3)</td>
								</tr>
								<tr>
									<td rowspan="2">3/12 10:00</td>
									<td>@startDayInfo.get(4).get(0)</td>
									<td>→</td>
									<td>@startDayInfo.get(4).get(1)</td>
									<td></td>
									<td>@startDayInfo.get(4).get(2)</td>
									<td>→</td>
									<td>@startDayInfo.get(4).get(3)</td>
								</tr>
								<tr>
									<td>@startDayInfo.get(5).get(0)</td>
									<td>→</td>
									<td>@startDayInfo.get(5).get(1)</td>
									<td></td>
									<td>@startDayInfo.get(5).get(2)</td>
									<td>→</td>
									<td>@startDayInfo.get(5).get(3)</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h4 class="headline">@(Messages(MessageKeys.END) + " " + Messages(MessageKeys.DAY))</h4>
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.SERVER) (UTC)</th>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.CLIENT) (US/Pacific)</th>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.CLIENT) (US/Pacific)</th>
									<th scope="col"></th>
									<th scope="col">@Messages(MessageKeys.SERVER) (UTC)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">11/05 7:00</td>
									<td>@endDayInfo.get(0).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(0).get(1)</td>
									<td></td>
									<td>@endDayInfo.get(0).get(2)</td>
									<td>→</td>
									<td>@endDayInfo.get(0).get(3)</td>
								</tr>
								<tr>
									<td>@endDayInfo.get(1).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(1).get(1)</td>
									<td></td>
									<td>@endDayInfo.get(1).get(2)</td>
									<td>→</td>
									<td>@endDayInfo.get(1).get(3)</td>
								</tr>
								<tr>
									<td rowspan="2">11/05 8:00</td>
									<td>@endDayInfo.get(2).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(2).get(1)</td>
									<td></td>
									<td>@endDayInfo.get(2).get(2)</td>
									<td>→</td>
									<td>@endDayInfo.get(2).get(3)</td>
								</tr>
								<tr>
									<td>@endDayInfo.get(3).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(3).get(1)</td>
									<td></td>
									<td>@endDayInfo.get(3).get(2)</td>
									<td>→</td>
									<td>@endDayInfo.get(3).get(3)</td>
								</tr>
								<tr>
									<td rowspan="2">11/05 9:00</td>
									<td>@endDayInfo.get(4).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(4).get(1)</td>
									<td></td>
									<td class="bg-danger">@endDayInfo.get(4).get(2)</td>
									<td class="bg-danger">→</td>
									<td class="bg-danger">@endDayInfo.get(4).get(3)</td>
								</tr>
								<tr>
									<td>@endDayInfo.get(5).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(5).get(1)</td>
									<td></td>
									<td class="bg-danger">@endDayInfo.get(5).get(2)</td>
									<td class="bg-danger">→</td>
									<td class="bg-danger">@endDayInfo.get(5).get(3)</td>
								</tr>
									<td rowspan="2">11/05 10:00</td>
									<td>@endDayInfo.get(6).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(6).get(1)</td>
									<td></td>
									<td>@endDayInfo.get(6).get(2)</td>
									<td>→</td>
									<td>@endDayInfo.get(6).get(3)</td>
								</tr>
								<tr>
									<td>@endDayInfo.get(7).get(0)</td>
									<td>→</td>
									<td>@endDayInfo.get(7).get(1)</td>
									<td></td>
									<td>@endDayInfo.get(7).get(2)</td>
									<td>→</td>
									<td>@endDayInfo.get(7).get(3)</td>
								</tr>
							</tbody>
						</table>
					</div>

					<hr class="separator">

					<h4 class="headline">@Messages(MessageKeys.LIST)</h4>
					<div class="mb-3 table-responsive">
						@components.table(Map("id"->"", "class"->"", "bordered"->"true", "size"->"sm"),
							Map("id"->""),Tuple2(Map("id"->""),List(
								Map("id"->"", "head"->"true", "text"->""),
								Map("id"->"", "head"->"true", "text"->"0", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"1", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"2", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"3", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"4", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"5", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"6", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"7", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"8", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"9", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"10", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"11", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"12", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"13", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"14", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"15", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"16", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"17", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"18", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"19", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"20", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"21", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"22", "colspan"->"6"),
								Map("id"->"", "head"->"true", "text"->"23", "colspan"->"6"))),
							Map("id"->""),
							tbodyRowToColumnsList(dateTimeList),
							Map("id"->""),Tuple2(Map("id"->""),List()),
						)
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/framework/application/daylightsavingtime.js")'></script>
	}
}
