@import views.html._
@import views.html.components
@import views.html.development

@(map: Map[String, Object])

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@frame(){

	@head("Application"){

		@libraries.standard.head()
	}

	@body("framework","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->"Flash", "icon"->"fa fa-pencil", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"flash"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					@components.adjust.alert(Map("id"->"", "icon"->"fa fa-check", "text"->play.mvc.Controller.flash("success"), "closable"->"true", "flashKey"->"success"))
					@components.adjust.alert(Map("id"->"", "icon"->"fa fa-info-circle", "text"->play.mvc.Controller.flash("info"), "type"->"info", "closable"->"true", "flashKey"->"info"))
					@components.adjust.alert(Map("id"->"", "icon"->"fa fa-exclamation-triangle", "text"->play.mvc.Controller.flash("warning"), "type"->"warning", "closable"->"true", "flashKey"->"warning"))
					@components.adjust.alert(Map("id"->"", "icon"->"fa fa-ban", "text"->play.mvc.Controller.flash("danger"), "type"->"danger", "closable"->"true", "flashKey"->"danger"))

					@development.proptable("", map)
				</div>
			</div>
		}

		@libraries.standard.last()
	}
}
