@import play.mvc._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.development

@(alertInfo: Map[String, String], map: Map[String, String])(implicit request:Http.Request, lang: Lang, messages: Messages)

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@frame(){

	@head("Application"){

		@libraries.standard.head()
	}

	@body("framework","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Flash", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){

			@components.alerts(Map("id"->"system_alerts")){

				@components.adjust.alert(Map("id"->"", "icon"->"fas fa-check", "text"->alertInfo.get("success"), "closable"->"true", "display"->alertInfo.containsKey("success").toString))
				@components.adjust.alert(Map("id"->"", "icon"->"fas fa-info-circle", "text"->alertInfo.get("info"), "type"->"info", "closable"->"true", "display"->alertInfo.containsKey("info").toString))
				@components.adjust.alert(Map("id"->"", "icon"->"fas fa-exclamation-triangle", "text"->alertInfo.get("warning"), "type"->"warning", "closable"->"true", "display"->alertInfo.containsKey("warning").toString))
				@components.adjust.alert(Map("id"->"", "icon"->"fas fa-ban", "text"->alertInfo.get("danger"), "type"->"danger", "closable"->"true", "display"->alertInfo.containsKey("danger").toString))
			}
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"flash"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					@development.proptable("", map)
				</div>
			</div>
		}

		@libraries.standard.last()
	}
}
