@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.time._
@import java.time.format._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._
@import views.html.development
@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._
@import common.utils._

@(map: java.util.Map[String, Object])(implicit request:Http.Request, lang: Lang, messages: Messages)

@datetime_now() = @{

	common.utils.DateTimes.toClientDateTime(request, LocalDateTime.now())
}

@append(mutableMap: scala.collection.mutable.Map[String,AnyRef]) = @{

	mutableMap += "lang"->lang;
	mutableMap += "lang.code"->lang.code;
	mutableMap += "lang.language"->lang.language;
	mutableMap += "lang.country"->lang.country;
	mutableMap += ("messages(\"message.code\") " + components.badge(Map("type"->"success", "text"->messages(MessageKeys.CLIENT))))->messages(MessageKeys.MESSAGE_CODE);
	mutableMap += "messages(\"constraint.min\",\"0\")"->messages(MessageKeys.CONSTRAINT_MIN,"0");
	mutableMap += "Date(Medium)"->DateTimeFormatter.ofLocalizedDate(FormatStyle.MEDIUM).withLocale(lang.toLocale).format(datetime_now());
	mutableMap += "Time(Medium)"->DateTimeFormatter.ofLocalizedTime(FormatStyle.MEDIUM).withLocale(lang.toLocale).format(datetime_now());
	mutableMap += "DateTime(Medium)"->DateTimeFormatter.ofLocalizedDateTime(FormatStyle.MEDIUM).withLocale(lang.toLocale).format(datetime_now());
	mutableMap += "Resource"->components.image(Map("id"->"", "class"->"w-50", "source"->routes.Assets.versioned("images/" + lang.code + "/logo.png").toString));
}

@frame(){

	@head("Application"){

		@libraries.standard.head()
	}

	@body("framework","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"I18n", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"i18n"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					@development.proptable("", append(map))
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.WELCOME":"@messages(MessageKeys.WELCOME)",
			"@MessageKeys.SPEECH_SYNTHESIS_LANG":"@messages(MessageKeys.SPEECH_SYNTHESIS_LANG)"
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/framework/application/i18n.js")'></script>
	}
}
