@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.development

@import common.system._

@(map: java.util.Map[String, Object])(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("Application"){

		@libraries.standard.head()
	}

	@body("framework","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.REQUEST), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"request"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					@development.proptable("", map)
				</div>
			</div>
		}

		@libraries.standard.last()
	}
}
