@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import common.system._

@(prop:scala.collection.immutable.Map[String, String])(implicit messages: Messages)

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="@controllers.framework.application.routes.Application.index("config").toString()" class="list-group-item @("active".when(equalTask("config")))">Config</a>
	<a href="@controllers.framework.application.routes.Application.index("cookie").toString()" class="list-group-item @("active".when(equalTask("cookie")))">Cookie</a>
	<a href="@controllers.framework.application.routes.Application.index("session").toString()" class="list-group-item @("active".when(equalTask("session")))">Session</a>
	<a href="@controllers.framework.application.routes.Application.index("beforeflash").toString()" class="list-group-item @("active".when(equalTask("flash")))">Flash</a>
	<a href="@controllers.framework.application.routes.Application.index("logger").toString()" class="list-group-item @("active".when(equalTask("logger"))) secret">Logger</a>
	<a href="@controllers.framework.application.routes.Application.index("cache").toString()" class="list-group-item @("active".when(equalTask("cache")))">Cache</a>
	<a href="@controllers.framework.application.routes.Application.index("i18n").toString()" class="list-group-item @("active".when(equalTask("i18n")))">I18n</a>
	<a href="@controllers.framework.application.routes.Application.index("message").toString()" class="list-group-item @("active".when(equalTask("message")))">@messages(MessageKeys.MESSAGE)</a>
	<a href="@controllers.framework.application.routes.Application.index("validation").toString()" class="list-group-item @("active".when(equalTask("validation")))">Validation</a>
	<a href="@controllers.framework.application.routes.Application.index("request").toString()" class="list-group-item @("active".when(equalTask("request")))">@messages(MessageKeys.REQUEST)</a>
	<a href="@controllers.framework.application.routes.Application.index("exception").toString()" class="list-group-item @("active".when(equalTask("exception")))">Exception</a>
	<a href="@controllers.framework.application.routes.Application.index("reporterror").toString()" class="list-group-item @("active".when(equalTask("reporterror")))">@(messages(MessageKeys.REPORT)+" "+messages(MessageKeys.ERROR))</a>
	<a href="@controllers.framework.application.routes.Application.index("clock").toString()" class="list-group-item @("active".when(equalTask("clock")))">@messages(MessageKeys.CLOCK)</a>
	<a href="@controllers.framework.application.routes.Application.index("datetime").toString()" class="list-group-item @("active".when(equalTask("datetime")))">@messages(MessageKeys.DATETIME)</a>
	<a href="@controllers.framework.application.routes.Application.index("daylightsavingtime").toString()" class="list-group-item @("active".when(equalTask("daylightsavingtime")))">@messages(MessageKeys.DAYLIGHT__SAVING__TIME)</a>
	<a href="@controllers.framework.application.routes.Application.index("entitymanager").toString()" class="list-group-item @("active".when(equalTask("entitymanager")))">EntityManager</a>
	<a href="@controllers.framework.application.routes.Application.index("user").toString()" class="list-group-item @("active".when(equalTask("user")))">@messages(MessageKeys.USER)</a>
</div>
