@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()

@frame(){

	@head(Messages(MessageKeys.DEVELOPMENT)){

		@libraries.standard.head()
	}

	@body("development","http"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"Comet", "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"comet"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">

						@components.alert(Map("id"->"", "icon"->"fas fa-info-circle", "text"->"Comet uses inline scripts.", "type"->"info"))
					</div>

					<div class="container-fluid">

						<h1 id="clock"></h1>
					</div>
					<iframe id="comet" src="@controllers.lab.application.routes.Application.clock(session.get(models.user.User.ZONE_ID)).unique" class="d-none"></iframe>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/application/comet.js")'></script>
	}
}
