@import java.net.URLEncoder
@import java.io.UnsupportedEncodingException
@import java.nio.charset.StandardCharsets
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@encodedUserId() = @{

	var userId = session().get(models.user.User.USER_ID);

	try {

		URLEncoder.encode(userId, StandardCharsets.UTF_8.name());
	} catch {

		case e: UnsupportedEncodingException => throw new RuntimeException(e)
	}
}

@encodedFileName() = @{

	try {

		"URL_" + Messages(MessageKeys.FILE_NAME).replaceAll("\\s", "_") + ".txt";
	} catch {

		case e: UnsupportedEncodingException => throw new RuntimeException(e)
	}
}

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.DOWNLOAD), "icon"->"fas fa-download", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"download"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">
						<h4 class="headline">@Messages(MessageKeys.FILE)</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.file().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3">
						<h4 class="headline">Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.stream().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3">
						<h4 class="headline">Chunk</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.chunks().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Excel Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.excelStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-excel", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Word Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.wordStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-word", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PowerPoint Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.powerPointStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-powerpoint", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PDF Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.pdfboxStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PDF Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportPdfStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Word Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportWordStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-word", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Excel Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportExcelStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-excel", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PowerPoint Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportPowerpointStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-powerpoint", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Paper unless Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.paperPdfStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">ZIP Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.zipStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-archive", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Encrypt ZIP Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.encryptZipStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-archive", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">File name</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.fileName().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">URL File name</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.urlFileName(encodedFileName).toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.wkhtmltopdfStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">IVD Stream</h4>
						@components.button(Map("id"->"createIVDButton", "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->Messages(MessageKeys.CREATE)))
						@components.icon(Map("id"->"createIVDIcon", "icon"->("fas fa-spinner fa-pulse"), "class"->"d-none"))
						@components.linkbutton(Map("id"->"downloadIVDButton", "link"->controllers.lab.application.routes.Download.ivdPdfStream(-1).toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->Messages(MessageKeys.DOWNLOAD), "class"->"d-none"))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Local</h4>
						@components.badge(Map("id"->"URL", "type"->"danger", "text"->"URL"))
						<br>
						@components.linkbutton(Map("id"->"local", "link"->"", "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD), "download"->"url.txt"))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">HTML5</h4>
						@components.badge(Map("id"->"DownloadAttribute", "type"->"danger", "text"->"Download attribute"))
						<br>
						@components.linkbutton(Map("id"->"html5", "link"->"https://www.playframework.com/assets/images/logos/play_full_color.svg", "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->Messages(MessageKeys.DOWNLOAD), "download"->null))
					</div>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"encodedUserId":"@encodedUserId"
		}'></div>

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/lab/application/download.js")'></script>
	}
}
