@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import java.net.URLEncoder
@import java.io.UnsupportedEncodingException
@import java.nio.charset.StandardCharsets

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@encodedUserId() = @{

	var userId = request.session().getOptional(models.user.User.USER_ID).get();

	try {

		URLEncoder.encode(userId, StandardCharsets.UTF_8.name());
	} catch {

		case e: UnsupportedEncodingException => throw new RuntimeException(e)
	}
}

@encodedFileName() = @{

	try {

		"URL_" + messages(MessageKeys.FILE_NAME).replaceAll("\\s", "_") + ".txt";
	} catch {

		case e: UnsupportedEncodingException => throw new RuntimeException(e)
	}
}

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.DOWNLOAD), "icon"->"fas fa-download", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"download"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">
						<h4 class="headline">@messages(MessageKeys.FILE)</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.file().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3">
						<h4 class="headline">Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.stream().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3">
						<h4 class="headline">Chunk</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.chunks().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Excel Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.excelStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-excel", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Word Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.wordStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-word", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PowerPoint Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.powerPointStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-powerpoint", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PDF Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.pdfboxStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PDF Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportPdfStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-pdf", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Word Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportWordStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-word", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Excel Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportExcelStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-excel", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PowerPoint Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportPowerpointStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-powerpoint", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">ZIP Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.zipStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-archive", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Encrypt ZIP Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.encryptZipStream().toString(), "type"->"primary", "outline"->"true", "icon"->"far fa-file-archive", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">File name</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.fileName().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">URL File name</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.urlFileName(encodedFileName).toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">@messages(MessageKeys.X__X, "KIOSK", messages(MessageKeys.PRINT))</h4>

						@components.buttongroup(Map("id"->"", "size"->"sm", "class"->"mb-3"), List(
							Map("id"->"", "type"->"dark", "icon"->"", "text"->"Chrome"),
							Map("id"->"ua", "type"->"info", "icon"->"", "text"->"Only")
						))

<pre><code class="bash">MacBook:~ user$ /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --kiosk-printing</code></pre>

						@helper.form(helper.CSRF(apis.system.routes.Paper.index()), args = 'class -> "form-paper") {
							<input id="@models.system.PaperInfoFormContent.URL" class="form-control" type="hidden" name="@models.system.PaperInfoFormContent.URL" value="@controllers.lab.library.routes.Library.papercss("receipt").toString()" required>
							<input id="@models.system.PaperInfoFormContent.RETURNURL" class="form-control" type="hidden" name="@models.system.PaperInfoFormContent.RETURNURL" value="@controllers.lab.application.routes.Download.index().toString()" required>
							<input id="@models.system.PaperInfoFormContent.SIZE" class="form-control" type="hidden" name="@models.system.PaperInfoFormContent.SIZE" value="A4" required>
							<input id="@models.system.PaperInfoFormContent.PRINT" class="form-control" type="hidden" name="@models.system.PaperInfoFormContent.PRINT" value="true" required>
							<input id="name" class="form-control" type="hidden" name="name" value="Other world Cafe" required>
							<input id="no" class="form-control" type="hidden" name="no" value="64657767MH" required>
							<input id="date" class="form-control" type="hidden" name="date" value="Mar 12, 2018" required>

							@components.button(Map("id"->"paperButton", "action"->"submit", "type"->"primary", "outline"->"true", "icon"->"fas fa-file-invoice", "text"->messages(MessageKeys.DOWNLOAD)))
						}
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Puppeteer</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.puppeteerPdfStream().toString(), "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 secret">

						<hr class="separator">
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Local</h4>
						@components.badge(Map("id"->"URL", "type"->"danger", "text"->"URL"))
						<br>
						@components.linkbutton(Map("id"->"local", "link"->"", "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD), "download"->"url.txt"))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">HTML5</h4>
						@components.badge(Map("id"->"DownloadAttribute", "type"->"danger", "text"->"Download attribute"))
						<br>
						@components.linkbutton(Map("id"->"html5", "link"->routes.Assets.versioned("images/" + lang.code + "/logo.png").toString, "type"->"primary", "outline"->"true", "icon"->"fas fa-download", "text"->messages(MessageKeys.DOWNLOAD), "download"->"logo.png"))
					</div>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"encodedUserId":"@encodedUserId"
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/application/download.js")'></script>
	}
}
