@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.DOWNLOAD), "icon"->"fa fa-pencil", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"download"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">
						<h4 class="headline">@Messages(MessageKeys.FILE)</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.file().toString(), "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3">
						<h4 class="headline">Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.stream().toString(), "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Excel Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.excelStream().toString(), "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">PDF Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.pdfStream().toString(), "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Report Stream</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.reportStream().toString(), "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3">
						<h4 class="headline">Chunk</h4>
						@components.linkbutton(Map("id"->"", "link"->controllers.lab.application.routes.Download.chunks().toString(), "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD)))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">Local</h4>
						@components.badge(Map("id"->"URL", "type"->"danger", "text"->"URL"))
						<br>
						@components.linkbutton(Map("id"->"local", "link"->"", "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD), "download"->"url.txt"))
					</div>

					<div class="mb-3 lab secret">
						<h4 class="headline">HTML5</h4>
						@components.badge(Map("id"->"DownloadAttribute", "type"->"danger", "text"->"Download attribute"))
						<br>
						@components.linkbutton(Map("id"->"html5", "link"->"https://www.playframework.com/assets/images/logos/play_full_color.svg", "type"->"primary", "outline"->"true", "icon"->"fa fa-download", "text"->Messages(MessageKeys.DOWNLOAD), "download"->null))
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/lab/application/download.js")'></script>
	}
}
