@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@()(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("lab"){

		@libraries.standard.head()
		@libraries.slick.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/application/firsttimeaccess.css")'>
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.X__X, messages(MessageKeys.FIRST__TIME), messages(MessageKeys.ACCESS)), "icon"->"far fa-handshake", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"firsttimeaccess"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					@components.badge(Map("id"->"LocalStorage", "type"->"danger", "text"->"LocalStorage"))

					<div class="mb-3">

						@components.button(Map("id"->"resetButton", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.RESET), "enabled"->"false"))
					</div>

					@components.modal(Map("id"->"firstDialog", "title"->"", "closable"->"true", "size"->"lg"), List(
							Map("id"->"start", "type"->"primary", "text"->messages(MessageKeys.START), "data-dismiss"->"modal", "default"->"true")
						)){

						<div class="slick-container">
							<div>@components.image(Map("id"->"", "source"->"holder.js/100px400?random=yes", "fluid"->"true", "alternate"->"Slide 1"))</div>
							<div>@components.image(Map("id"->"", "source"->"holder.js/100px400?random=yes", "fluid"->"true", "alternate"->"Slide 2"))</div>
							<div>@components.image(Map("id"->"", "source"->"holder.js/100px400?random=yes", "fluid"->"true", "alternate"->"Slide 3"))</div>
							<div>@components.image(Map("id"->"", "source"->"holder.js/100px400?random=yes", "fluid"->"true", "alternate"->"Slide 4"))</div>
							<div>@components.image(Map("id"->"", "source"->"holder.js/100px400?random=yes", "fluid"->"true", "alternate"->"Slide 5"))</div>
						</div>
					}
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.slick.last()
		@libraries.holder.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/application/firsttimeaccess.js")'></script>
	}
}
