@import models.components._
@import common.system._

@()

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components
@import views.html.helper._

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/application/ivd.css")'>
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->"IVD", "icon"->"fas fa-print", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"ivd"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">

						@components.linkbutton(Map("id"->"", "type"->"link", "icon"->"fas fa-link", "text"->Messages(MessageKeys.SETTING), "link"->controllers.setting.system.routes.System.index("font").toString))
					</div>

					<div class="mb-3">
						<h4 class="headline">@Messages(MessageKeys.FONT_HIRAGINOSANS__W3)</h4>
						<div class="row form-group">
							<div class="col-12">
								<input id="adobe-japan1Text" class="form-control h-72p inputText adobe-japan1" type="text" placeholder="" value="">
							</div>
						</div>
					</div>

					<div class="mb-3">
						<h4 class="headline">@Messages(MessageKeys.FONT_IPAMJMINCHO)</h4>
						<div class="row form-group">
							<div class="col-12">
								<input id="moji_johoText" class="form-control h-72p inputText moji_joho" type="text" placeholder="" value="">
							</div>
						</div>
					</div>

					<div class="mb-3">

						@components.modal(Map("id"->"pickerWindow", "icon"->"fas fa-font", "title"->Messages(MessageKeys.SELECT), "data-backdrop"->"static", "size"->"lg"), List(
								Map("id"->"ajaxCancel", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.CANCEL), "data-dismiss"->"modal"),
								Map("id"->"okButton", "type"->"primary", "text"->Messages(MessageKeys.OK), "data-toggle"->"modal", "data-target"->"#pickerWindow", "data-whatever"->"okButton", "default"->"true")
							)){
							<div>
								<p class="text-danger"></p>
							</div>
							<div class="row form-group mb-0">
								<label for="inputType" class="col-sm-3 col-form-label">@Messages(MessageKeys.TYPE)</label>
								<div class="col-sm-9">
									@for(character_type <- apis.character.Character.Type.values()) {
									<div class="custom-control custom-radio custom-control-inline">
										<input id="characterTypes@character_type" class="custom-control-input type" type="radio" name="searchType" value="@character_type.toString()" @("checked".when(apis.character.Character.Type.CHARACTER == character_type))>
										<label class="custom-control-label" for="characterTypes@character_type">@Messages(character_type.getMessageKey())</label>
									</div>
									}
								</div>
							</div>
							<div class="row form-group mb-0">
								<label for="searchText" class="col-sm-3 col-form-label required">@(Messages(MessageKeys.SEARCH)+" "+Messages(MessageKeys.VALUE))</label>
								<div class="col-sm-9">
									<input id="searchText" type="text" name="searchText" class="form-control" placeholder="" value="" required autofocus>
									<small class="text-muted">Description of search value.</small>
									<div>
										<p class="text-danger"></p>
									</div>
								</div>
							</div>
							@components.container(Map("id"->"", "fluid"->"true")){
								<div class="row">
									<h3 id="character">
										Base character
										<small class="text-muted">Base character info.</small>
									</h3>
								</div>
								<div class="row">@Messages(MessageKeys.VARIATION)</div>
								<div id="variations" class="row mb-3">
								</div>
							}
							<div class="wordwrap">
								<div id="ajaxMessage" class="lead"></div>
								<div id="ajaxDescription">-</div>
							</div>
							@components.progress(Map("id"->"ajaxProgress", "value"->"0", "max"->"100", "striped"->"true", "animated"->"true"))
						}

						@components.button(Map("id"->"", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.SELECT), "data-toggle"->"modal", "data-target"->"#pickerWindow"))
					</div>

					<div class="mt-3"></div>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"variationEmpty":"@Messages(MessageKeys.X__IS__X, Messages(MessageKeys.VARIATION), Messages(MessageKeys.EMPTY))",
			"@MessageKeys.PLEASE__WAIT":"@Messages(MessageKeys.PLEASE__WAIT)",
			"@MessageKeys.FAILURE":"@Messages(MessageKeys.FAILURE)",
			"@MessageKeys.STATUS":"@Messages(MessageKeys.STATUS)",
			"@MessageKeys.ERROR":"@Messages(MessageKeys.ERROR)",
			"@MessageKeys.CODEPOINT":"@Messages(MessageKeys.CODEPOINT)",
			"@MessageKeys.HEX":"@Messages(MessageKeys.HEX)"
		}'></div>

		@libraries.standard.last()
		@libraries.holder.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/application/ivd.js")'></script>
	}
}
