@import common.system._
@import models.components._

@(pagingInfo:PagingInfo, dummyPageValues:List[String])

@equalPageSize(pageSize:Int) = @{

	pageSize == pagingInfo.getPageSize()
}

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.PAGE), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"paging"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<fieldset id="pageSizeSelect" class="form-group">
						<label for="pageSizeSelect">PageSize</label>
						<select class="form-control custom-select">
							<option value="10" @("selected".when(equalPageSize(10)))>10</option>
							<option value="25" @("selected".when(equalPageSize(25)))>25</option>
							<option value="50" @("selected".when(equalPageSize(50)))>50</option>
							<option value="100" @("selected".when(equalPageSize(100)))>100</option>
						</select>
					</fieldset>

					@dummyPageValues.toString()

					@components.adjust.pagination(Map("id"->"", "link"->ctx().request().path(), "query"->("size="+pagingInfo.getPageSize()), "pageIndex"->pagingInfo.getPageIndex().toString(), "pageCount"->pagingInfo.getPageCount().toString(), "visibleCount"->Math.min(10, pagingInfo.getPageCount()).toString))
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"path":"@ctx().request().path()"
		}'></div>

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/lab/application/paging.js")'></script>
	}
}
