@import models.components._
@import common.system._

@()

@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@frame(){

	@head("lab"){

		@libraries.standard.head()
		@style(){

		}
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->(Messages(MessageKeys.PART)+" "+Messages(MessageKeys.PRINT)), "icon"->"fa fa-print", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"partprint"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9 mb-3">

					<div id="printContent0">@components.image(Map("id"->"", "source"->"holder.js/100px200?random=yes", "fluid"->"true", "alternate"->(Messages(MessageKeys.PRINT) + ' ' + Messages(MessageKeys.CONTENT))))</div>
					<div>

						@components.button(Map("id"->"printContent0Button", "type"->"primary", "outline"->"true", "icon"->"fa fa-print", "text"->Messages(MessageKeys.PRINT)))
					</div>

					<div class="mt-3"></div>
					<div id="printContent1">@components.image(Map("id"->"", "source"->"holder.js/100px2000?random=yes", "fluid"->"true", "alternate"->(Messages(MessageKeys.PRINT) + ' ' + Messages(MessageKeys.CONTENT))))</div>
					<div>

						@components.button(Map("id"->"printContent1Button", "type"->"primary", "outline"->"true", "icon"->"fa fa-print", "text"->Messages(MessageKeys.PRINT)))
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
		@libraries.holder.last()
		@script(){

			$('#printContent0Button').on('click', function(){

				printPart('#printContent0');
			});

			$('#printContent1Button').on('click', function(){

				printPart('#printContent1');
			});
		}
	}
}
