@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._
@import common.utils._
@import models.user._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/application/righttoleft.css")'>
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->(Messages(MessageKeys.RIGHT) + " to " + Messages(MessageKeys.LEFT)), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"righttoleft"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div id="rightToLeftContents" class="col-md-9">
					<div>
						<h4 class="">@(Messages(MessageKeys.RIGHT) + " to " + Messages(MessageKeys.LEFT))</h4>
						اهلا وسهلا
					</div>
				</div>
			</div>
		}

		@libraries.standard.last()
	}
}
