@import common.system._

@(prop:scala.collection.immutable.Map[String, String])

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="@controllers.lab.application.routes.Download.index().toString()" class="list-group-item @("active".when(equalTask("download")))">@Messages(MessageKeys.DOWNLOAD)</a>
	<a href="@controllers.lab.application.routes.Upload.index().toString()" class="list-group-item @("active".when(equalTask("upload")))">@Messages(MessageKeys.UPLOAD)</a>
	<a href="@controllers.lab.application.routes.Application.paging(0, 100).toString()" class="list-group-item @("active".when(equalTask("paging")))">@Messages(MessageKeys.PAGE)</a>
	<a href="@controllers.lab.application.routes.Application.index("autosave").toString()" class="list-group-item @("active".when(equalTask("autosave")))">@(Messages(MessageKeys.AUTO)+" "+Messages(MessageKeys.SAVE))</a>
	<a href="@controllers.lab.application.routes.Application.index("storeform").toString()" class="list-group-item @("active".when(equalTask("storeform")))">Store Form</a>
	<a href="@controllers.lab.application.routes.Application.index("firsttimeaccess").toString()" class="list-group-item @("active".when(equalTask("firsttimeaccess")))">@(Messages(MessageKeys.FIRST__TIME)+" "+Messages(MessageKeys.ACCESS))</a>
	<a href="@controllers.lab.application.routes.Application.index("partprint").toString()" class="list-group-item @("active".when(equalTask("partprint")))">@(Messages(MessageKeys.PART)+" "+Messages(MessageKeys.PRINT))</a>
	<a href="@controllers.lab.application.routes.Application.index("ivd").toString()" class="list-group-item @("active".when(equalTask("ivd")))">IVD</a>
	<a href="@controllers.lab.application.routes.Application.index("authorization").toString()" class="list-group-item @("active".when(equalTask("authorization")))">@Messages(MessageKeys.AUTHORIZATION)</a>

	<a href="@controllers.lab.application.routes.WebSocket.index().toString()" class="list-group-item @("active".when(equalTask("websocket"))) lab d-none">WebSocket</a>
	<a href="@controllers.lab.application.routes.Application.index("comet").toString()" class="list-group-item @("active".when(equalTask("comet"))) lab d-none">Comet</a>
	<a href="@controllers.lab.application.routes.Application.index("serialtask").toString()" class="list-group-item @("active".when(equalTask("serialtask"))) lab d-none">Serial Task</a>
	<a href="@controllers.lab.application.routes.Application.index("paralleltask").toString()" class="list-group-item @("active".when(equalTask("paralleltask"))) lab d-none">Parallel Task</a>
	<a href="@controllers.lab.application.routes.Application.index("webservice").toString()" class="list-group-item @("active".when(equalTask("webservice"))) lab d-none">Web Service</a>
	<a href="@controllers.lab.application.routes.Application.index("translate").toString()" class="list-group-item @("active".when(equalTask("translate"))) lab d-none">Translate</a>
	<a href="@controllers.lab.application.routes.Application.index("righttoleft").toString()" class="list-group-item @("active".when(equalTask("righttoleft"))) lab d-none">Right to Left</a>
	<a href="@controllers.lab.application.routes.Application.index("vertical").toString()" class="list-group-item @("active".when(equalTask("vertical"))) lab d-none">Vertical</a>
</div>

@script(){

	document.onkeydown = function(e){

		if(e.altKey && e.keyCode === 89){

			if($){

				$('.lab.d-none').removeClass('d-none');
			}
			return false;
		}
	};
}
