@import common.system._

@(prop:scala.collection.immutable.Map[String, String])

@equalTask(task:String) = @{

	task.equals(prop.getOrElse("task", ""))
}

<div id="@prop.getOrElse("id", "")" class="list-group mb-3">
	<a href="@controllers.lab.application.routes.Download.index().toString()" class="list-group-item @("active".when(equalTask("download")))">@Messages(MessageKeys.DOWNLOAD)</a>
	<a href="@controllers.lab.application.routes.Upload.index().toString()" class="list-group-item @("active".when(equalTask("upload")))">@Messages(MessageKeys.UPLOAD)</a>
	<a href="@controllers.lab.application.routes.Application.paging(0, 100).toString()" class="list-group-item @("active".when(equalTask("paging")))">@Messages(MessageKeys.PAGE)</a>
	<a href="@controllers.lab.application.routes.Application.index("autosave").toString()" class="list-group-item @("active".when(equalTask("autosave")))">@(Messages(MessageKeys.AUTO)+" "+Messages(MessageKeys.SAVE))</a>
	<a href="@controllers.lab.application.routes.Application.index("storeform").toString()" class="list-group-item @("active".when(equalTask("storeform")))">Store Form</a>
	<a href="@controllers.lab.application.routes.Application.index("firsttimeaccess").toString()" class="list-group-item @("active".when(equalTask("firsttimeaccess")))">@(Messages(MessageKeys.FIRST__TIME)+" "+Messages(MessageKeys.ACCESS))</a>
	<a href="@controllers.lab.application.routes.Application.index("partprint").toString()" class="list-group-item @("active".when(equalTask("partprint")))">@(Messages(MessageKeys.PART)+" "+Messages(MessageKeys.PRINT))</a>
	<a href="@controllers.lab.application.routes.Application.index("ivd").toString()" class="list-group-item @("active".when(equalTask("ivd")))">IVD</a>

	<a href="@controllers.lab.application.routes.Application.index("jar").toString()" class="list-group-item @("active".when(equalTask("jar"))) secret">JAR</a>
	<a href="@controllers.lab.application.routes.Application.index("jpql").toString()" class="list-group-item @("active".when(equalTask("jpql"))) secret">JPQL</a>
	<a href="@controllers.lab.application.routes.WebSocket.index().toString()" class="list-group-item @("active".when(equalTask("websocket"))) secret">WebSocket</a>
	<a href="@controllers.lab.application.routes.Application.index("comet").toString()" class="list-group-item @("active".when(equalTask("comet"))) secret">Comet</a>
	<a href="@controllers.lab.application.routes.Application.index("serialtask").toString()" class="list-group-item @("active".when(equalTask("serialtask"))) secret">Serial Task</a>
	<a href="@controllers.lab.application.routes.Application.index("paralleltask").toString()" class="list-group-item @("active".when(equalTask("paralleltask"))) secret">Parallel Task</a>
	<a href="@controllers.lab.application.routes.Application.index("webservice").toString()" class="list-group-item @("active".when(equalTask("webservice"))) secret">Web Service</a>
	<a href="@controllers.lab.application.routes.Application.index("translate").toString()" class="list-group-item @("active".when(equalTask("translate"))) secret">Translate</a>
	<a href="@controllers.lab.application.routes.Application.index("righttoleft").toString()" class="list-group-item @("active".when(equalTask("righttoleft"))) secret">Right to Left</a>
	<a href="@controllers.lab.application.routes.Application.index("vertical").toString()" class="list-group-item @("active".when(equalTask("vertical"))) secret">Vertical</a>

	<a href="@controllers.lab.application.routes.Application.index("authorization").toString()" class="list-group-item @("active".when(equalTask("authorization")))">@Messages(MessageKeys.AUTHORIZATION)</a>
</div>
