@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/application/upload.css")'>
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.UPLOAD), "icon"->"fa fa-pencil", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"upload"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">
						<h4 class="headline">Form</h4>
						@components.adjust.alert(Map("id"->"", "icon"->"fa fa-check", "text"->play.mvc.Controller.flash("success"), "closable"->"true", "flashKey"->"success"))
						@components.adjust.alert(Map("id"->"", "icon"->"fa fa-exclamation-triangle", "text"->play.mvc.Controller.flash("warning"), "type"->"warning", "closable"->"true", "flashKey"->"warning"))

						@helper.form(helper.CSRF(controllers.lab.application.routes.Upload.form()), 'name->"normalForm", 'enctype -> "multipart/form-data") {

							<div class="row">
								<div class="col-md-12">

									<label class="custom-file w-100">
										<input id="file" type="file" name="inputName" class="custom-file-input">
										<span class="custom-file-control"></span>
									</label>
								</div>
							</div>
							<input type="submit" class="btn btn-outline-primary" value="@Messages(MessageKeys.UPLOAD)">
						}
					</div>

					<div class="mb-3">
						<h4 class="headline">@(Messages(MessageKeys.IMAGE)+" "+Messages(MessageKeys.PREVIEW))</h4>
						@components.adjust.alert(Map("id"->"", "icon"->"fa fa-check", "text"->play.mvc.Controller.flash("imageSuccess"), "closable"->"true", "flashKey"->"imageSuccess"))
						@components.adjust.alert(Map("id"->"", "icon"->"fa fa-exclamation-triangle", "text"->play.mvc.Controller.flash("imageWarning"), "type"->"warning", "closable"->"true", "flashKey"->"imageWarning"))

						<div class="row">

							<div class="col-md-6">

								@helper.form(helper.CSRF(controllers.lab.application.routes.Upload.image()), 'name->"imageForm", 'enctype -> "multipart/form-data") {

									<div class="row">
										<div class="col-md-12">

											<label class="custom-file w-100">
												<input id="imageFile" type="file" name="inputName" class="custom-file-input">
												<span class="custom-file-control"></span>
											</label>
										</div>
									</div>
									<input type="submit" class="btn btn-outline-primary" value="@Messages(MessageKeys.UPLOAD)">
								}
							</div>

							<div class="col-md-6">

								<div id="imagePreview" class="imagePreview"></div>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<h4 class="headline">Ajax</h4>
						@components.alert(Map("id"->"ajaxSuccess", "icon"->"fa fa-check", "text"->"", "closable"->"true"))
						@components.alert(Map("id"->"ajaxWarning", "icon"->"fa fa-exclamation-triangle", "text"->"", "type"->"warning", "closable"->"true"))

						@helper.form(helper.CSRF(controllers.lab.application.routes.Upload.direct()), 'name->"ajaxForm", 'enctype -> "multipart/form-data", 'id->"ajaxForm") {

							<div class="row">
								<div class="col-md-12">

									<label class="custom-file w-100">
										<input id="ajaxFile" type="file" name="inputName" class="custom-file-input">
										<span class="custom-file-control"></span>
									</label>
									@components.modal(Map("id"->"ajaxDialog", "icon"->"fa fa-spinner fa-pulse", "title"->Messages(MessageKeys.REQUEST), "closable"->"false", "data-backdrop"->"static"), List(
											Map("id"->"ajaxCancel", "type"->"primary", "outline"->"true", "text"->Messages(MessageKeys.CANCEL), "data-dismiss"->"modal")
										)){
										<div class="wordwrap">
											<div id="ajaxMessage" class="lead">@Messages(MessageKeys.PLEASE__WAIT)</div>
											<div id="ajaxDescription">-</div>
										</div>
										@components.progress(Map("id"->"ajaxProgress", "value"->"100", "max"->"100", "striped"->"true", "animated"->"true"))
									}
								</div>
							</div>
							<p>
								@components.button(Map("id"->"ajaxSubmit", "type"->"primary", "outline"->"true", "icon"->"fa fa-upload", "text"->Messages(MessageKeys.UPLOAD)))
							</p>
						}
					</div>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.FAILURE":"@Messages(MessageKeys.FAILURE)",
			"@MessageKeys.STATUS":"@Messages(MessageKeys.STATUS)",
			"@MessageKeys.ERROR":"@Messages(MessageKeys.ERROR)",
			"@MessageKeys.PLEASE__WAIT":"@Messages(MessageKeys.PLEASE__WAIT)"
		}'></div>

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/lab/application/upload.js")'></script>
	}
}
