@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConverters._

@import play.i18n.Lang
@import play.i18n.Messages

@import views.html._
@import views.html.components
@import views.html.helper._

@import common.system._

@(alertInfo: java.util.Map[String, String])(implicit request:Http.Request, lang: Lang, messages: Messages)

@frame(){

	@head("lab"){

		@libraries.standard.head()
		<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/lab/application/upload.css")'>
	}

	@body("lab","application"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){

			@breadcrumb(Map("id"->"", "name"->messages(MessageKeys.UPLOAD), "icon"->"fas fa-upload", "selected"->"true"))
		}

		@components.container(Map("id"->"", "fluid"->"true")){
			<div class="row">
				<div class="col-md-3">

					@tasks(Map("id"->"", "task"->"upload"))
				</div>
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9">

					<div class="mb-3">
						<h4 class="headline">Form</h4>
						@components.adjust.alert(Map("id"->"", "icon"->"fas fa-check", "text"->alertInfo.asScala.getOrElse("success", "-"), "closable"->"true", "display"->alertInfo.containsKey("success").toString))
						@components.adjust.alert(Map("id"->"", "icon"->"fas fa-exclamation-triangle", "text"->alertInfo.asScala.getOrElse("warning", "-"), "type"->"warning", "closable"->"true", "display"->alertInfo.containsKey("warning").toString))

						@helper.form(helper.CSRF(controllers.lab.application.routes.Upload.form()), 'name->"normalForm", 'enctype -> "multipart/form-data") {

							<div class="row">
								<div class="col-md-12">

									<div class="custom-file">
										<input id="file" type="file" name="inputName" class="custom-file-input">
										<label class="custom-file-label" for="file"></label>
									</div>
								</div>
							</div>
							<p>
								@components.button(Map("id"->"", "action"->"submit", "type"->"primary", "outline"->"true", "icon"->"fas fa-upload", "text"->messages(MessageKeys.UPLOAD)))
							</p>
						}
					</div>

					<div class="mb-3">
						<h4 class="headline">@(messages(MessageKeys.IMAGE)+" "+messages(MessageKeys.PREVIEW))</h4>
						@components.adjust.alert(Map("id"->"", "icon"->"fas fa-check", "text"->alertInfo.asScala.getOrElse("imageSuccess", "-"), "closable"->"true", "display"->alertInfo.containsKey("imageSuccess").toString))
						@components.adjust.alert(Map("id"->"", "icon"->"fas fa-exclamation-triangle", "text"->alertInfo.asScala.getOrElse("imageWarning", "-"), "type"->"warning", "closable"->"true", "display"->alertInfo.containsKey("imageWarning").toString))

						<div class="row">

							<div class="col-md-6">

								@helper.form(helper.CSRF(controllers.lab.application.routes.Upload.image()), 'name->"imageForm", 'enctype -> "multipart/form-data") {

									<div class="row">
										<div class="col-md-12">

											<div class="custom-file">
												<input id="imageFile" type="file" name="inputName" class="custom-file-input">
												<label class="custom-file-label" for="imageFile"></label>
											</div>
										</div>
									</div>
									<p>
										@components.button(Map("id"->"", "action"->"submit", "type"->"primary", "outline"->"true", "icon"->"fas fa-upload", "text"->messages(MessageKeys.UPLOAD)))
									</p>
								}
							</div>

							<div class="col-md-6">

								<div id="imagePreview" class="imagePreview"></div>
							</div>
						</div>
					</div>

					<div class="mb-3">
						<h4 class="headline">Ajax</h4>
						@components.alert(Map("id"->"ajaxSuccess", "icon"->"fas fa-check", "text"->"", "closable"->"true"))
						@components.alert(Map("id"->"ajaxWarning", "icon"->"fas fa-exclamation-triangle", "text"->"", "type"->"warning", "closable"->"true"))

						@helper.form(helper.CSRF(controllers.lab.application.routes.Upload.direct()), 'name->"ajaxForm", 'enctype -> "multipart/form-data", 'id->"ajaxForm") {

							<div class="row">
								<div class="col-md-12">

									<div class="custom-file">
										<input id="ajaxFile" type="file" name="inputName" class="custom-file-input">
										<label class="custom-file-label" for="ajaxFile"></label>
									</div>
									@components.modal(Map("id"->"ajaxDialog", "icon"->"fas fa-spinner fa-pulse", "title"->messages(MessageKeys.REQUEST), "closable"->"false", "data-backdrop"->"static"), List(
											Map("id"->"ajaxCancel", "type"->"primary", "outline"->"true", "text"->messages(MessageKeys.CANCEL), "data-dismiss"->"modal")
										)){
										<div class="wordwrap">
											<div id="ajaxMessage" class="lead">@messages(MessageKeys.PLEASE__WAIT)</div>
											<div id="ajaxDescription">-</div>
										</div>
										@components.progress(Map("id"->"ajaxProgress", "value"->"100", "max"->"100", "striped"->"true", "animated"->"true"))
									}
								</div>
							</div>
							<p>
								@components.button(Map("id"->"ajaxSubmit", "type"->"primary", "outline"->"true", "icon"->"fas fa-upload", "text"->messages(MessageKeys.UPLOAD)))
							</p>
						}
					</div>
				</div>
			</div>
		}

		<div id="system_messages" class="d-none" data-messages='{
			"@MessageKeys.FAILURE":"@messages(MessageKeys.FAILURE)",
			"@MessageKeys.STATUS":"@messages(MessageKeys.STATUS)",
			"@MessageKeys.ERROR":"@messages(MessageKeys.ERROR)",
			"@MessageKeys.PLEASE__WAIT":"@messages(MessageKeys.PLEASE__WAIT)"
		}'></div>

		@libraries.standard.last()
		<script @{CSPNonce.attr} src='@routes.Assets.versioned("javascripts/lab/application/upload.js")'></script>
	}
}
