@import scala.collection.immutable._
@import scala.collection.immutable.Map
@import scala.collection.immutable.Seq
@import scala.collection.immutable.List
@import scala.collection.JavaConversions._
@import views.html._
@import views.html.components

@import common.system._

@()

@frame(){

	@head("lab"){

		@libraries.standard.head()
	}

	@body("lab","maintenance"){

		@components.container(Map("id"->"", "fluid"->"true", "class"->"mt-3")){
			@breadcrumb(Map("id"->"", "name"->Messages(MessageKeys.MASTER), "icon"->"fas fa-pencil-alt", "selected"->"true"))
		}

		@components.container(Map("id"->"masterContent", "fluid"->"true", "class"->"d-none")){
			<div class="row">
				<div class="mt-3 d-md-none">
				</div>
				<div class="col-md-9 table-responsive">

					@components.table(Map("id"->"targetlist", "striped"->"true"),
						Map("id"->""),Tuple2(Map("id"->""),List(
							Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.TARGET)),
							Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.DETAIL)))),
						Map("id"->""),List(
							Tuple2(Map("id"->""),List(
								Map("id"->"", "text"->"T00001"),
								Map("id"->"", "text"->components.button(Map("id"->"", "class"->"nextButton", "type"->"link", "icon"->"fas fa-arrow-circle-right", "text"->"")).toString()))),
							Tuple2(Map("id"->""),List(
								Map("id"->"", "text"->"T00002"),
								Map("id"->"", "text"->components.button(Map("id"->"", "class"->"nextButton", "type"->"link", "icon"->"fas fa-arrow-circle-right", "text"->"")).toString())))),
						Map("id"->""),Tuple2(Map("id"->""),List(
							Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.TARGET)),
							Map("id"->"", "head"->"true", "text"->Messages(MessageKeys.DETAIL))))
					)
				</div>
			</div>
		}

		@libraries.standard.last()
		<script src='@routes.Assets.versioned("javascripts/lab/maintenance/master.js")'></script>
	}
}
