@charset "utf-8";

.icon_container{
	width: 100px;
	text-align: center;
	float: left;
}

.icon_list .icon_container:nth-child(even)>.icon_body { color: #4fc3f7 }
.icon_list .icon_container:nth-child(odd)>.icon_body { color: #039be5 }

.icon_result_list .icon_container:nth-child(even)>.icon_body { color: #ffb74d }
.icon_result_list .icon_container:nth-child(odd)>.icon_body { color: #fb8c00 }

.icon_container>.icon_caption{
	font-size: 0.7rem;
}

.icon_list .icon_container:nth-child(odd)>.icon_caption,
.icon_result_list .icon_container:nth-child(odd)>.icon_caption { color: rgba(0, 0, 0, 0.5) }
