@charset "utf-8";

.icon_container{
	width: 100px;
	text-align: center;
	float: left;
}

.icon_list .icon_container:nth-child(1n)>.icon_body { color: #ff6666 }
.icon_list .icon_container:nth-child(2n)>.icon_body { color: #ffcc66 }
.icon_list .icon_container:nth-child(3n)>.icon_body { color: #66ff66 }
.icon_list .icon_container:nth-child(4n)>.icon_body { color: #66ccff }
.icon_list .icon_container:nth-child(5n)>.icon_body { color: #6666ff }
.icon_list .icon_container:nth-child(6n)>.icon_body { color: #cc66ff }
.icon_list .icon_container:nth-child(7n)>.icon_body { color: #ff66ff }

.icon_result_list .icon_container:nth-child(1n)>.icon_body { color: #ff2222 }
.icon_result_list .icon_container:nth-child(2n)>.icon_body { color: #ff8822 }
.icon_result_list .icon_container:nth-child(3n)>.icon_body { color: #22ff22 }
.icon_result_list .icon_container:nth-child(4n)>.icon_body { color: #2288ff }
.icon_result_list .icon_container:nth-child(5n)>.icon_body { color: #2222ff }
.icon_result_list .icon_container:nth-child(6n)>.icon_body { color: #8822ff }
.icon_result_list .icon_container:nth-child(7n)>.icon_body { color: #ff22ff }

.icon_container>.icon_caption{
	font-size: 0.7rem;
}

.icon_list .icon_container:nth-child(odd)>.icon_caption,
.icon_result_list .icon_container:nth-child(odd)>.icon_caption { color: rgba(0, 0, 0, 0.5) }
